<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headersE"
            :items="dessertsEtres"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Estimación de Recursos</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5"
                        >Edicion - {{ editedItemEtres.amenazas.amenaza }}</span
                      >
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-container>
                              <v-row>
                                <v-col cols="6" sm="6" md="12">
                                  <v-text-field
                                    label="Nombre de la amenza"
                                    v-model="editedItemEtres.amenazas.amenaza"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                  min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    v-model="
                                      editedItemEtres.amenazas.probabilidad
                                    "
                                    type="number"
                                    label="Probabilidad de la Amenaza "
                                    @click:append-outer="
                                      editedItemEtres.amenazas.probabilidad =
                                        parseInt(
                                          editedItemEtres.amenazas.probabilidad,
                                          10
                                        ) + 1
                                    "
                                    @click:prepend="
                                      editedItemEtres.amenazas.probabilidad =
                                        parseInt(
                                          editedItemEtres.amenazas.probabilidad,
                                          10
                                        ) - 1
                                    "
                                  >
                                  </v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip
                                    text-color="black"
                                    :color="
                                      getColor(
                                        editedItemEtres.amenazas.probabilidad
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTexto(
                                        editedItemEtres.amenazas.probabilidad
                                      )
                                    }}
                                  </v-chip>
                                </v-col>
                              </v-row>

                              <v-row>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                  min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    v-model="editedItemEtres.amenazas.impacto"
                                    type="number"
                                    label="Probabilidad de Impacto"
                                    @click:append-outer="
                                      editedItemEtres.amenazas.impacto =
                                        parseInt(
                                          editedItemEtres.amenazas.impacto,
                                          10
                                        ) + 1
                                    "
                                    @click:prepend="
                                      editedItemEtres.amenazas.impacto =
                                        parseInt(
                                          editedItemEtres.amenazas.impacto,
                                          10
                                        ) - 1
                                    "
                                  >
                                  </v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip
                                    :color="
                                      getColor(editedItemEtres.amenazas.impacto)
                                    "
                                    text-color="black"
                                    dark
                                  >
                                    {{
                                      obtenerTexto(
                                        editedItemEtres.amenazas.impacto
                                      )
                                    }}
                                  </v-chip>
                                </v-col>
                              </v-row>

                              <v-row>
                                 <v-col cols="3" sm="3" md="3">
                                  <p>Severidad</p>
                                </v-col>
                                <v-col cols="3" sm="3" md="3">
                                  <v-text-field
                                  min="1"
                                    max="5"
                                    
                                    oninput="validity.valid||(value='');"
                                    :value="obtenerSeveridad()"
                                    label="Severidad"
                                    solo
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip
                                    text-color="black"
                                    :color="
                                      getColorSeveridad(
                                        editedItemEtres.amenazas.severidad
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTextoSeveridad(
                                        editedItemEtres.amenazas.severidad
                                      )
                                    }}
                                  </v-chip>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-row>
                              <v-col cols="3" sm="3" md="3">
                                <v-text-field
                                  v-model="editedItemEtres.rpo"
                                  type="number"
                                  label="RPO"
                                >
                                </v-text-field>
                              </v-col>
                              <v-col cols="9" sm="9" md="9">
                                <v-progress-linear
                                  style="margin-top:18px"
                                  v-model="editedItemEtres.rpo"
                                  :color="getColorBarra(editedItemEtres.rpo)"
                                  height="25"
                                  aria-valuemax="25"
                                  aria-valuemin="3"
                                ></v-progress-linear>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="3" sm="3" md="3">
                                <v-text-field
                                  v-model="editedItemEtres.rto"
                                  type="number"
                                  label="RTO"
                                >
                                </v-text-field>
                              </v-col>
                              <v-col cols="9" sm="9" md="9">
                                <v-progress-linear
                                  style="margin-top:18px"
                                  v-model="editedItemEtres.rto"
                                  :color="getColorBarra(editedItemEtres.rto)"
                                  height="25"
                                  aria-valuemax="25"
                                  aria-valuemin="3"
                                ></v-progress-linear>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="agregarProceso"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarEstimacion"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:[`item.amenazas`]="{ item }">
              <v-row style="margin-top: 10px">
                <v-col cols="6" sm="6" md="6">
                  <h4>{{ item.amenazas.amenaza }}</h4>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" sm="3" md="3">
                  <p>Probabilidad:</p>
                </v-col>
                <v-col cols="3" sm="3" md="3">
                  <v-chip
                    :color="getColor(item.amenazas.probabilidad)"
                    text-color="black"
                    dark
                  >
                    {{ obtenerTexto(item.amenazas.probabilidad) }}
                  </v-chip>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" sm="3" md="3">
                  <p>Impacto</p>
                </v-col>
                <v-col cols="3" sm="3" md="3">
                  <v-chip
                    :color="getColor(item.amenazas.impacto)"
                    text-color="black"
                    dark
                  >
                    {{ obtenerTexto(item.amenazas.impacto) }}
                  </v-chip>
                </v-col>
              </v-row>
              <v-row style="margin-bottom: 10px">
                <v-col cols="3" sm="3" md="3">
                  <p>Severidad</p>
                </v-col>
                <v-col cols="3" sm="3" md="3">
                  <v-chip
                    :color="getColorSeveridad(item.amenazas.severidad)"
                    text-color="black"
                    dark
                  >
                    {{ obtenerTextoSeveridad(item.amenazas.severidad) }}
                  </v-chip>
                </v-col>
              </v-row>
            </template>
            <template v-slot:[`item.rpo`]="{ item }">
              <v-progress-linear
                v-model="item.rpo"
                :color="getColorBarra(item.rpo)"
                height="25"
                aria-valuemax="25"
                aria-valuemin="3"
              >
                <template v-slot:default="{ value }">
                  <strong>{{ item.rpo }} dias</strong>
                </template></v-progress-linear
              >
            </template>
            <template v-slot:[`item.rto`]="{ item }">
              <v-progress-linear
                style=""
                v-model="item.rto"
                :color="getColorBarra(item.rto)"
                height="25"
                aria-valuemax="25"
                aria-valuemin="3"
              >
              <template v-slot:default="{ value }">
                  <strong>{{ item.rto }} dias</strong>
                </template>
              </v-progress-linear>
            </template>
            <template v-slot:[`item.impacto`]="{ item }">
              <v-chip text-color="black" :color="getColor(item.impacto)" dark>
                {{ obtenerTexto(item.impacto) }}
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>

    <v-row>
      <v-btn
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="actualizarForm"
        >Actualizar Formulario</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
       rules: {
   
        num: (value) => {
          const pattern = /([1-5])/;
          return pattern.test(value) || "solo del 1 al 5";
          oninput="validity.valid||(value='');"
        },
      },
      flag: false,
      idForm: "",
      color: "",
      foo: 1,
      controles: [
        "",
        "1. Un solo tipo de control",
        "2. Detectivos y Correctivos"
      ],
      row: null,
      editedIndex: -1,
      headersE: [
        {
          text: "Recurso",
          align: "start",
          value: "amenazas"
        },
        { text: "RTO", value: "rto" },
        { text: "RPO", value: "rpo" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      dessertsEtres: [],
      amenazas: [],
      editedItemEtres: {
        amenazas: {
          amenaza: "Primordiales",
          probabilidad: 0,
          impacto: 0,
          severidad: 0
        },
        rpo: 0,
        rto: 0
      },
      defaultItemtres: {
        amenazas: {
          amenaza: "Primordiales",
          probabilidad: 0,
          impacto: 0,
          severidad: 0
        },
        rpo: 0,
        rto: 0
      },
      check: true,
      dialog: false
    };
  },
  mounted() {
    this.obtenerAmenazas();
  },

  methods: {
    incrementImpacto() {
      editedItemEtres.impacto = parseInt(editedItemEtres.impacto, 10) + 1;
     
      this.ActualizarPrioridad();
    },
    decrementImpacto() {
      editedItemEtres.impacto = parseInt(editedItemEtres.impacto, 10) - 1;
     
      this.ActualizarPrioridad();
    },
    incrementProbabilidad() {
      editedItemEtres.probabilidad =
        parseInt(editedItemEtres.probabilidad, 10) + 1;
      this.ActualizarPrioridad();
    },
    decrementProbabilidad() {
      editedItemEtres.probabilidad =
        parseInt(editedItemEtres.probabilidad, 10) - 1;
      this.ActualizarPrioridad();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemEtres = Object.assign({}, this.defaultItemtres);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.dessertsEtres.indexOf(item);
      this.editedItemEtres = Object.assign({}, item);
      this.dialog = true;
    },

    async actualizarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put(
          "api/sgcnegocio/biaValoracionGeneral/" + this.idForm,
          {
            usuario: user,
            amenazas: this.amenazas,
            recursos: this.dessertsEtres
          }
        );
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
      } catch (error) {
    
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },

    async obtenerAmenazas() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/biaValoracionGeneral/${user}`
        );
    
        this.idForm = res.data._id;
        this.dessertsEtres = res.data.recursos;
        this.amenazas = res.data.amenazas;
      } catch (error) {
      

         if(error.response.status == 404){
           this.$notifier.showMessage({
            content: "Primero se debe de ingresar las amenzas",
            color: "warning"
          });
        } else {
           this.$notifier.showMessage({
            content: "No se pudo recuperar la información",
            color: "error"
          });
        }
      }
    },

    actualizarEstimacion() {
      this.guardarMod();
    },
    guardarMod() {
  
      Object.assign(this.dessertsEtres[this.editedIndex], this.editedItemEtres);

      this.close();
    },

    formatoNumber() {
      this.editedItemEtres.amenazas.probabilidad = parseInt(
        this.editedItemEtres.amenazas.probabilidad,
        10
      );
      this.editedItemEtres.amenazas.impacto = parseInt(
        this.editedItemEtres.impacto,
        10
      );
      this.editedItemEtres.amenazas.severidad = parseInt(
        this.editedItemEtres.amenazas.severidad,
        10
      );
      this.editedItemEtres.rto = parseInt(this.editedItemEtres.rto, 10);
      this.editedItemEtres.rpo = parseInt(this.editedItemEtres.rpo, 10);
    },
    obtenerSeveridad() {
      this.editedItemEtres.amenazas.impacto = parseInt(
        this.editedItemEtres.amenazas.impacto,
        10
      );
      this.editedItemEtres.amenazas.probabilidad = parseInt(
        this.editedItemEtres.amenazas.probabilidad,
        10
      );
      this.editedItemEtres.amenazas.severidad =
        this.editedItemEtres.amenazas.impacto *
        this.editedItemEtres.amenazas.probabilidad;
  
      return (
        this.editedItemEtres.amenazas.impacto *
        this.editedItemEtres.amenazas.probabilidad
      );
    },
    getColor(value) {
      if (value === 1) {
        return "green";
      } else if (value === 2) {
        return "lead";
      } else if (value === 3) {
        return "yellow";
      } else if (value === 4) {
        return "orange";
      } else if (value === 5) {
        return "red";
      } else {
        return "blue";
      }
    },
    getColorBarra(value) {
      if (value <= 30) {
        return "success";
      } else if (value > 30 && value <= 60) {
        return "amber";
      } else {
        return "warning";
      }
    },
    obtenerTexto(value) {
      if (value === 1) {
        return "Muy Bajo";
      } else if (value === 2) {
        return "Bajo";
      } else if (value === 3) {
        return "Medio";
      } else if (value === 4) {
        return "Alto";
      } else if (value === 5) {
        return "Muy alto";
      } else {
        return "Ingresa un nuevo Valor";
      }
    },
    getColorSeveridad(value) {
      if (value >= 2 && value <= 3) {
        return "green";
      } else if (value >= 4 && value <= 7) {
        return "lead";
      } else if (value >= 8 && value <= 12) {
        return "yellow";
      } else if (value >= 13 && value <= 17) {
        return "orange";
      } else if (value >= 18) {
        return "red";
      } else {
        return "blue";
      }
    },
    obtenerTextoSeveridad(value) {
      if (value >= 2 && value <= 3) {
        return "Muy Bajo";
      } else if (value >= 4 && value <= 7) {
        return "Bajo";
      } else if (value >= 8 && value <= 12) {
        return "Medio";
      } else if (value >= 13 && value <= 17) {
        return "Alto";
      } else if (value >= 18) {
        return "Muy alto";
      } else {
        return "Ingresa un nuevo valor";
      }
    }
  }
};
</script>

<style>
.linea {
  background: black;
}
</style>
