<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-data-iterator
          :items="items"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
              <v-toolbar-title>Escala de Valoración de Riesgo no natural</v-toolbar-title>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.name"
                cols="12"
                sm="6"
                md="6"
                lg="6"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>

                  <v-divider></v-divider>

                  <v-row>
                    <v-col>
                      <v-list dense>
                        <v-list-item v-for="des in item.desastres" :key="des">
                          <v-col cols="3" sm="3" md="3" lg="3">
                            <v-list-item-content>
                              <v-chip :color="des.color" text-color="black">
                                <h4 style="text-align: center">
                                  {{ des.number }}
                                </h4>
                              </v-chip></v-list-item-content
                            >
                          </v-col>
                          <v-list-item-content class="align-end">{{
                            des.texto
                          }}</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
    </v-row>
   
  
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      itemsPerPage: 4,
      items: [
        {
          name: "1. NIVEL DE PROBABILIDAD",
          key: 1,
          desastres: [
            {
              texto:
                "No ha ocurrido hace más de un año",
              color: "green",
              number: "1 Muy Bajo"
            },
            {
              texto:
                "No ha ocurrido en el último año",
              color: "lead",
              number: "2 Bajo"
            },
            {
              texto:
                "No ha ocurrido en los últimos 6 meses",
              color: "yellow",
              number: "3 Medio"
            },
            {
              texto:
                "Se ha presentado en los últimos 3 meses.",
              color: "orange",
              number: "4 Alto"
            },
            {
              texto:
                "Ha ocurrido en el último mes.",
              color: "red",
              number: "5 Muy alto"
            }
          ]
        },
        {
          name: "2. NIVEL DE IMPACTO",
          key: 2,
          desastres: [
            {
              texto:
                "No afecta la continuidad del negocio.",
              color: "green",
              number: "1 Muy bajo"
            },
            {
              texto:
                "Afecta la credibilidad del negocio",
              color: "lead",
              number: "2 Bajo"
            },
            {
              texto:
                "Afecta algún proceso del negocio",
              color: "yellow",
              number: "3 Medio"
            },
            {
              texto:
                "Afecta temporalmente a los servicios del negocio.",
              color: "orange",
              number: "4 Alto"
            },
            {
              texto:
                "Otros requisitos menos restrictivos que los indicados previamente.",
              color: "green",
              number: "5 Muy Alto"
            }
          ]
        },
        {
          name:
            "3 . NIVEL DE SEVERIDAD",
          key: 3,
          desastres: [
            {
              texto:
                "No requiere supervición",
              color: "green",
              number: "1 Muy Bajo"
            },
            {
              texto:
                "Requiere que se presente en las estrategias generales",
              color: "lead",
              number: "2 Bajo"
            },
            {
              texto:
                "Requiere acciones moderadas en el PCN",
              color: "yellow",
              number: "3 Medio"
            },
            {
              texto:
                "Requiere un PCN y Plan de Recuperación Financiero",
              color: "orange",
              number: "4 Alto"
            },
            {
              texto:
                "Requiere determinar si es viable la reactivación del negocio",
              color: "green",
              number: "5 Muy alto"
            }
          ]
        },
        {
          name:
            "4. ESCALA DE VALORACIÓN DE RIESGO NATURAL",
          key: 4,
          desastres: [
            {
              texto:
                "No ha ocurrido hace más de 5 años",
              color: "green",
              number: "1 Bajo"
            },
            {
              texto:
                "Se ha presentado hace un año o menos",
              color: "orange",
              number: "2 Medio"
            },
            {
              texto:
                "Ha ocurrido en el ultimo mes",
              color: "red",
              number: "3 Alto"
            },
            
          ]
        },
       
      ],
     
    };
  }
};
</script>
