<template>
  <v-container>
    <v-row style="margin-bottom: 50px">
      <v-col cols="6" sm="6" md="6">
        <v-container>
          <v-row>
            <v-combobox
              label="Tipo de Recuersos"
              v-model="riesgoSeleccionado"
              :items="tipoRecurso"
            ></v-combobox>
          </v-row>
          <v-row>
            <v-radio-group v-if="riesgoSelec" v-model="radiosRI" mandatory>
              <v-radio color="red" label="Inmuebles" value="Uno"></v-radio>
              <v-radio color="red" label="Equipos" value="Dos"></v-radio>
              <v-radio
                color="red"
                label="Sistema Tecnológico"
                value="Tres"
              ></v-radio>
              <v-radio
                color="red"
                label="Recursos Humanos"
                value="Cuatro"
              ></v-radio>
            </v-radio-group>
            <v-radio-group v-else v-model="radiosS" mandatory>
              <v-radio color="red" label="Primordiales" value="Uno"></v-radio>
              <v-radio color="red" label="Secundarios" value="Dos"></v-radio>
            </v-radio-group>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img style="width: 45%" src="/resources.svg" alt="John" />
      </v-col>
    </v-row>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headersE"
            :items="dessertsE"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              
              <v-toolbar flat>
                <v-toolbar-title>Estimación del Riesgo</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ editedItemE.recurso }}</span>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col
                            style="text-align:center"
                            cols="12"
                            sm="6"
                            md="6"
                          >
                            <v-text-field
                              label="Nombre del Recurso"
                              v-model="editedItemE.recursosInternos"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="proveedorPropietario"
                              label="Proveedor / Propietario"
                              v-model="editedItemE.propietarioProveedor"
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="agregarRecurso"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="updateRecurso"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:[`item.recurso`]="{ item }">
              <h3>{{ item.recurso }}</h3>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>

    <v-row>
      <v-btn
        v-if="!flag"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="enviarForm"
        >Agregar Información</v-btn
      >
      <v-btn
        v-else
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="editar"
        >Actualizar Información</v-btn
      >
      >
    </v-row>
  </v-container>
</template>

<script>
import Riesgos from "./lists/listriesgo.vue";
export default {
  components: { Riesgos },

  data() {
    return {
      flag: false,
      tipoRecurso: ["Recursos Internos", "Servicios"],
      riesgoSelec: true,
      riesgoSeleccionado: "Recursos Internos",

      radiosRI: "",
      radiosS: "",

      internos: [],
      servicios: [],

      proveedorPropietario: ["Proveedor", "Propietario"],

      inmuebles: [],
      equipos: [],
      sistemas: [],
      humanos: [],

      primordiales: [],
      secundarios: [],

      idForm: "",
      color: "",
      foo: 1,
      radios: null,
      row: null,
      editedIndex: -1,
      headersE: [
        {
          text: "Recursos",
          align: "start",
          value: "recursosInternos"
        },
        { text: "Proveedor/Propietario", value: "propietarioProveedor" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      recursoInterno: [],
      serviciosSociales: [],
      suministros: [],
      dessertsE: [],
      editedItemE: {
        recursosInternos: "",
        propietarioProveedor: ""
      },
      defaultItem: {
        recursoInternos: "",
        propietarioProveedor: ""
      },
      check: true,
      dialog: false
    };
  },
  mounted() {
    this.obtenerRec()
  },

  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.dessertsE.indexOf(item);
     
      this.editedItemE = Object.assign({}, item);
      this.dialog = true;

   
    },
    async enviarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.post("api/sgcnegocio/bia2/agregarBia2", {
          usuario: user,
          recursosInternos: {
            Inmuebles: this.inmuebles,
            Equipos: this.equipos,
            SistemaTecnologico: this.sistemas,
            RecursosHumanos: this.humanos
          },
          servicios: {
            Primordiales: this.primordiales,
            Secundarios: this.secundarios,
          }
        });
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
      } catch (error) {
       
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },
     async updateForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put("api/sgcnegocio/bia2/agregarBia2", {
          usuario: user,
          recursosInternos: {
            Inmuebles: this.inmuebles,
            Equipos: this.equipos,
            SistemaTecnologico: this.sistemas,
            RecursosHumanos: this.humanos
          },
          servicios: {
            Primordiales: this.primordiales,
            Secundarios: this.secundarios,
          }
        });
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
      } catch (error) {
        
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },

    async obtenerRec() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/bia2/buscarBia2/vsaavedrae1222 `
        );
      

        this.flag = true
      } catch (error) {
      
         this.flag = false
      }
    },


    updateRecurso() {
       this.guardarMod();
    },


    changeDeseer() {
      if(this.riesgoSelec){
         this.cambiarDessert() 
      }else {
        this.cambiarDessert2() 
      }
    },

    updateDeseer() {
      if(this.riesgoSelec){
         this.actualizarDessert() 
      }else {
        this.actualizarDessert2() 
      }
    },

    cambiarDessert() {
      if (this.radiosRI === "Uno") {
        this.dessertsE = this.inmuebles;
      } else if (this.radiosRI === "Dos") {
        this.dessertsE = this.equipos;
      } else if (this.radiosRI === "Tres") {
        this.dessertsE = this.sistemas;
      } else {
        this.dessertsE = this.humanos;
      }
    },
    
    actualizarDessert() {
      if (this.radiosRI === "Uno") {
        this.inmuebles.slice()
        this.inmuebles = this.dessertsE  ;
      } else if (this.radiosRI === "Dos") {
        this.equipos.slice()
        this.equipos = this.dessertsE;
      } else if (this.radiosRI === "Tres") {
        this.sistemas.slice()
        this.sistemas = this.dessertsE ;
      } else {
        this.humanos.slice()
        this.humanos = this.dessertsE;
      }
    },
    cambiarDessert2() {
      if (this.radiosS === "Uno") {
        this.dessertsE = this.primordiales;
      } else {
        this.dessertsE = this.secundarios;
      }
    },
    actualizarDessert2() {
      if (this.radiosS === "Uno") {
        this.primordiales.slice()
        this.primordiales = this.dessertsE;
      } else {
         this.secundarios .slice()
        this.secundarios = this.dessertsE;
      }
    },

    agregarRecurso() {
      this.dessertsE.push({
        recursosInternos: this.editedItemE.recursosInternos,
        propietarioProveedor: this.editedItemE.propietarioProveedor
      })
      this.updateDeseer();
      this.close();
       
    },

    actualizarData() {
      if (this.radios === "Uno") {
        this.recursoInterno.slice();
        this.recursoInterno = this.dessertsE;
      } else if (this.radios === "Dos") {
        this.suministros.slice();
        this.suministros = this.dessertsE;
      } else {
        this.serviciosSociales.slice();
        this.serviciosSociales = this.dessertsE;
      }
    },

 
    guardarMod() {
      Object.assign(this.dessertsE[this.editedIndex], this.editedItemE);
      this.updateDeseer()
      this.close();
     
    }
  },
  watch: {
    riesgoSeleccionado: function(value) {
      if (value === "Recursos Internos") {
        this.riesgoSelec = true;
      } else {
        this.riesgoSelec = false;
      }
      this.dessertsE.slice();
      this.changeDeseer();
    },
    radiosS: function() {
      this.dessertsE.slice();
      this.cambiarDessert2();
    },
    radiosRI: function() {
     
      this.dessertsE.slice();
      this.cambiarDessert();
    }
  }
};
</script>

<style>
.linea {
  background: black;
}
</style>
