<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-center" style="margin-bottom:15px">
          Tipos de Amenaza
        </h2>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" sm="6" md="6">
        <v-radio-group v-model="radios" mandatory>
          <v-radio
            color="red"
            label="Desastres naturales"
            value="Uno"
          ></v-radio>
          <v-radio
            color="red"
            label="De origen humano interno"
            value="Dos"
          ></v-radio>
          <v-radio
            color="red"
            label="Origen Humano externo"
            value="Tres"
          ></v-radio>
          <v-radio
            color="red"
            label="Origen Tecnologico Industrial"
            value="Cuatro"
          ></v-radio>
        </v-radio-group>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 45%"
          src="https://www.drupal.org/files/project-images/undraw_warning_cyit.png"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="nombre"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Amenazas</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="itemsP"
                              label="Tipo de Amenaza"
                              v-model="editedItem.tipoAmenaza"
                            ></v-select>

                         
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.escenario"
                              label="Escenario"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-textarea
                              background-color="grey lighten-2"
                              color="cyan"
                              label="Descripción"
                              v-model="editedItem.descripcion"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviar"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarDat"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> Agregar nueva amenaza </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
       itemsP: [
        "Huracanes",
        "Inundaciones",
        "Tormentas",
        "Sequías",
        "Nevadas",
        "Sismos",
        "Granizadas",
        "Terrorismo",
        "Sabotaje",
        "Pandemia",
        "Epidemias",
        "Plagas",
        "Contaminación",
        "Lluvia ácida",
        "Incendios forestales",
        "Radiación",
        "Incendios Urbanos",
        "Explosiones"
      ],
      radios: null,
      dialog: false,
      putp: false,
      idForm: "",
      dialogDelete: false,
      id: "",
      tipoRecurso: "",
      nombre: "",
      contenido: "",
    
      items: [
        "Recursos Internos",
        "Servicios Esenciales",
        "Socios de Negocios"
      ],
      headers: [
        {
          text: "Tipo de Amenaza",
          align: "start",
          sortable: false,
          value: "tipoAmenaza"
        },
        { text: "Escenario", value: "escenario" },
        { text: "Descripción", value: "descripcion", sortable: false },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        tipoAmenaza: "",
        escenario: "",
        descripcion: ""
      },

      defaultItem: {
        tipoAmenaza: "",
        escenario: "",
        descripcion: ""
      },

      desastresNaturales: [],
      origenExterno: [],
      origenInterno: [],
      tecnologico: []
    };
  },
  mounted() {
    this.obtener();
  },
 

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    radios: function(value) {
      this.desserts.slice();
      this.cambiarDessert();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.actualizarData();
      this.close();
    },

    async actualizarDat() {
      this.guardarMod();
    },

    async putpost() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/recursos/buscarRecursosPorUsuario/" + user
        );

        if (!res.data.recursos) {
          this.putp = false;
       
        } else {
          this.idForm = res.data._id;
         
          this.putp = true;
     
        }
      } catch (err) {
       
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/biaListaAmanaza/" + user
        );
        console.log(res);
        this.idForm = res.data._id;
        console.log(this.idForm)
        this.desastresNaturales = res.data.lista.DesastresNaturales;
        this.origenExterno = res.data.lista.OrigenHumanoExt;
        this.origenInterno = res.data.lista.OrigenHumanoIn;
        this.tecnologico = res.data.lista.OrigenTecnologicoIndustrial;
        this.putp = true;

        this.cambiarDessert();
      } catch (err) {
        let dato = err.response.status;

        if (dato === 404) {
          this.desastresNaturales = [];
          this.origenExterno = [];
          this.origenInterno = [];
          this.tecnologico = [];
          this.putp = false;
        }
        this.cambiarDessert();
      }
    },
    cambiarDessert() {
      if (this.radios === "Uno") {
        this.desserts = this.desastresNaturales;
      } else if (this.radios === "Dos") {
        this.desserts = this.origenInterno;
      } else if (this.radios === "Tres") {
        this.desserts = this.origenExterno;
      } else {
        this.desserts = this.tecnologico;
      }
    },

    agregarEquipo() {
      this.desserts.push({
        tipoRecurso: this.editedItem.tipoRecurso,
        nombre: this.editedItem.nombre,
        contenido: this.editedItem.contenido
      
      });
    },
    actualizarData() {
      if (this.radios === "Uno") {
         this.desastresNaturales.slice();
        this.desastresNaturales = this.desserts;
      } else if (this.radios === "Dos") {
         this.origenInterno.slice();
         this.origenInterno = this.desserts;
      } else if (this.radios === "Tres") {
         this.origenExterno.slice();
         this.desserts = this.origenExterno;
         this.desserts = this.origenExterno
      } else {
         this.tecnologico.slice();
         this.tecnologico = this.desserts ;
      }

    },
    enviar() {
      this.desserts.push({
        tipoAmenaza: this.editedItem.tipoAmenaza,
        escenario: this.editedItem.escenario,
        descripcion: this.editedItem.descripcion
      });
      this.actualizarData();
      this.close();
    },
    async enviarForm() {


      if (this.putp) {
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.put("api/sgcnegocio/biaListaAmanaza/" + this.idForm, {
            usuario: user,
            lista: {
              DesastresNaturales: this.desastresNaturales,
              OrigenTecnologicoIndustrial: this.tecnologico,
              OrigenHumanoIn: this.origenInterno,
              OrigenHumanoExt: this.origenExterno 
            }
          });
          this.$notifier.showMessage({
            content: "Registro actualizado con éxito",
            color: "success"
          });
        } catch (error) {
          console.log(error);
          this.$notifier.showMessage({
            content: "No fue posible actualizar el registro",
            color: "error"
          });
        }
      } else {
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.post("api/sgcnegocio/biaListaAmanaza", {
           usuario: user,
            lista: {
              DesastresNaturales: this.desastresNaturales,
              OrigenTecnologicoIndustrial: this.tecnologico,
              OrigenHumanoIn: this.origenInterno,
              OrigenHumanoExt: this.origenExterno 
            }
          });
          this.$notifier.showMessage({
            content: "Registro añadido con éxito",
            color: "success"
          });
        } catch (error) {
          console.log(error);
          this.$notifier.showMessage({
            content: "No se pudo crear el registro",
            color: "error"
          });
        }
      }
    }
  }
};
</script>
