<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-data-iterator
          :items="items"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
              <v-toolbar-title>Descripción de tablas BIA</v-toolbar-title>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.name"
                cols="12"
                sm="6"
                md="6"
                lg="6"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>

                  <v-divider></v-divider>

                  <v-row>
                    <v-col>
                      <v-list dense>
                        <v-list-item v-for="des in item.desastres" :key="des">
                          <v-col cols="2" sm="2" md="2" lg="2">
                            <v-list-item-content>
                              <v-chip :color="des.color" text-color="black">
                                <h4 style="text-align: center">
                                  {{ des.number }}
                                </h4>
                              </v-chip></v-list-item-content
                            >
                          </v-col>
                          <v-list-item-content class="align-end">{{
                            des.texto
                          }}</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-data-iterator
          :items="itemsDos"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
              <v-toolbar-title>Descripción de tablas BIA</v-toolbar-title>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.name"
                cols="12"
                sm="5"
                md="5"
                lg="5"
              >
                <v-card style="margin-left:25px">
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>

                  <v-divider></v-divider>

                  <v-row>
                    <v-col>
                      <v-list dense>
                        <v-list-item v-for="des in item.desastres" :key="des">
                          <v-col cols="2" sm="2" md="2" lg="2">
                            <v-list-item-content>
                              <v-chip :color="des.color" text-color="black">
                                <h4 style="text-align: center">
                                  {{ des.number }}
                                </h4>
                              </v-chip></v-list-item-content
                            >
                          </v-col>
                          <v-list-item-content class="align-end">{{
                            des.texto
                          }}</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-data-iterator
          :items="itemsTres"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
              <v-toolbar-title>Descripción de tablas BIA</v-toolbar-title>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.name"
                cols="12"
                sm="6"
                md="6"
                lg="6"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>

                  <v-divider></v-divider>

                  <v-row>
                    <v-col>
                      <v-list dense>
                        <v-list-item v-for="des in item.desastres" :key="des">
                          <v-col cols="4" sm="4" md="4" lg="4">
                            <v-list-item-content>
                              <v-chip :color="des.color" text-color="black">
                                <h4 style="text-align: center">
                                  {{ des.number }}
                                </h4>
                              </v-chip></v-list-item-content
                            >
                          </v-col>
                          <v-list-item-content class="align-end">{{
                            des.texto
                          }}</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      itemsPerPage: 4,
      items: [
        {
          name: "1. TABLA PARA ESTIMAR EL RTO",
          key: 1,
          desastres: [
            {
              texto:
                "La actividad o el proceso requiere alta disponibilidad (100%).",
              color: "red",
              number: "1"
            },
            {
              texto:
                "La actividad o el proceso no puede estar interrumpida más de 8 horas.",
              color: "orange",
              number: "2"
            },
            {
              texto:
                "La actividad o el proceso no puede estar interrumpida más de 24 horas.",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "La actividad o el proceso no puede estar interrumpida más de 72 horas.",
              color: "lead",
              number: "4"
            },
            {
              texto:
                "Otros requisitos menos restrictivos que los indicados previamente.",
              color: "green",
              number: "5"
            }
          ]
        },
        {
          name: "2. TABLA PARA ESTIMAR EL RPO",
          key: 2,
          desastres: [
            {
              texto:
                "La actividad o el proceso requiere disponer del 100% de los datos.",
              color: "red",
              number: "1"
            },
            {
              texto:
                "La actividad o el proceso tolera la pérdida de los datos generados o modificados en las últimas 4 horas.",
              color: "orange",
              number: "2"
            },
            {
              texto:
                "La actividad o el proceso tolera la pérdida de los datos generados o modificados en las últimas 8 horas.",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "La actividad o el proceso tolera la pérdida de los datos generados o modificados en las últimas 24 horas.",
              color: "lead",
              number: "4"
            },
            {
              texto:
                "Otros requisitos menos restrictivos que los indicados previamente.",
              color: "green",
              number: "5"
            }
          ]
        },
        {
          name:
            "3. TABLA PARA ESTIMAR LA CAPACIDAD DE SISTEMAS EN TÉRMINOS DE RTO",
          key: 3,
          desastres: [
            {
              texto:
                "Los servicios y herramientas TIC de los que dependen la actividad o el proceso disponen de una configuración de alta disponibilidad (100%).",
              color: "red",
              number: "1"
            },
            {
              texto:
                "Es posible recuperar los servicios y herramientas TIC de los que dependen la actividad o el proceso en un tiempo inferior a 8h.",
              color: "orange",
              number: "2"
            },
            {
              texto:
                "Es posible recuperar los servicios y herramientas TIC de los que dependen la actividad o el proceso en un tiempo inferior a 24h.",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "Es posible recuperar los servicios y herramientas TIC de los que dependen la actividad o el proceso en un tiempo inferior a 72h.",
              color: "lead",
              number: "4"
            },
            {
              texto:
                "No existen medios que garanticen la recuperación de los servicios y herramientas TIC de los que dependen la actividad o el proceso en un tiempo inferior a los indicados y/o el tiempo de recuperación no está acotado. ",
              color: "green",
              number: "5"
            }
          ]
        },
        {
          name:
            "4. TABLA PARA ESTIMAR LA CAPACIDAD DE SISTEMAS EN TÉRMINOS DE RPO",
          key: 4,
          desastres: [
            {
              texto:
                "Los servicios y herramientas TIC de los que dependen la actividad o el proceso disponen de una configuración de alta disponibilidad de datos (100%).",
              color: "red",
              number: "1"
            },
            {
              texto:
                "La solución y política de copias existente garantiza que a lo sumo, se perderán los datos generados o modificados en las últimas 4 h.",
              color: "orange",
              number: "2"
            },
            {
              texto:
                "La solución y política de copias existente garantiza que a lo sumo, se perderán los datos generados o modificados en las últimas 8.",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "La solución y política de copias existente garantiza que a lo sumo, se perderán los datos generados o modificados en las últimas 24 h.",
              color: "lead",
              number: "4"
            },
            {
              texto: "No se realizan copias de seguridad.",
              color: "green",
              number: "5"
            }
          ]
        },
       
      ],
      itemsTres: [
         {
          name: "5. OPORTUNIDAD DE ACCIÓN DE CONTROL",
          key: 1,
          desastres: [
            {
              texto:
                "Controles de alto nivel orientados a prevenir la causa del riesgo en una etapa muy temprana. ",
              color: "red",
              number: "Preventivo"
            },
            {
              texto:
                "Controles claves que actúan durante el proceso y que permiten corregir las deficiencias .",
              color: "orange",
              number: "Correctivo"
            },
            {
              texto:
                "Controles claves que actúan durante el proceso y que permiten corregir las deficiencias.",
              color: "yellow",
              number: "Detectivo"
            }
          ]
        },
        {
          name: "2. TABLA PARA ESTIMAR EL RPO",
          key: 2,
          desastres: [
            {
              texto:
                "Preventivos, Detectivos, Correctivos ",
              color: "green",
              number: "5 MUY ALTA"
            },
            {
              texto:
                "Preventivos y Detectivos   ",
              color: "lead",
              number: "4 ALTA"
            },
            {
              texto:
                "Preventivos y Correctivos ",
              color: "yellow",
              number: "3 MEDIA"
            },
            {
              texto:
                "Detectivos y Correcitvos ",
              color: "orange",
              number: "4 BAJA"
            },
            {
              texto:
                "Un solo tipo de control ",
              color: "red",
              number: "5 MUY BAJA"
            }
          ]
        },
        {
          name:
            "9. IDENTIFICACIÓN PROCESOS CRÍTICOS",
          key: 3,
          desastres: [
            {
              texto:
                "Si la multiplicación del impacto por la probabilidad es mayor que el valor 16 el proceso se identifica como crítico. ",
              color: "red",
              number: "PROCESO_CRÍTICO"
            },
            {
              texto:
                "Si la multiplicación del impacto por la probabilidad es menor que el valor 16 el proceso se identifica como no crítico. ",
              color: "green",
              number: "PROCESO_NO_CRÍTICO"
            },
            
          ]
        },
       
      ],
      itemsDos: [
          {
          name: "5. TABLA PARA ESTIMAR EL GRADO DE  IMPACTO",
          key: 1,
          desastres: [
            {
              texto:
                "Los servicios que se han visto afectados representan perdidas en mas de $50.000,00",
              color: "red",
              number: "5"
            },
            {
              texto:
                "Los servicios que se han visto afectados representan perdidas entre $25.000,00 a $50.000,00",
              color: "orange",
              number: "4"
            },
            {
              texto:
                "Los servicios que se han visto afectados representan perdidas entre $10.000,00 a $25.000,00",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "Los servicios que se han visto afectados representan perdidas entre $5.000,00 a $10.000,00",
              color: "lead",
              number: "2"
            },
            {
              texto:
                "El grado de afectación ecónomico es mínimo entre $0-$5.0000,00",
              color: "green",
              number: "1"
            }
          ]
        },
        {
          name: "6. TABLA DE PROBABILIDAD",
          key: 2,
          desastres: [
            {
              texto:
                "Probabilidad extremadamente alta de que los servicios se vean afectados",
              color: "red",
              number: "5"
            },
            {
              texto:
                "Probabilidad alta de que los servicios se vean afectados",
              color: "orange",
              number: "4"
            },
            {
              texto:
                "Probabilidad media de que los servicios se vean afectados",
              color: "yellow",
              number: "3"
            },
            {
              texto:
                "Probabilidad baja de que los servicios se vean afectados",
              color: "lead",
              number: "2"
            },
            {
              texto:
                "Probabilidad sumamente baja de que los servicios se vean afectados",
              color: "green",
              number: "1"
            }
          ]
        },
        

      ]
    };
  }
};
</script>
