<template>
  <v-container>
    <v-row style="margin-bottom: 50px">
      <v-col cols="6" sm="6" md="6">
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-banner single-line @click:icon="alert">
                <v-icon slot="icon" color="warning" size="36">
                  mdi-wifi-strength-alert-outline
                </v-icon>
                Los procesos críticos son aquellos que “no pueden caer”
              </v-banner>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img style="width: 45%" src="/procesoCritico.svg" alt="John" />
      </v-col>
    </v-row>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headersE"
            :items="dessertsE"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Procesos </v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1200px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{
                        editedItemE.nombreProceso
                      }}</span>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="4" md="4">
                            <v-container>
                              <v-row>
                                <v-col cols="6" sm="6" md="12">
                                  <v-text-field
                                    label="Nombre del proceso"
                                    v-model="editedItemE.nombreProceso"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="6" sm="6" md="12">
                                  <v-select
                                    :items="controles"
                                    label="Controles Aplicados"
                                    v-model="editedItemE.controlesAplicados"
                                  ></v-select>
                                </v-col>
                              </v-row>
                             
                              <v-row>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                    v-model="editedItemE.impacto"
                                    type="number"
                                    label="Impacto"
                                    min="1"
                                    max="5"
                                    oninput="validity.valid||(value='');"
                                    :rules="[rules.num]"
                                  >
                                  </v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                    min="1"
                                    max="5"
                                    oninput="validity.valid||(value='');"
                                    :rules="[rules.num]"
                                    v-model="editedItemE.probabilidad"
                                    type="number"
                                    label="Probabilidad"
                                    @click:append-outer="incrementProbabilidad"
                                    @click:prepend="decrementProbabilidad"
                                  >
                                  </v-text-field>
                                </v-col>
                              </v-row>

                              <v-row>
                                <v-col cols="3" sm="3" md="3">
                                  <p>Severidad:</p>
                                </v-col>
                                <v-col cols="3" sm="3" md="3">
                                  <v-text-field
                                    :value="obtenerPrioridad()"
                                    label="Solo"
                                    solo
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                    v-if="editedItemE.procesoCritico"
                                    background-color="red"
                                    value="PROCESO CRÍTCO"
                                    label="Solo"
                                    solo
                                    readonly
                                  ></v-text-field>
                                  <v-text-field
                                    v-else
                                    background-color="green"
                                    value="PROCESO NO CRÍTICO"
                                    label="Solo"
                                    solo
                                    readonly
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-col>
                          <v-col cols="12" sm="8" md="8">
                            <v-row>
                              <v-col cols="2" sm="3" md="3">
                                <v-text-field
                                 min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    v-model="editedItemE.estimacionRTO"
                                    oninput="validity.valid||(value='');"
                                    type="number"
                                    label="Estimación RTO"
                                    @click:append-outer="
                                      editedItemE.estimacionRTO =
                                        parseInt(
                                          editedItemE.estimacionRTO,
                                          10
                                        ) + 1
                                    "
                                    @click:prepend="
                                      editedItemE.estimacionRTO =
                                        parseInt(
                                          editedItemE.estimacionRTO,
                                          10
                                        ) - 1
                                    "
                                  >
                                  </v-text-field>
                              </v-col>
                              <v-col cols="10" sm="9" md="9">
                                <v-chip
                                    text-color="black"
                                    :color="
                                      getColorGeneral(
                                        editedItemE.estimacionRTO
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTextoEstimacionRTO(
                                        editedItemE.estimacionRTO
                                      )
                                    }}
                                  </v-chip>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="2" sm="3" md="3">
                                 <v-text-field
                                  min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    v-model="editedItemE.capacidadSistemasRTO"
                                    type="number"
                                    label="Capacidad RTO"
                                    @click:append-outer="
                                      editedItemE.capacidadSistemasRTO =
                                        parseInt(
                                          editedItemE.capacidadSistemasRTO,
                                          10
                                        ) + 1
                                    "
                                    @click:prepend="
                                      editedItemE.capacidadSistemasRTO =
                                        parseInt(
                                          editedItemE.capacidadSistemasRTO,
                                          10
                                        ) - 1
                                    "
                                  >
                                  </v-text-field>
                              </v-col>
                              <v-col cols="10" sm="9" md="9">
                                <v-chip
                                    text-color="black"
                                    :color="
                                      getColorGeneral(
                                        editedItemE.capacidadSistemasRTO
                                        
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTextoCapacidadRTO(
                                        editedItemE.capacidadSistemasRTO
                                      )
                                    }}
                                  </v-chip>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="2" sm="3" md="3">
                                 <v-text-field
                                  min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    v-model="editedItemE.estimacionRPO"
                                    type="number"
                                    label="Estimaicón RPO"
                                    @click:append-outer="
                                      editedItemE.estimacionRPO =
                                        parseInt(
                                          editedItemE.estimacionRPO,
                                          10
                                        ) + 1
                                    "
                                    @click:prepend="
                                      editedItemE.estimacionRPO =
                                        parseInt(
                                          editedItemE.estimacionRPO,
                                          10
                                        ) - 1
                                    "
                                  >
                                  </v-text-field>
                              </v-col>
                              <v-col cols="10" sm="9" md="9">
                                <v-chip
                                    text-color="black"
                                    :color="
                                      getColorGeneral(
                                        editedItemE.estimacionRPO
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTextoEstimacionRPO(
                                        editedItemE.estimacionRPO
                                      )
                                    }}
                                  </v-chip>
                              </v-col>
                            </v-row>
                             <v-row>
                              <v-col cols="2" sm="3" md="3">
                                <v-text-field
                                 min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    v-model="editedItemE.capacidadRPO"
                                    type="number"
                                    label="Capacidad RPO"
                                    @click:append-outer="
                                      editedItemE.capacidadRPO =
                                        parseInt(editedItemE.capacidadRPO, 10) +
                                        1
                                    "
                                    @click:prepend="
                                      editedItemE.capacidadRPO =
                                        parseInt(editedItemE.capacidadRPO, 10) -
                                        1
                                    "
                                  >
                                  </v-text-field>
                              </v-col>
                              <v-col cols="10" sm="9" md="9">
                                <v-chip
                                    text-color="black"
                                    :color="
                                      getColorGeneral(
                                        editedItemE.capacidadRPO
                                      )
                                    "
                                    dark
                                  >
                                    {{
                                      obtenerTextoCapacidadRPO(
                                        editedItemE.capacidadRPO
                                      )
                                    }}
                                  </v-chip>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="agregarProceso"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarEstimacion"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:[`item.procesoCritico`]="{ item }">
              <p style="margin-top: 5px" v-if="!item.procesoCritico">
                <v-chip class="ma-2" color="green" outlined>
                  <h4>PROCESO NO CRÍTICO</h4>
                </v-chip>
              </p>
              <p style="margin-top: 5px" v-else>
                <v-chip class="ma-2" color="red" outlined>
                  <h4>PROCESO CRÍTICO</h4>
                </v-chip>
              </p>
            </template>

            <template v-slot:[`item.nombreProceso`]="{ item }">
              <h4>{{ item.nombreProceso }}</h4>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>

    <v-row>
      <v-btn
        v-if="!flag"
        style="margin-top:15px"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="enviarForm"
        >Enviar Formulario</v-btn
      >
      <v-btn
        v-else
        style="margin-top:15px"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="actualizarForm"
        >Actualizar Formulario</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      rules: {
   
        num: (value) => {
          const pattern = /([1-5])/;
          return pattern.test(value) || "solo del 1 al 5";
          oninput="validity.valid||(value='');"
        },
      },
      flag: false,
      isLoading: false,
      idForm: "",
      color: "",
      foo: 1,
      controles: [
        "",
        "1. Un solo tipo de control",
        "2. Detectivos y Correctivos",
        "3. Preventivos y Correctivos",
        "4. Preventivos y Detectivos",
        "5. Preventivos"
      ],
      row: null,
      editedIndex: -1,
      headersE: [
        {
          text: "Procesos",
          align: "start",
          value: "nombreProceso"
        },
        { text: "Estimación (RTO)", value: "estimacionRTO" },
        { text: "Estimación (RPO)", value: "estimacionRPO" },
        { text: "Capacidad Sistemas (RTO)", value: "capacidadSistemasRTO" },
        { text: "Capacidad RPO", value: "capacidadRPO" },
        { text: "Controles Aplicados", value: "controlesAplicados" },
        { text: "Impacto", value: "impacto" },
        { text: "Probabilidad", value: "probabilidad" },
        { text: "Prioridad", value: "prioridad" },
        { text: "Proceso Crítico", value: "procesoCritico" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      dessertsE: [],
      editedItemE: {
        nombreProceso: "MANTENIMIENTO",
        estimacionRTO: 1,
        estimacionRPO: 2,
        capacidadSistemasRTO: 3,
        capacidadRPO: 2,
        controlesAplicados: "1. Un solo tipo de control",
        impacto: 2,
        probabilidad: 3,
        prioridad: 6,
        procesoCritico: true
      },
      defaultItem: {
        nombreProceso: "INGRESO - PROCESO",
        estimacionRTO: 1,
        estimacionRPO: 1,
        capacidadSistemasRTO: 1,
        capacidadRPO: 1,
        controlesAplicados: "",
        impacto: 1,
        probabilidad: 1,
        prioridad: 0,
        procesoCritico: true
      },
      check: true,
      dialog: false
    };
  },
  mounted() {
    this.obtenerProcesos();
    this.close();
  },

  methods: {
    incrementImpacto() {
      editedItemE.impacto = parseInt(editedItemE.impacto, 10) + 1;
    
      this.ActualizarPrioridad();
    },
    decrementImpacto() {
      editedItemE.impacto = parseInt(editedItemE.impacto, 10) - 1;
     
      this.ActualizarPrioridad();
    },
    incrementProbabilidad() {
      editedItemE.probabilidad = parseInt(editedItemE.probabilidad, 10) + 1;
      this.ActualizarPrioridad();
    },
    decrementProbabilidad() {
      editedItemE.probabilidad = parseInt(editedItemE.probabilidad, 10) - 1;
      this.ActualizarPrioridad();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.dessertsE.indexOf(item);
      this.editedItemE = Object.assign({}, item);
      this.dialog = true;
    },
    async enviarForm() {
      this.isLoading = true;
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put("api/sgcnegocio/BIAAnalisisImpacto", {
          usuario: user,

          detalle: this.dessertsE
        });
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
        this.obtenerProcesos();
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
      this.isLoading = false;
    },

    async actualizarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put("api/sgcnegocio/BIAAnalisisImpacto", {
          _id: this.idForm,
          usuario: user,

          detalle: this.dessertsE
        });
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
      } catch (error) {
       
      
      }
    },

    async obtenerProcesos() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/BIAAnalisisImpacto/${user}`
        );
        console.log(res);
        this.idForm = res.data._id;
        this.flag = true;
        this.dessertsE = res.data.detalle;
      } catch (error) {
        console.log(error.response);
        this.flag = false;

      
      }
    },

    agregarProceso() {
      this.formatoNumber();
      console.log(this.editedItemE);
      this.dessertsE.push({
        nombreProceso: this.editedItemE.nombreProceso,
        estimacionRTO: this.editedItemE.estimacionRTO,
        estimacionRPO: this.editedItemE.estimacionRPO,
        capacidadSistemasRTO: this.editedItemE.capacidadSistemasRTO,
        capacidadRPO: this.editedItemE.capacidadRPO,
        controlesAplicados: this.editedItemE.controlesAplicados,
        impacto: this.editedItemE.impacto,
        probabilidad: this.editedItemE.probabilidad,
        prioridad: this.editedItemE.prioridad,
        procesoCritico: this.editedItemE.procesoCritico
      });
      this.close();
    },

    actualizarEstimacion() {
      this.guardarMod();
    },
    guardarMod() {
      this.formatoNumber();

      console.log(this.editedItemE);
      Object.assign(this.dessertsE[this.editedIndex], this.editedItemE);

      this.close();
    },

    formatoNumber() {
      this.editedItemE.estimacionRTO = parseInt(
        this.editedItemE.estimacionRTO,
        10
      );
      this.editedItemE.estimacionRPO = parseInt(
        this.editedItemE.estimacionRPO,
        10
      );
      this.editedItemE.capacidadSistemasRTO = parseInt(
        this.editedItemE.capacidadSistemasRTO,
        10
      );
      this.editedItemE.capacidadRPO = parseInt(
        this.editedItemE.capacidadRPO,
        10
      );
      this.editedItemE.impacto = parseInt(this.editedItemE.impacto, 10);
      this.editedItemE.probabilidad = parseInt(
        this.editedItemE.probabilidad,
        10
      );
    },
    obtenerPrioridad() {
      this.editedItemE.impacto = parseInt(this.editedItemE.impacto, 10);
      this.editedItemE.probabilidad = parseInt(
        this.editedItemE.probabilidad,
        10
      );
      this.editedItemE.prioridad =
        this.editedItemE.impacto * this.editedItemE.probabilidad;
      this.obtenerProcesosT();
      return this.editedItemE.impacto * this.editedItemE.probabilidad;
    },
    obtenerProcesosT() {
      this.editedItemE.prioridad = parseInt(this.editedItemE.prioridad, 10);
      if (this.editedItemE.prioridad >= 16) {
        this.editedItemE.procesoCritico = true;
        return true;
      } else {
        this.editedItemE.procesoCritico = false;
        return false;
      }
    },
    getColorGeneral(value) {
       this.formatoNumber();
      console.log(value)
     
      if (value === 1) {
        return "red";
      } else if (value === 2) {
        return "orange";
      } else if (value === 3) {
        return "yellow";
      } else if (value === 4) {
        return "lead";
      } else {
        return "green";
      }
    },
    obtenerTextoEstimacionRTO(value) {
      this.formatoNumber();
      if (value === 1) {
        return "La actividad o el proceso requiere alta disponibilidad (100%)";
      } else if (value === 2) {
        return "La actividad o el proceso no puede estar interrumpida más de 8 horas";
      } else if (value === 3) {
        return "La actividad o el proceso no puede estar interrumpida más de 24 horas.";
      } else if (value === 4) {
        return "La actividad o el proceso no puede estar interrumpida más de 72 horas.";
      } else {
        return "Otros requisitos menos restrictivos que los indicados previamente.";
      }
    },
    obtenerTextoEstimacionRPO(value) {
      this.formatoNumber();
      if (value === 1) {
        return "La actividad o el proceso requiere alta disponibilidad (100%)";
      } else if (value === 2) {
        return "La actividad o el proceso no puede estar interrumpida más de 4 horas";
      } else if (value === 3) {
        return "La actividad o el proceso no puede estar interrumpida más de 8 horas.";
      } else if (value === 4) {
        return "La actividad o el proceso no puede estar interrumpida más de 24 horas.";
      } else {
        return "Otros requisitos menos restrictivos que los indicados previamente.";
      }
    },
     obtenerTextoCapacidadRTO(value) {
       this.formatoNumber();
      if (value === 1) {
        return "Los servicios y herramientas TIC de los que dependen el proceso disponen de una configuración de alta disponibilidad (100%).";
      } else if (value === 2) {
        return "Es posible recuperar los servicios en un tiempo inferior a 8h.";
      } else if (value === 3) {
        return "Es posible recuperar los servicios en un tiempo inferior a 24h";
      } else if (value === 4) {
        return "Es posible recuperar los servicios en un tiempo inferior a 72h";
      } else {
        return "No existen medios que garanticen la recuperación de los servicios";
      }
    },
    obtenerTextoCapacidadRPO(value) {
      this.formatoNumber();
      if (value === 1) {
        return "Los servicios y herramientas TIC de los que dependen el proceso disponen de una configuración de alta disponibilidad (100%).";
      } else if (value === 2) {
        return "La solución garantiza que a lo sumo, se perderán los datos generados en las últimas 4 h.";
      } else if (value === 3) {
        return "La solución garantiza que a lo sumo, se perderán los datos generados en las últimas 8 h.";
      } else if (value === 4) {
        return "La solución garantiza que a lo sumo, se perderán los datos generados en las últimas 24 h.";
      } else {
        return "No se realizan copias de seguridad.";
      }
    },
    
  }
};
</script>

<style>
.linea {
  background: black;
}
</style>
