<template>
  <v-container>
    <v-row style="margin-bottom: 50px">
      <v-col cols="6" sm="6" md="6">
        <v-banner two-line>
    <v-avatar
      slot="icon"
      color="deep-purple accent-4"
      size="40"
    >
      <v-icon
        icon="mdi-lock"
        color="white"
      >
        mdi-lock
      </v-icon>
    </v-avatar>

    Agregar una valoración a cada una de las amenazas

   
  </v-banner>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 45%"
          src="/warning.svg"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headersE"
            :items="dessertsEtres"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Procesos </v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Edición - {{ editedItemEtres.amenaza }}</span>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-container>
                              <v-row>
                                <v-col cols="6" sm="6" md="12">
                                  <v-text-field
                                    label="Nombre de la amenza"
                                    v-model="editedItemEtres.amenaza"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                    v-model="editedItemEtres.probabilidad"
                                    type="number"
                                    label="Probabilidad de la Amenaza "
                                     min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    @click:append-outer="
                                      editedItemEtres.probabilidad =
                                        parseInt(editedItemEtres.probabilidad, 10) +
                                        1
                                    "
                                    @click:prepend="
                                      editedItemEtres.probabilidad =
                                        parseInt(editedItemEtres.probabilidad, 10) -
                                        1
                                    "
                                  >
                                  </v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip text-color="black"
                                    :color="getColor(editedItemEtres.probabilidad)"
                                    dark
                                  >
                                    {{ obtenerTexto(editedItemEtres.probabilidad) }}
                                  </v-chip>
                                </v-col>
                              </v-row>

                              <v-row>
                                <v-col cols="6" sm="6" md="6">
                                  <v-text-field
                                    v-model="editedItemEtres.impacto"
                                    type="number"
                                    label="Probabilidad de Impacto"
                                     min="1"
                                    max="5"
                                    :rules="[rules.num]"
                                    oninput="validity.valid||(value='');"
                                    @click:append-outer="
                                      editedItemEtres.impacto =
                                        parseInt(editedItemEtres.impacto, 10) + 1
                                    "
                                    @click:prepend="
                                      editedItemEtres.impacto =
                                        parseInt(editedItemEtres.impacto, 10) - 1
                                    "
                                  >
                                  </v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip :color="getColor(editedItemEtres.impacto)" text-color="black" dark>
                                    {{ obtenerTexto(editedItemEtres.impacto) }}
                                  </v-chip>
                                </v-col>
                              </v-row>

                              <v-row>
                                <v-col cols="3" sm="3" md="3">
                                  <p>Severidad</p>
                                </v-col>
                                <v-col cols="3" sm="3" md="3">
                                  <v-text-field
                                    :value="obtenerSeveridad()"
                                     min="1"
                                     max="5"
                                    
                                    oninput="validity.valid||(value='');"
                                    label="Severidad"
                                    solo
                                    readonly
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="6" sm="6" md="6">
                                  <v-chip
                                  text-color="black"
                                    :color="getColorSeveridad(editedItemEtres.severidad)"
                                    dark
                                  >
                                    {{ obtenerTextoSeveridad(editedItemEtres.severidad) }}
                                  </v-chip>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-col>
                          <v-col
                            cols="12"
                            sm="6"
                            md="6"
                            class="d-flex flex-column align-center justify-space-around"
                          >
                            <img
                              style="width: 80%"
                              src="/nature.svg"
                              alt="John"
                            />
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="agregarProceso"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarEstimacion"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:[`item.amenza`]="{ item }">
              <h4>{{ item.amenaza }}</h4>
            </template>
            <template v-slot:[`item.probabilidad`]="{ item }">
              <v-chip  text-color="black" :color="getColor(item.probabilidad)" dark>
                {{ obtenerTexto(item.probabilidad) }}
              </v-chip>
            </template>
            <template v-slot:[`item.impacto`]="{ item }">
              <v-chip   text-color="black"  :color="getColor(item.impacto)" dark>
                {{ obtenerTexto(item.impacto) }}
              </v-chip>
            </template>
            <template v-slot:[`item.severidad`]="{ item }">
              <v-chip  text-color="black" :color="getColorSeveridad(item.severidad)" dark>
                {{ obtenerTextoSeveridad(item.severidad) }}
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>

    <v-row>
    
      <v-btn

        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="actualizarForm"
        >Actualizar Formulario</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
       rules: {
   
        num: (value) => {
          const pattern = /([1-5])/;
          return pattern.test(value) || "solo del 1 al 5";
          oninput="validity.valid||(value='');"
        },
      },
      flag: false,
      idForm: "",
      color: "",
      foo: 1,
      controles: [
        "",
        "1. Un solo tipo de control",
        "2. Detectivos y Correctivos"
      ],
      row: null,
      editedIndex: -1,
      headersE: [
        {
          text: "Amenza",
          align: "start",
          value: "amenaza"
        },
        { text: "Impacto", value: "impacto" },
        { text: "Probabilidad", value: "probabilidad" },
        { text: "Severidad", value: "severidad" },

        { text: "Acciones", value: "actions", sortable: false }
      ],
      dessertsEtres: [],
      recursos: [],
      editedItemEtres: {
        amenaza: "",
        impacto: 0,
        probabilidad: 0,
        severidad: 0
      },
      defaultItemtres: {
        amenaza: "",
        impacto: 0,
        probabilidad: 0,
        severidad: 0
      },
      check: true,
      dialog: false
    };
  },
  mounted() {
    this.obtenerAmenazas();

  },

  methods: {
    incrementImpacto() {
      editedItemEtres.impacto = parseInt(editedItemEtres.impacto, 10) + 1;
   
      this.ActualizarPrioridad();
    },
    decrementImpacto() {
      editedItemEtres.impacto = parseInt(editedItemEtres.impacto, 10) - 1;
     
      this.ActualizarPrioridad();
    },
    incrementProbabilidad() {
      editedItemEtres.probabilidad = parseInt(editedItemEtres.probabilidad, 10) + 1;
      this.ActualizarPrioridad();
    },
    decrementProbabilidad() {
      editedItemEtres.probabilidad = parseInt(editedItemEtres.probabilidad, 10) - 1;
      this.ActualizarPrioridad();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemEtres = Object.assign({}, this.defaultItemtres);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.dessertsEtres.indexOf(item);
      this.editedItemEtres = Object.assign({}, item);
      this.dialog = true;
    },
  

    async actualizarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put("api/sgcnegocio/biaValoracionGeneral/"+this.idForm, {
          usuario: user,
          amenazas: this.dessertsEtres,
          recursos: this.recursos
        });
        this.$notifier.showMessage({
          content: "Formulario enviado",
          color: "success"
        });
      } catch (error) {
  
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },

    async obtenerAmenazas() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/biaValoracionGeneral/${user}`
        );
    
         this.idForm = res.data._id;
         this.dessertsEtres = res.data.amenazas
         this.recursos = res.data.recursos

      } catch (error) {
    

         if(error.response.status == 404){
           this.$notifier.showMessage({
            content: "Debe enviar la estimación de daños referente a este riesgo en el paso anterior",
            color: "warning"
          });
        } else {
           this.$notifier.showMessage({
            content: "No se pudo recuperar la información",
            color: "error"
          });
        }
      }
    },

    

    actualizarEstimacion() {
      this.guardarMod();
    },
    guardarMod() {
      this.formatoNumber();
     
      Object.assign(this.dessertsEtres[this.editedIndex], this.editedItemEtres);

      this.close();
    },

    formatoNumber() {
      this.editedItemEtres.probabilidad = parseInt(this.editedItemEtres.probabilidad, 10);
      this.editedItemEtres.impacto = parseInt(
        this.editedItemEtres.impacto,
        10
      );
      this.editedItemEtres.severidad = parseInt(
        this.editedItemEtres.severidad,
        10
      );
    },
    obtenerSeveridad() {
      this.editedItemEtres.impacto = parseInt(this.editedItemEtres.impacto, 10);
      this.editedItemEtres.probabilidad = parseInt(
        this.editedItemEtres.probabilidad,
        10
      );
      this.editedItemEtres.severidad =
        this.editedItemEtres.impacto * this.editedItemEtres.probabilidad;

      return this.editedItemEtres.impacto * this.editedItemEtres.probabilidad;
    },
    getColor(value) {
      if (value === 1) {
        return "green";
      } else if (value === 2) {
        return "lead";
      } else if (value === 3) {
        return "yellow";
      } else if (value === 4) {
        return "orange";
      } else if (value === 5) {
        return "red";
      } else {
        return "blue";
      }
    },
    obtenerTexto(value) {
      if (value === 1) {
        return "Muy Bajo";
      } else if (value === 2) {
        return "Bajo";
      } else if (value === 3) {
        return "Medio";
      } else if (value === 4) {
        return "Alto";
      } else if (value === 5) {
        return "Muy alto";
      } else {
        return "Ingresa un nuevo Valor";
      }
    },
    getColorSeveridad(value) {
      if (value >= 2 && value<=3) {
        return "green";
      } else if (value >= 4 && value<=7) {
        return "lead";
      } else if (value >= 8 && value<=12) {
        return "yellow";
      } else if (value >= 13 && value<=17) {
        return "orange";
      } else if (value >= 18) {
        return "red";
      } else {
        return "blue";
      }
    },
    obtenerTextoSeveridad(value) {
      if (value >= 2 && value<=3) {
        return "Muy Bajo";
      } else if (value >= 4 && value<=7) {
        return "Bajo";
      } else if (value >= 8 && value<=12) {
        return "Medio";
      } else if (value >= 13 && value<=17) {
        return "Alto";
      } else if (value >= 18) {
        return "Muy alto";
      } else {
        return "Ingresa un nuevo valor";
      }
    }
  }
};
</script>

<style>
.linea {
  background: black;
}
</style>
