<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-data-iterator
          :items="items"
          :items-per-page.sync="itemsPerPage"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
              <v-toolbar-title>Descripción de tablas BIA</v-toolbar-title>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.name"
                cols="12"
                sm="12"
                md="12"
                lg="12"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>

                  <v-divider></v-divider>

                  <v-row>
                    <v-col>
                      <v-list dense>
                        <v-list-item v-for="des in item.desastres" :key="des">
                          <v-col cols="4" sm="4" md="4" lg="4">
                            <v-list-item-content>
                              <p>{{ des.texto }}</p>
                             
                            </v-list-item-content>
                          </v-col>
                          <v-list-item-content class="align-end">{{
                            des.number
                          }}</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Inmuebles"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Inmuebles"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Equipos"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Equipos"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Tecnológico"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Tecnologico"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Humanos"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Humanos"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Primordiales"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Primordiales"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              value="Secundarios"
              label="Solo"
              solo
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-select
              :items="controles"
              label="Recurso"
              v-model="Secundarios"
            ></v-select>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-btn
        v-if="!flag"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="enviar"
        >Agregar</v-btn
      >
      <v-btn
        v-else
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="updateFormulario"
        >Editar</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      flag: false,
      controles: ["Automatizada", "Semi-automatizada", "Manual"],
      idForm: "",
      Inmuebles: "",
      Equipos: "",
      Tecnologico: "",
      Humanos: "",
      Primordiales: "",
      Secundarios: "",
      items: [
        {
          name: "3. AUTOMATIZACION DE CONTROL EN RECURSOS",
          key: 1,
          desastres: [
            {
              texto: "Automatizada (AT) .",
              number:
                "Controles claves incorporados en el proceso, cuya aplicación es completamente informatizada. Están incorporados en los sistemas informatizados. . "
            },
            {
              texto: "Semiautomatizada (SA) .",

              number:
                "Controles claves incorporados en el proceso, cuya aplicación es parcialmente desarrollada mediante sistemas informatizados. ."
            },
            {
              texto: "Manual (MA) .",
              number:
                "Controles claves incorporados en el proceso, cuya aplicación no considera uso de sistemas informatizados. "
            }
          ]
        }
      ]
    };
  },

  mounted() {
      this.recuperaInformacion();
  },

  methods: {
    async recuperaInformacion() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/bIAAutomatizacionDeControlEnRecursos/buscarBIAAutomatizacionDeControlEnRecursosPorUser/${user}`
        );
        this.Inmuebles = res.data[0].inmueble
        this.Humanos = res.data[0].humanos
        this.Primordiales = res.data[0].primordiales
        this.Secundarios = res.data[0].secundarios
        this.Tecnologico = res.data[0].tecnologico
        this.Equipos = res.data[0].equipos
        this.flag = true;
        this.idForm = res.data[0]._id
      } catch (error) {
        this.flag = false;
      }
    },

    async enviar() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.post(
          `api/sgcnegocio/bIAAutomatizacionDeControlEnRecursos/agregarBIAAutomatizacionDeControlEnRecursos`,
          {
            user: user,
            inmueble: this.Inmuebles,
            equipos: this.Equipos,
            tecnologico: this.Tecnologico,
            humanos: this.Humanos,
            primordiales: this.Primordiales,
            secundarios: this.Secundarios
          }
        );
        this.$notifier.showMessage({
          content: "Formulario enviado correctamente",
          color: "success"
        });
        this.recuperaInformacion();
      } catch (error) {
        this.$notifier.showMessage({
          content: "El formulario no pudo ser enviado",
          color: "error"
        });
      }
    },

    async updateFormulario() {
      try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put(
          `api/sgcnegocio/bIAAutomatizacionDeControlEnRecursos/actualizarBIAAutomatizacionDeControlEnRecursos/${this.idForm}`,
          {
            user: user,
            inmueble: this.Inmuebles,
            equipos: this.Equipos,
            tecnologico: this.Tecnologico,
            humanos: this.Humanos,
            primordiales: this.Primordiales,
            secundarios: this.Secundarios
          }
        );
        this.$notifier.showMessage({
          content: "Formulario actualizado",
          color: "success"
        });
      } catch (error) {
          this.$notifier.showMessage({
          content: "El formulario no pudo ser actualizado",
          color: "error"
        });
      }
    }
  }
};
</script>
