<template>
  <v-container>
    <v-row style="margin-bottom: 50px">
      <v-col cols="6" sm="6" md="6">
        <v-container>
          <v-row>
            <v-combobox v-model="riesgoSeleccionado" :items="actividadPrioritaria"></v-combobox>
          </v-row>
          <v-row>
            <v-radio-group v-model="radios" mandatory>
              <v-radio
                color="red"
                label="Recursos Internos"
                value="Uno"
              ></v-radio>
              <v-radio
                color="red"
                label="Servicios Publicos"
                value="Dos"
              ></v-radio>
              <v-radio
                color="red"
                label="Socios Externos"
                value="Tres"
              ></v-radio>
            </v-radio-group>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 60%"
          src="https://www.iso27000.es/assets/images/riesgos.gif"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
            sort-by="nombre"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="800px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon> mdi-plus </v-icon>
                    </v-btn>
                  </template>

                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Estrategia de Continuidad</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                         <!-- <v-col cols="8" sm="6" md="4">
                            <v-text-field
                              v-model="editedItem.recurso"
                              label="Recursos"
                            ></v-text-field>
                          </v-col>-->

                          <v-col cols="12" sm="6" md="4">
                            <v-select
                              :items="recuperacion"
                              label="Recursos"
                              v-model="editedItem.recurso"
                            ></v-select>
                          </v-col>



                          <v-col cols="8" sm="6" md="4">
                            <v-text-field
                              v-model="editedItem.queProcede"
                              label="¿Qué se debe hacer?"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="8" sm="6" md="4">
                            <v-text-field
                              v-model="editedItem.detalleMedida"
                              label="Detalles de las Medidas"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="8" sm="6" md="4">
                            <v-text-field
                              v-model="editedItem.periodo"
                              label="Período para hacerlo"
                            ></v-text-field>
                          </v-col>                     
                          <v-col cols="12" sm="6" md="4">
                            <v-select
                              :items="departamentos"
                              label="Departamento"
                              v-model="editedItem.deparEncargado"
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>                
                      <v-btn
                color="blue darken-1"
                text
                @click="enviar"
              >
                Guardar
              </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close"
                        >Cancelar</v-btn>                      
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
import Riesgos from "./lists/listriesgo.vue";
export default {
  components: { Riesgos },
layout: "userUniversidad",
  dialog: false,
      dialogDelete: false,
  data() {
      
    return {
      actividadPrioritaria: [],
      riesgoSeleccionado: "",
      idForm: "",
      color: "",
      foo: 1,
      radios: null,
      row: null,
      
      headers: [
        {
        text: "Recursos",
          align: "start",
          sortable: false,
          value: "recurso",
        },

        { text: "¿Qué se debe hacer?", value: "queProcede" },
        { text: "Detalles de las Medidas", value: "detalleMedida" },
        { text: "Período para hacerlo", value: "periodo" },
        { text: "Departamento Encargado", value: "deparEncargado" },

        { text: "Acciones", value: "actions", sortable: false },
      ],
      departamentos: [],
      recuperacion: [],
      recursosInternos: [],
      serviciosSociales: [],
      suministros: [],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        recurso: "",
        queProcede: "",
        detalleMedida: "",
        periodo: "",
        deparEncargado: "",
      },
      defaultItem: {
        recurso: "",
        queProcede: "",
        detalleMedida: "",
        periodo: "",
        deparEncargado: "",
      },
      
    };
  },
    
  mounted() {
    this.obtenerRiesgos();
    this.obtenerRec();
    this.recuperarDepartamentos();
    this.obtenerRecursossss();
  },

  methods: {

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)     
      this.editedItem = Object.assign({}, item)
      this.dialog = true    
    },

      deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

      close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
      closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

 guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.actualizarData();
      this.close();
    },

    async actualizarDat() {
      this.guardarMod();
    },

    async recuperarDepartamentos() {
      this.departamentos.slice();

      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.$cookies.get("dataClient").organizacion
        );
        const or = response.data;

        or.departamentos.forEach((element) => {
          this.departamentos.push(`${element}`);
        });
      } catch (err) {}
    },

 
     enviar () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    

     cambiarDessert() {
      if (this.radios === "Uno") {
        this.desserts = this.recursosInternos;
      } else if (this.radios === "Dos") {
        this.desserts = this.suministros;
      } else {
        this.desserts = this.serviciosSociales;
      }
    },

    actualizarData() {
      if (this.radios === "Uno") {
        this.recursosInternos.slice();
        this.recursosInternos = this.desserts;
      } else if (this.radios === "Dos") {
        this.suministros.slice();
        this.suministros = this.desserts;
      } else {
        this.serviciosSociales.slice();
        this.serviciosSociales = this.desserts;
      }
    },

guardarMod() {    
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.close();
      this.actualizarData();
    },

async enviarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put(
          "api/sgcnegocio/estrategiaContinuidad",
          {
            _id: this.idForm,
            actividadPrioritaria: this.riesgoSeleccionado,
            usuario: user,                      
            categorias: {
              recursosInternos: this.recursosInternos,
              sociosExternos: this.serviciosSociales,
              serviciosPublicos: this.suministros
            }
          }
       );
        this.$notifier.showMessage({
            content: "Formulario enviado",
            color: "success"
          });
      } catch (error) {
        
        this.$notifier.showMessage({
            content: "No fue posible enviar el formulario intente de nuevo",
            color: "error"
          });
      }
    },



    async obtenerRiesgos() {

      this.actividadPrioritaria.slice();
      console.log("Ingreseeee");
      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/estrategiaResumen/buscarUsuarioEstrategia/" +
            this.$cookies.get("dataClient").usuario.nombreUsuario
        );
        const or = response.data;
        const estrategia1 = response.data.estrategia.estrategia1;
        const estrategia2 = response.data.estrategia.estrategia2;
        const estrategia3 = response.data.estrategia.estrategia3;
        const estrategia4 = response.data.estrategia.estrategia4;
        const total = [];

        for (const i of estrategia1) {
          total.push(i.nombreEstrategia);
        }
        for (const i of estrategia2) {
          total.push(i.nombreEstrategia);
        }
        for (const i of estrategia3) {
          total.push(i.nombreEstrategia);
        }
        for (const i of estrategia4) {
          total.push(i.nombreEstrategia);
        }
        this.actividadPrioritaria = total;
      } catch (err) {
        console.log(err);        
      }      
    },

    async obtenerRecursossss() {

      this.recuperacion.slice();
      console.log("Ingreseeee");
      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/recursos/buscarRecursosPorUsuario/" +
            this.$cookies.get("dataClient").usuario.nombreUsuario
        );
        const or = response.data;
        const estrategia1 = response.data.recursos.SociosNegocios;
        const estrategia2 = response.data.recursos.RecursosInternos;
        const estrategia3 = response.data.recursos.ServiciosEscenciales;
        
        const total = [];

        for (const i of estrategia1) {
          total.push(i.nombre);
        }
        for (const i of estrategia2) {
          total.push(i.nombre);
        }
        for (const i of estrategia3) {
          total.push(i.nombre);
        }
        
        this.recuperacion = total;
      } catch (err) {
        console.log(err);        
      }      
    },



    async obtenerRec() {
                 try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/estrategiaContinuidad/${user}/${this.riesgoSeleccionado}`
        );
       
        this.idForm = res.data._id;
                
        this.recursosInternos = res.data.categorias.recursosInternos;        
        (this.serviciosSociales = res.data.categorias.sociosExternos),
          (this.suministros = res.data.categorias.serviciosPublicos);

        this.cambiarDessert();
      } catch (error) {
        
      }
    },

    
    
    increment() {
      this.foo = parseInt(this.foo, 10) + 1;
    },
    decrement() {
      this.foo = parseInt(this.foo, 10) - 1;
    },
    getColor(value) {
      if (value === 3) return "red";
      else if (value === 2) return "orange";
      else return "green";
    },
    getColorBarra(value) {
      if (value <= 30) {
        return "success";
      } else if (value > 30 && value <= 60) {
        return "amber";
      } else {
        return "warning";
      }
    }
  },
   
  watch: {
    foo: function(value) {
      if (value <= 30) {
        this.color = "success";
      } else if (value > 30 && value <= 60) {
        this.color = "amber";
      } else {
        this.color = "warning";
      }
    },
    riesgoSeleccionado: function(){
      this.obtenerRec();
    },
    radios: function(value) {
   

      this.desserts.slice();
      this.cambiarDessert();
    }
  },
  beforeMount() {
  
  }
};



</script>

<style>
.linea {
  background: black;
}
</style>
