<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="6" md="5">
          <v-combobox
            v-model="departamentoSeleccionado"
            :items="departamentos"
          ></v-combobox>
        </v-col>

        <v-col cols="0" sm="6" md="7">
          <v-card-title style="text-align: center">
            Seleccione un departamento y rellene los datos correspondientes
          </v-card-title>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6" md="6">
          <v-form ref="form" lazy-validation v-model="valid">
            <v-row id="ingreso">
              <v-col cols="12" sm="12" md="9">
                <v-container fluid>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        label="Lugar de Evacuación sitio de Encuentro"
                        v-model="lugarEvacuacion"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <!-- <v-text-field
                        label="Lider del plan de Evacuación"
                        v-model="liderPlanEvacuacion"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field> -->
                      <v-select
                        :items="usuarios"
                        label="Lider del plan de Evacuación"
                        v-model="liderPlanEvacuacion"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <!-- <v-select
                              :items="usuarios"
                              label="Encargado de rescate medico y cuidado medico"
                              v-model="encargadoRescate"
                              :rules="[v => !!v || 'Este campo es requerido']"
                            ></v-select> -->

                      <v-text-field
                        label="Encargado de rescate medico y cuidado medico"
                        v-model="encargadoRescate"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        label="Datos del Hospital"
                        v-model="datosHospital"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        label="Datos de los Bomberos"
                        v-model="datosBomberos"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          md="6"
          class="d-flex flex-column align-center justify-space-around"
        >
          <img style="width: 80%" src="/nature.svg" alt="John" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6" md="4">
          <v-btn
            v-if="!flag"
            id="btn-ingreso"
            color="secondary"
            :loading="isLoading"
            @click="enviar"
            >Agregar</v-btn
          >
          <v-btn
            v-else
            id="btn-ingreso"
            color="secondary"
            :loading="isLoading"
            @click="actualizarDatos"
            >Editar</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      usuarios: [],
      valid: true,
      idForm: "",
      flag: false,
      isLoading: false,
      depar: this.$cookies.get("dataClient").organizacion,
      departamentos: [],
      departamentoSeleccionado: "",
      datosHospital: "",
      encargadoRescate: "",
      datosBomberos: "",
      lugarEvacuacion: "",
      departamentoFabrica: "",
      liderPlanEvacuacion: ""
    };
  },
  methods: {
    async recuperarEmpleados() {
      this.usuarios.slice();
      console.log("llego");
      try {
        const response = await this.$axios.get(
          `https://seguridad-sgcn.herokuapp.com/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${this.depar}`
        );
        const us = response.data;

        us.forEach(element => {
          this.usuarios.push(element.nombre+" "+element.apellido);
        });

        console.log(response.data);
      } catch (err) {
        console.log(err);
      }
    },
    async recuperarUsuario() {
      this.departamentos.slice();

      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.depar
        );
        const or = response.data;
        console.log(or);
        or.departamentos.forEach(element => {
          console.log(element);
          this.departamentos.push(`${element}`);
        });
      } catch (err) {
        console.log(err);
      }
    },
    async obtenerDatos() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/evacuacionyrescate/${user}/${this.departamentoSeleccionado}`
        );
        this.idForm = res.data._id;
        this.datosHospital = res.data.recursos.datosHospital;
        this.encargadoRescate = res.data.recursos.encargadoRescate;
        this.datosBomberos = res.data.recursos.datosBomberos;
        this.lugarEvacuacion = res.data.recursos.lugarEvacuacion;
        this.departamentoFabrica = res.data.recursos.departamentoFabrica;
        this.liderPlanEvacuacion = res.data.recursos.liderPlanEvacuacion;
        this.flag = true;
        console.log(res);
      } catch (error) {
        console.log(error);

        this.datosHospital = " ";
        this.encargadoRescate = " ";
        this.datosBomberos = " ";
        this.lugarEvacuacion = " ";
        this.departamentoFabrica = " ";
        this.liderPlanEvacuacion = " ";

        this.flag = false;
      }
    },

    async actualizarDatos() {
      try {
        this.isLoading = true;
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.put(
          `api/sgcnegocio/evacuacionyrescate/`,
          {
            _id: this.idForm,
            usuario: user,
            departamento: this.departamentoSeleccionado,
            recursos: {
              datosHospital: this.datosHospital,
              encargadoRescate: this.encargadoRescate,
              datosBomberos: this.datosBomberos,
              lugarEvacuacion: this.lugarEvacuacion,
              departamentoFabrica: this.departamentoFabrica,
              liderPlanEvacuacion: this.liderPlanEvacuacion
            }
          }
        );

        console.log(res);
        this.$notifier.showMessage({
          content: "Formulario actualizado correctamente",
          color: "success"
        });
        this.isLoading = false;
      } catch (error) {
        console.log(error.response);
        this.$notifier.showMessage({
          content: "No se pudo actualizar el formulario",
          color: "error"
        });
        this.isLoading = false;
      }
    },

    async enviar() {
      if (!this.departamentoSeleccionado) {
        this.$notifier.showMessage({
          content: "Rellene todo los campos",
          color: "error"
        });
      } else {
        try {
          this.isLoading = true;
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          const res = await this.$axios.post(
            `api/sgcnegocio/evacuacionyrescate`,
            {
              usuario: user,
              departamento: this.departamentoSeleccionado,
              recursos: {
                datosHospital: this.datosHospital,
                encargadoRescate: this.encargadoRescate,
                datosBomberos: this.datosBomberos,
                lugarEvacuacion: this.lugarEvacuacion,
                departamentoFabrica: this.departamentoFabrica,
                liderPlanEvacuacion: this.liderPlanEvacuacion
              }
            }
          );
          console.log(res);
          this.$notifier.showMessage({
            content: "Elemento enviado",
            color: "success"
          });
          this.isLoading = false;
          this.obtenerDatos();
        } catch (error) {
          console.log(error.response);
          this.$notifier.showMessage({
            content: "No fue posible enviar los datos",
            color: "error"
          });
          this.isLoading = false;
        }
      }
    }
  },
  watch: {
    departamentoSeleccionado: function() {
      this.obtenerDatos();
    }
  },
  mounted() {
    this.recuperarUsuario();
    this.recuperarEmpleados();
  }
};
</script>
