<template>
    <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-container>
                  <v-row style="margin-bottom: 5px">
                    <v-col cols="4" sm="4" md="4">
                      <h3>Grado</h3>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <h3>Probabilidades</h3>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <h3>Impactos</h3>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                  </v-row>
                  <v-divider style="margin-bottom: 5px"></v-divider>
                  <v-row>
                    <v-col cols="4" sm="4" md="4">
                      <v-chip class="ma-2" color="red" text-color="black">
                        <h4>Alto</h4>
                      </v-chip>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>Muy Probable</p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>
                        Desastroso. Puede amenazar el cierre de la empresa.
                        Muertes. Lesiones multiples
                      </p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                  </v-row>
                  <v-divider style="margin-bottom: 5px"></v-divider>
                  <v-row>
                    <v-col cols="4" sm="4" md="4">
                      <v-chip class="ma-2" color="orange" text-color="black">
                        <h4>Medio</h4>
                      </v-chip>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>Probable</p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>
                        Daños leves que afectan las operaciones. Lesiones
                        multiples.
                      </p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col cols="4" sm="4" md="4">
                      <v-chip class="ma-2" color="green" text-color="black">
                        <h4>Bajo</h4>
                      </v-chip>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>Poco Probable</p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                    <v-col cols="4" sm="4" md="4">
                      <p>
                        Daños insignificantes. Lesiones leves.
                      </p>
                    </v-col>
                    <v-divider inset vertical></v-divider>
                  </v-row>
                  <v-divider></v-divider>
                </v-container>
              </v-col>
              <v-col
                cols="12"
                sm="12"
                md="6"
                class="d-flex flex-column align-center justify-space-around"
              >
                <img style="width: 80%" src="/impactos.svg" alt="John" />
              </v-col>
            </v-row>
          </v-container>
</template>



<script>
export default {
    
}
</script>