<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-combobox v-model="riesgoSeleccionado" :items="riesgos"></v-combobox>
      </v-col>
      
    </v-row>

    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
             :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title
                  >Protección antes del desastre y Mitigación</v-toolbar-title
                >
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ editedItem.recurso }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="plazos"
                              label="Plazo máximo establecido"
                              v-model="editedItem.plazoEstablecidoMax"
                            ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="departamentos"
                              label="Departamento"
                              v-model="editedItem.departamentoEncargado"
                            ></v-select>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-textarea
                              background-color="grey lighten-2"
                              color="cyan"
                              label="Objetivos"
                              v-model="editedItem.objetivo"
                            ></v-textarea>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-textarea
                              background-color="grey lighten-2"
                              color="cyan"
                              v-model="editedItem.accion"
                              label="¿Qué hacer?"
                            ></v-textarea>
                          </v-col>
                        </v-row>

                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-textarea
                              background-color="grey lighten-2"
                              v-model="editedItem.plan"
                              color="cyan"
                              label="Plan"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviarRiesgo"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="guardarMod"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:[`item.departamentoEncargado`]="{ item }">
            
              <v-chip
                :key="JSON.stringify(item)"
                v-bind="item.attrs"
                :input-value="item.selected"
                :disabled="item.disabled"
              >
                <v-avatar
                  class="accent white--text"
                  left
                  v-text="item.departamentoEncargado.slice(0, 1).toUpperCase()"
                ></v-avatar>
                {{ item.departamentoEncargado }}
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
       <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarFormulario"
        >Guardar Datos</v-btn
      >
    </v-row>

  </v-container>
</template>

<script>
export default {
  data() {
    return {
      riesgos: [],
      departamentos: [],
      editedIndex: -1,
      depar: this.$cookies.get("dataClient").organizacion,
      riesgoSeleccionado: "",
      plazos: [
        "Inmediatamente",
        "Dentro de un año",
        "De mediano a largo plazo"
      ],
      idForm: "",
      headers: [
        {
          text: "Recursos",
          align: "start",
          value: "recurso"
        },
        { text: "Objetivos", value: "objetivo" },
        { text: "Qué hacer", value: "accion" },
        { text: "Plan", value: "plan" },
        { text: "Plazo máximo establecido", value: "plazoEstablecidoMax" },
        { text: "Departamento", value: "departamentoEncargado" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      impacto: [
        "Inmediatamente",
        
        "Dentro de un año",
        "De mediano a largo plazo"
      ],
      desserts: [
     
      ],
      editedItem: {
        recurso: "",
        objetivo: "",
        accion: "",
        plan: "",
        plazoEstablecidoMax: "",
        departamentoEncargado: ""
      },
      defaultItem: {
        recurso: "",
        objetivo: "",
        accion: "",
        plazoEstablecidoMax: "",
        departamentoEncargado: ""
      },
      dialog: false
    };
  },

  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      
      this.editedItem = Object.assign({}, item);
     
      this.dialog = true;
    },

    guardarMod() {
   
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
     
    },
    async obtenerRec() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/proteccionMitigacion/${user}/${this.riesgoSeleccionado}`
        );
       
        this.idForm = res.data._id;
        this.desserts = res.data.recursosMitigar;
      } catch (error) {
        if(error.response.status == 404){
           this.$notifier.showMessage({
            content: "Debe enviar la estimación de daños referente a este riesgo, en el paso anterior",
            color: "warning"
          });
        } else {
           this.$notifier.showMessage({
            content: "No se pudo recuperar la información",
            color: "error"
          });
        }
       
      }
    },
    async recuperarUsuario() {
      this.departamentos.slice();
      
      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.depar
        );
        const or = response.data;
      
        or.departamentos.forEach(element => {
         
          this.departamentos.push(`${element}`);
        });
      } catch (err) {
       
      }
    },
    async obtenerRiesgos() {
      this.riesgos.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/formularioRIP/buscarRIPsPorUser/${user}`
        );

        res.data.forEach(element => {
          this.riesgos.push(`${element.nombreRiesgo}`);
        });
      } catch (error) {
       
      }
    },
    async enviarFormulario() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.put("api/sgcnegocio/proteccionMitigacion", 
        {
           _id: this.idForm,
          usuario: user,
          riesgo: this.riesgoSeleccionado,
          recursosMitigar: this.desserts
          })

          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success"
          });
      } catch (error) {
       
        this.$notifier.showMessage({
            content: "Error al enviar data",
            color: "error"
          });
      }
    }
  },
  watch: {
    riesgoSeleccionado: function() {
      this.obtenerRec();
    }
  },
  mounted() {
    this.obtenerRiesgos();
    this.recuperarUsuario();
  }
};
</script>
