<template>
    <v-container fluid>
            <v-row>
              
              <v-col cols="12" sm="12" md="12">
                <v-data-iterator
                  :items="items"
                  :items-per-page.sync="itemsPerPage"
                   :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
                  hide-default-footer
                >
                  <template v-slot:header>
                    <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
                      <v-toolbar-title>Tipos de Fenómenos</v-toolbar-title>
                    </v-toolbar>
                  </template>

                  <template v-slot:default="props">
                    <v-row>
                      <v-col
                        v-for="item in props.items"
                        :key="item.name"
                        cols="12"
                        sm="6"
                        md="6"
                        lg="6"
                      >
                        <v-card>
                          <v-card-title class="subheading font-weight-bold">
                            {{ item.name }}
                          </v-card-title>

                          <v-divider></v-divider>

                          <v-row>
                            <v-col>
                              <v-list dense>
                                <v-list-item
                                  v-for="des in item.desastres"
                                  :key="des"
                                >
                                  <v-list-item-content class="align-end">{{
                                    des
                                  }}</v-list-item-content>
                                </v-list-item>
                              </v-list>
                            </v-col>
                            <v-col
                              cols="6"
                              sm="6"
                              md="6"
                              class="d-flex flex-column align-center justify-space-around"
                            >
                              <img
                                style="width: 80%"
                                src="/nature.svg"
                                alt="John"
                              />
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>
                </v-data-iterator>
              </v-col>
            </v-row>
          </v-container>
</template>


<script>
export default {
    data() {
    return {
        itemsPerPage: 4,
       items: [
        {
          name: "Hidrometorológicos-Geológicos",
          key: 1,
          desastres: [
            "Huracánes",
            "Sismo",
            "Inundaciones",
            "Tormentas",
            "Sequías",
            "Nevadas",
            "Granizadas"
          ],
          
        },
        {
          name: "Socio-Organizativos",
          key: 2,
          desastres: [
            "Terrorismo",
            "Sabotaje",
            "Accidentes aéreos",
            "Fluviales",
            "Concentración de Masas"
          ],
         
        },
        {
          name: "Químico Tecnológico",
          key: 3,
          desastres: [
            "Incendios forestales",
            "Radiación",
            "Incendios Urbanos",
            "Explosiones"
          ],
          
        },
        {
          name: "Sanitario Ecológico",
          key: 4,
          desastres: [
            "Epidemias",
            "Plagas",
            "Contaminación",
            "Lluvia ácida"
            
          ],
          
        }
      ]
    };
  },
}
</script>