<template>
  <v-container>
    <v-row>
      <p>
        En esta sección trabajarás sobre los temas principales de tu Plan de
        Continuidad de Negocios. Planificarás e implementarás tus estrategias de
        Continuidad de Negocios para llegar a tus Tiempos Ideales de
        Recuperación, establecidos en el paso 2. Hay tres fases para crear las
        Estrategias de Continuidad de Negocios, todas igual de importantes para
        alcanzar tus Tiempos Ideales. Identificarás las medidas necesarias para
        estas tres etapas:
      </p>
    </v-row>
    <v-row>
      <v-stepper v-model="e6" vertical>
        <v-stepper-step :complete="e6 > 1" step="1">
          Select an app
          <small>Summarize if needed</small>
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-card color="grey lighten-1" class="mb-12" height="200px">
              
          </v-card>
          <v-btn color="primary" @click="e6 = 2">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 2" step="2">
          Configure analytics for this app
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-card color="grey lighten-1" class="mb-12" height="200px"></v-card>
          <v-btn color="primary" @click="e6 = 3">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 3" step="3">
          Select an ad format and name ad unit
        </v-stepper-step>

        <v-stepper-content step="3">
          <v-card color="grey lighten-1" class="mb-12" height="200px"></v-card>
          <v-btn color="primary" @click="e6 = 4">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      e6: 1
    };
  }
};
</script>
