<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title
                  > </v-toolbar-title
                >
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Pruebas</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-row>
                              <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                  label="Nombre Prueba"
                                  v-model="editedItem.tipoDeEjercicio"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="12">
                                <v-select
                                  :items="departamentos"
                                  label="Grupo a Probar"
                                  v-model="editedItem.grupoAProbar"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="12" md="12">
                                <v-textarea
                                  background-color="grey lighten-2"
                                  color="cyan"
                                  label="Objetivos"
                                  v-model="editedItem.objetivo"
                                ></v-textarea>
                              </v-col>
                              <v-col cols="12" sm="12" md="12">
                                <v-textarea
                                  background-color="grey lighten-2"
                                  color="cyan"
                                  label="Revisión del Ejercicio"
                                  v-model="editedItem.revisionPostEjercicio"
                                ></v-textarea>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-row justify="center">
                              <v-col cols="12" sm="12" md="12">
                                <p>Día del Ejercicio</p>
                                <v-date-picker
                                  v-model="editedItem.diaDelEjercicio"
                                ></v-date-picker>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviarFormulario"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="updateFormulario"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:[`item.grupoAProbar`]="{ item }">
              <v-chip
                :key="JSON.stringify(item)"
                v-bind="item.attrs"
                :input-value="item.selected"
                :disabled="item.disabled"
              >
                <v-avatar
                  class="accent white--text"
                  left
                  v-text="item.grupoAProbar.slice(0, 1).toUpperCase()"
                ></v-avatar>
                {{ item.grupoAProbar }}
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
   
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      riesgos: [],
      flag: false,
      departamentos: [],
      editedIndex: -1,
      depar: this.$cookies.get("dataClient").organizacion,
      riesgoSeleccionado: "",
      plazos: [
        "Inmediatamente",
        "Dentro de un año",
        "De mediano a largo plazo"
      ],
      idForm: "",
      headers: [
        {
          text: "Recursos",
          align: "start",
          value: "tipoDeEjercicio"
        },
        { text: "Objetivos", value: "objetivo" },
        { text: "Grupo a ser probado", value: "grupoAProbar" },
        { text: "Día del Ejercicio", value: "diaDelEjercicio" },
        { text: "Revisión del Ejercicio", value: "revisionPostEjercicio" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      impacto: [
        "Inmediatamente",

        "Dentro de un año",
        "De mediano a largo plazo"
      ],
      desserts: [],
      editedItem: {
        tipoDeEjercicio: "",
        objetivo: "",
        grupoAProbar: "",
        diaDelEjercicio: "",
        revisionPostEjercicio: ""
      },
      defaultItem: {
        tipoDeEjercicio: "",
        objetivo: "",
        grupoAProbar: "",
        diaDelEjercicio: "",
        revisionPostEjercicio: ""
      },
      dialog: false
    };
  },

  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);

      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    async obtenerRec() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/formularioPlanDePrueba/buscarPlanDePruebaPorUser/${user}`
        );
       
        this.desserts = res.data
        this.flag = true;
      } catch (error) {
        if (error.response.status == 404) {
          this.flag = false;
          this.desserts = [];
        } else {
          this.$notifier.showMessage({
            content: "No se pudo recuperar la información",
            color: "error"
          });
        }
      
      }
    },
    async recuperarUsuario() {
      this.departamentos.slice();

      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.depar
        );
        const or = response.data;
      
        or.departamentos.forEach(element => {
          
          this.departamentos.push(`${element}`);
        });
      } catch (err) {
      
      }
    },
    async updateFormulario() {
    
      if (
        !this.editedItem.tipoDeEjercicio ||
        !this.editedItem.objetivo ||
        !this.editedItem.grupoAProbar
      ) {
        this.$notifier.showMessage({
          content: "Rellene todo los campos",
          color: "error"
        });
      } else {
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
         
          const res = await this.$axios.put(
            `api/sgcnegocio/formularioPlanDePrueba/actualizarPlanDePrueba/${this.editedItem._id}`,
            {
              user: user,
              tipoDeEjercicio: this.editedItem.tipoDeEjercicio,
              objetivo:
               this.editedItem.objetivo,
              grupoAProbar: this.editedItem.grupoAProbar,
              diaDelEjercicio: this.editedItem.diaDelEjercicio,
              revisionPostEjercicio: this.editedItem.revisionPostEjercicio
            }
          );

          this.$notifier.showMessage({
            content: "Actualización exitosa",
            color: "success"
          });
          this.close()
          this.guardarMod();

        } catch (error) {
        
          this.$notifier.showMessage({
            content: "No fue posible agregar el plan",
            color: "error"
          });
        }
      }
    },

    async enviarFormulario() {
     
      if (
        !this.editedItem.tipoDeEjercicio ||
        !this.editedItem.objetivo ||
        !this.editedItem.grupoAProbar
      ) {
        this.$notifier.showMessage({
          content: "Rellene todo los campos",
          color: "error"
        });
      } else {
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          const res = await this.$axios.post(
            "api/sgcnegocio/formularioPlanDePrueba/agregarPlanDePrueba",
            {
              user: user,
              tipoDeEjercicio: this.editedItem.tipoDeEjercicio,
              objetivo:
               this.editedItem.objetivo,
              grupoAProbar: this.editedItem.grupoAProbar,
              diaDelEjercicio: this.editedItem.diaDelEjercicio,
              revisionPostEjercicio: this.editedItem.revisionPostEjercicio
            }
          );

          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success"
          });
          this.close()
          this.obtenerRec();

        } catch (error) {
        
          this.$notifier.showMessage({
            content: "No fue posible agregar el plan",
            color: "error"
          });
        }
      }
    }
  },

  mounted() {
    this.obtenerRec();
    this.recuperarUsuario();
  }
};
</script>
