<template>
  <v-container>
    <v-row style="margin-bottom: 50px">
      <v-col cols="6" sm="6" md="6">
        <v-container>
          <v-row>
            <v-combobox v-model="riesgoSeleccionado" :items="riesgos"></v-combobox>
          </v-row>
          <v-row>
            <v-radio-group v-model="radios" mandatory>
              <v-radio
                color="red"
                label="Recursos Internos"
                value="Uno"
              ></v-radio>
              <v-radio
                color="red"
                label="Servicios Esenciales"
                value="Dos"
              ></v-radio>
              <v-radio
                color="red"
                label="Servicios de Negocio"
                value="Tres"
              ></v-radio>
            </v-radio-group>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 45%"
          src="https://www.drupal.org/files/project-images/undraw_warning_cyit.png"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headersE"
            :items="dessertsE"
             :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Estimación del Riesgo</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{editedItemE.recurso}}</span>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col
                            style="text-align:center"
                            cols="12"
                            sm="5"
                            md="5"
                          >
                            <div>
                              Seleccione el
                              <strong>daño</strong>
                              estimado en el recurso
                            </div>
                            <v-radio-group column v-model="row" row>
                              <v-radio value="1">
                                <template v-slot:label>
                                  <div>
                                    Si es un daño leve
                                    <strong class="success--text"
                                      >Uno (1)</strong
                                    >
                                  </div>
                                </template>
                              </v-radio>
                              <v-radio value="2">
                                <template v-slot:label>
                                  <div>
                                    Si es un daño moderado
                                    <strong class="alert--text">Dos (2)</strong>
                                  </div>
                                </template>
                              </v-radio>
                              <v-radio value="3">
                                <template v-slot:label>
                                  <div>
                                    Si es un daño grave
                                    <strong class="error--text"
                                      >Tres (3)</strong
                                    >
                                  </div>
                                </template>
                              </v-radio>
                            </v-radio-group>
                          </v-col>

                          <v-col cols="12" sm="5" md="4">
                            <v-row>
                              <v-col cols="9" sm="9" md="9">
                                <div>
                                  Seleccione el número de días para la
                                  <strong>recuperación</strong>
                                </div>
                              </v-col>
                              <v-col>
                                <v-text-field
                                  v-model="foo"
                                  type="number"
                                  label="Días"
                                  @click:append-outer="increment"
                                  @click:prepend="decrement"
                                >
                                </v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-progress-linear
                                style="margin-top:18px"
                                v-model="foo"
                                :color="color"
                                height="25"
                                aria-valuemax="25"
                                aria-valuemin="3"
                              ></v-progress-linear>
                            </v-row>
                          </v-col>
                          <v-col cols="0" sm="1" md="1"></v-col>
                          <v-col cols="12" sm="2" md="2">
                            <div>
                              ¿Se requieren medidas de
                              <strong>mitigación?</strong>
                            </div>
                            <v-checkbox
                              v-model="check"
                              color="primary"
                              label="Sí"
                            >
                            </v-checkbox>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarEstimacion"
                      >
                        Guardar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:[`item.dano`]="{ item }">
              <v-chip :color="getColor(item.dano)" dark>
                <h3>{{ item.dano }}</h3>
              </v-chip>
            </template>
            <template v-slot:[`item.medidas`]="{ item }">
              <p style="margin-top: 5px" v-if="!item.medidas">
                <v-chip class="ma-2" color="green" outlined>
                  No se requieren medidas
                </v-chip>
              </p>
              <p style="margin-top: 5px" v-else>
                <v-chip class="ma-2" color="orange" outlined>
                  Se requieren medidas
                </v-chip>
              </p>
            </template>

            <template v-slot:[`item.grafico`]="{ item }">
              <v-progress-linear
                style=""
                v-model="item.grafico"
                :color="getColorBarra(item.grafico)"
                height="25"
                aria-valuemax="25"
                aria-valuemin="3"
              ></v-progress-linear>
            </template>
            <template v-slot:[`item.recurso`]="{ item }">
              <h3>{{ item.recurso }}</h3>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>



    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
import Riesgos from "./lists/listriesgo.vue";
export default {
  components: { Riesgos },

  data() {
    return {
      riesgos: [],
      riesgoSeleccionado: "",
      idForm: "",
      color: "",
      foo: 1,
      radios: null,
      row: null,
      editedIndex: -1,
      headersE: [
        {
          text: "Recursos",
          align: "start",
          value: "recurso"
        },
        { text: "Daño", value: "dano" },
        { text: "Día", value: "dias" },
        { text: "Días (Ver gráfica)", value: "grafico" },
        { text: "Medidas Necesarias", value: "medidas" },
        { text: "Acciones", value: "actions", sortable: false }
      ],
      recursoInterno: [],
      serviciosSociales: [],
      suministros: [],
      dessertsE: [
        {
          recurso: "Ejemplo",
          dano: 3,
          dias: 80,
          grafico: 80,
          medidas: true
        },
        {
          recurso: "Ejemplo2",
          dano: 1,
          dias: 2,
          grafico: 2,
          medidas: false
        }
      ],
      editedItemE: {
        recurso: "",
        dano: "",
        dias: 0,
        grafico: 0,
        medidas: true
      },
      defaultItem: {
        recurso: "",
        dano: "",
        dias: 0,
        grafico: 0,
        medidas: true
      },
      check: true,
      dialog: false
    };
  },
  mounted() {
    this.obtenerRiesgos();
    this.obtenerRec();
  },

  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.dessertsE.indexOf(item);
     
      this.editedItemE = Object.assign({}, item);
      this.dialog = true;

      this.foo = this.editedItemE.dias;
      this.check = this.editedItemE.medidas;
      this.row = `${this.editedItemE.dano}`;
    },
    async enviarForm() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put(
          "api/sgcnegocio/estimaciondano/actualizarDanos",
          {
            _id: this.idForm,
            usuario: user,
            riesgo: this.riesgoSeleccionado,
            probabilidad: "",
            impacto: "",
            recursosNecesarios: {
              RecursosInternos: this.recursoInterno,
              SociosNegocios: this.serviciosSociales,
              ServiciosEscenciales: this.suministros
            }
          }
          

        );
        this.$notifier.showMessage({
            content: "Formulario enviado",
            color: "success"
          });
      } catch (error) {
        
        this.$notifier.showMessage({
            content: "No fue posible enviar el formulario intente de nuevo",
            color: "error"
          });
      }
    },
    async obtenerRiesgos() {
      this.riesgos.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/formularioRIP/buscarRIPsPorUser/${user}`
        );
        this.desserts = res.data;
        res.data.forEach(element => {
          this.riesgos.push(
            `${element.nombreRiesgo}`
          );
        });
      } catch (error) {
    
         if(error.response.status == 404){
           this.$notifier.showMessage({
            content: "Se debe de ingrear riesgos en el paso anterior",
            color: "warning"
          });
        } 
      }
    },
    async obtenerRec() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/estimaciondano/${user}/${this.riesgoSeleccionado}`
        );
       
        this.idForm = res.data._id;
        this.recursoInterno = res.data.recursosNecesarios.RecursosInternos;
        (this.serviciosSociales = res.data.recursosNecesarios.SociosNegocios),
          (this.suministros = res.data.recursosNecesarios.ServiciosEscenciales);

        this.cambiarDessert();
      } catch (error) {
        
      }
    },

    cambiarDessert() {
      if (this.radios === "Uno") {
        this.dessertsE = this.recursoInterno;
      } else if (this.radios === "Dos") {
        this.dessertsE = this.suministros;
      } else {
        this.dessertsE = this.serviciosSociales;
      }
    },

    actualizarData() {
      if (this.radios === "Uno") {
        this.recursoInterno.slice();
        this.recursoInterno = this.dessertsE;
      } else if (this.radios === "Dos") {
        this.suministros.slice();
        this.suministros = this.dessertsE;
      } else {
        this.serviciosSociales.slice();
        this.serviciosSociales = this.dessertsE;
      }
    },

    actualizarEstimacion() {
      this.editedItemE.dias = parseInt(this.foo, 10);
      this.editedItemE.grafico = parseInt(this.foo, 10);
      this.editedItemE.medidas = this.check;
      this.editedItemE.dano = parseInt(this.row, 10);

      this.guardarMod();
    },
    guardarMod() {
    
    
      Object.assign(this.dessertsE[this.editedIndex], this.editedItemE);

      this.close();
      this.actualizarData();
    },
    increment() {
      this.foo = parseInt(this.foo, 10) + 1;
    },
    decrement() {
      this.foo = parseInt(this.foo, 10) - 1;
    },
    getColor(value) {
      if (value === 3) return "red";
      else if (value === 2) return "orange";
      else return "green";
    },
    getColorBarra(value) {
      if (value <= 30) {
        return "success";
      } else if (value > 30 && value <= 60) {
        return "amber";
      } else {
        return "warning";
      }
    }
  },
  watch: {
    foo: function(value) {
      if (value <= 30) {
        this.color = "success";
      } else if (value > 30 && value <= 60) {
        this.color = "amber";
      } else {
        this.color = "warning";
      }
    },
    riesgoSeleccionado: function(){
      this.obtenerRec();
    },
    radios: function(value) {
   

      this.dessertsE.slice();
      this.cambiarDessert();
    }
  },
  beforeMount() {
  
  }
};
</script>

<style>
.linea {
  background: black;
}
</style>
