<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
             :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Evaluación de Riesgos</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Ingreso de un nuevo Riesgo</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="3">
                            <v-select
                              :items="itemsP"
                              label="Riesgo"
                              v-model="editedItem.nombreRiesgo"
                            ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="3">
                            <v-select
                              :items="impacto"
                              label="Impacto"
                              v-model="editedItem.impacto"
                            ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="3">
                            <v-select
                              :items="impacto"
                              label="Probabilidad"
                              v-model="editedItem.probabilidad"
                            ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="3">
                            <v-select
                              :items="prioridad"
                              label="Prioridad"
                              v-model="editedItem.prioridad"
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviarRiesgo"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarRiesgo"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancel</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="eliminarRiesgo"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:[`item.impacto`]="{ item }">
              <v-chip :color="getColor(item.impacto)" dark>
                {{ item.impacto }}
              </v-chip>
            </template>

            <template v-slot:[`item.probabilidad`]="{ item }">
              <v-chip :color="getColor(item.probabilidad)" dark>
                {{ item.probabilidad }}
              </v-chip>
            </template>
            <template v-slot:[`item.nombreRiesgo`]="{ item }">
              <h3>{{ item.nombreRiesgo }}</h3>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      load: true,
      itemsP: [
        "Huracanes",
        "Inundaciones",
        "Tormentas",
        "Sequías",
        "Nevadas",
        "Sismos",
        "Granizadas",
        "Terrorismo",
        "Sabotaje",
        "Pandemia",
        "Epidemias",
        "Plagas",
        "Contaminación",
        "Lluvia ácida",
        "Incendios forestales",
        "Radiación",
        "Incendios Urbanos",
        "Explosiones"
      ],
      impacto: ["Alto", "Medio", "Bajo"],
      prioridad: [1, 2, 3, 4, 5, 6, 7, 8, 9],
      prioSlec: [],
      headers: [
        {
          text: "Riesgo",
          align: "start",

          value: "nombreRiesgo"
        },
        { text: "Impacto", value: "impacto" },
        { text: "Probabilidad", value: "probabilidad" },
        { text: "Prioridad", value: "prioridad" },

        { text: "Acciones", value: "actions", sortable: false }
      ],
      editedItem: {
        nombreRiesgo: "",
        impacto: "",
        probabilidad: "",
        prioridad: 0
      },
      defaultItem: {
        nombreRiesgo: "",
        impacto: "",
        probabilidad: "",
        prioridad: 0
      },
      desserts: [],
      editedIndex: -1,
      dialog: false,
      dialogDelete: false
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
    
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
     
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    agregarRiesgo() {
      this.desserts.push({
        nombreRiesgo: this.editedItem.nombreRiesgo,
        impacto: this.editedItem.impacto,
        probabilidad: this.editedItem.probabilidad,
        prioridad: parseInt(this.editedItem.prioridad, 10)
      });
    },
    limpiar() {
      this.editedItem.nombreRiesgo = "";
      this.editedItem.impacto = "";
      this.editedItem.probabilidad = "";
      this.editedItem.prioridad = 0;
    },
    async enviarRiesgo() {
      if (
        !this.editedItem.nombreRiesgo ||
        !this.editedItem.probabilidad ||
        !this.editedItem.impacto ||
        !this.editedItem.prioridad
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else if (
        this.prioSlec.includes(parseInt(this.editedItem.prioridad, 10))
      ) {
        this.$notifier.showMessage({
          content: "Error: No puede haber 2 riesgos con la misma prioridad",
          color: "error"
        });

        this.limpiar();
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(`api/sgcnegocio/formularioRIP/agregarRIP`, {
            user,
            nombreRiesgo: this.editedItem.nombreRiesgo,
            impacto: this.editedItem.impacto,
            probabilidad: this.editedItem.probabilidad,
            prioridad: parseInt(this.editedItem.prioridad, 10)
          });
          this.prioSlec.push(parseInt(this.editedItem.prioridad, 10));
          this.agregarRiesgo();
          this.limpiar();
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success"
          });
          this.recuperarEstimacionRiesgos();
        } catch (error) {
         

          this.$notifier.showMessage({
            content:
              "Antes de añadir un riesgo, primero se debe de rellenar los recursos en el paso 3",
            color: "warning"
          });
          this.limpiar();
        }
      }
      this.dialog = false;
    },
    async actualizarRiesgo() {
      if (
        !this.editedItem.nombreRiesgo ||
        !this.editedItem.probabilidad ||
        !this.editedItem.impacto ||
        !this.editedItem.prioridad
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else if (
        this.prioSlec.includes(parseInt(this.editedItem.prioridad, 10))
      ) {
        this.$notifier.showMessage({
          content: "Error: No puede haber 2 riesgos con la misma prioridad",
          color: "error"
        });
        this.close();
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
         
          await this.$axios.put(
            `api/sgcnegocio/formularioRIP/actualizarRIP/${this.editedItem._id}`,
            {
              user,
              nombreRiesgo: this.editedItem.nombreRiesgo,
              impacto: this.editedItem.impacto,
              probabilidad: this.editedItem.probabilidad,
              prioridad: parseInt(this.editedItem.prioridad, 10)
            }
          );
          this.prioSlec[this.editedIndex] = parseInt(
            this.editedItem.prioridad,
            10
          );
          this.guardarMod();
          this.limpiar();
          this.$notifier.showMessage({
            content: "Se editó con éxito",
            color: "success"
          });
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No se pudo actualizar con exitó, intente de nuevo",
            color: "error"
          });
        }
      }
    },
    async eliminarRiesgo() {
      try {
        
        await this.$axios.delete(
          `api/sgcnegocio/formularioRIP/eliminarRIP/${this.editedItem._id}`
        );

        this.desserts.splice(this.editedIndex, 1);
        this.prioSlec.splice(this.editedIndex, 1);
      
        this.closeDelete();
        this.$notifier.showMessage({
          content: "El elemento se eliminó con éxito",
          color: "success"
        });
      } catch (error) {
       
        this.$notifier.showMessage({
          content: "No se pudo eliminar el elemento",
          color: "error"
        });
      }
      this.dialogDelete = false;
    },
    async recuperarEstimacionRiesgos() {
      this.desserts.slice();

      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/formularioRIP/buscarRIPsPorUser/${user}`
        );
        this.desserts = res.data;
        res.data.forEach(element => {
          this.prioSlec.push(element.prioridad);
        });

       
      } catch (error) {
        
      }
    },
    getColor(value) {
      if (value === "Alto") return "red";
      else if (value === "Medio") return "orange";
      else return "green";
    }
  },

  mounted() {
    this.recuperarEstimacionRiesgos();
  }
};
</script>
