<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-container>
          <v-row>
            <v-col cols="6" sm="6" md="6">
              <h3>Fondos Disponibles (A)</h3>
            </v-col>
            <v-col cols="6" sm="6" md="6">
              <v-text-field
                :value="fondosDisponiblesA"
                label="Solo"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" sm="6" md="6">
              <h3>Costo de Recuperacion (B)</h3>
            </v-col>
            <v-col cols="6" sm="6" md="6">
              <v-text-field
                :value="costoRecuperacionB"
                label="Solo"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" sm="6" md="6">
              <h3>Gastos Ordinarios (C)</h3>
            </v-col>
            <v-col cols="6" sm="6" md="6">
              <v-text-field
                :value="gastosOrdinariosC"
                label="Solo"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-divider style="background: black;margin-bottom: 25px"></v-divider>
          <v-row>
            <v-col cols="6" sm="6" md="6">
              <h3>Balance = (A-B-C)</h3>
            </v-col>
            <v-col cols="6" sm="6" md="6">
              <v-text-field
                :value="balanceABC"
                label="Solo"
                solo
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-chip v-if="balanceABC <= 0" large class="ma-2" color="orange" outlined>
              Falta de Fondos, se deben tomar medidas financieras para cubrir <br>
              esa falta
            </v-chip>

            <v-chip v-else class="ma-2" large color="green" outlined>
              Se cuenta con los fondos necesarios para recuperarse de la
              interrupción
            </v-chip>
          </v-row>
        </v-container>
      </v-col>
      <v-col
        md="6"
        sm="6"
        cols="12"
        class="d-flex flex-column align-center justify-space-around"
      >
        <img style="width: 80%" src="/statusFinanciero.svg" alt="John" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      result: true,
      fondosDisponiblesA: 0,
      costoRecuperacionB: 0,
      gastosOrdinariosC: 0,
      balanceABC: 0
    };
  },
  methods: {
    async recuperarStatus() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/estatus/buscarEstatusPorUsuario/${user}`
        );

       
        this.costoRecuperacionB=res.data.costoRecuperacionB;
        this.fondosDisponiblesA=res.data.fondosDisponiblesA;
        this.gastosOrdinariosC=res.data.gastosOrdinariosC;
        this.balanceABC=res.data.balanceABC;
      } catch (error) {
      
      }
    }
  },
  mounted() {
    this.recuperarStatus();
  }
};
</script>
