<template>
  <v-responsive :aspect-ratio="16 / 9">
    <v-container>
      <v-row>
        <v-layout align-start>
          <v-flex>
            <div class="imagen">
              <img style="height: 200px" src="/biaEstrategia.svg" />
            </div>
            <v-data-table
              :headers="headers"
              :items="desserts"
              :footer-props="{
                'items-per-page-text': 'Filas por página',
              }"
              class="elevation-1"
              loading="100"
              loading-text="Cargando... Por favor espere"
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Estrategias</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="900px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                        elevation="5"
                        fab
                      >
                        <v-icon> mdi-plus </v-icon>
                      </v-btn>
                    </template>

                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                        
                      </v-card-title>

                      <v-card-text>
                        <p>Por favor presione ENTER después de ingresar cada registro para que se guarden sus datos</p>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Estrategia"
                                v-model="editedItem.estrategia"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-select
                                label="Prioridad"
                                v-model="editedItem.prioridad"
                                :items="prioridades"
                              >
                              </v-select>
                            </v-col>

                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Actividades Primordiales"
                                v-model="actividades"
                                @keydown.enter="agregarActividades"
                              >
                              </v-text-field>

                              <p
                                v-for="d in editedItem.actividadesPrimordiales"
                              >
                                {{ "* " + d }}
                              </p>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Recursos Primordiales"
                                v-model="recursos"
                                @keydown.enter="agregarRecursos"
                              ></v-text-field>
                              <p v-for="d in editedItem.recursosPrimordiales">
                                {{ "* " + d }}
                              </p>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Proveedores Externos"
                                v-model="proveedores"
                                @keydown.enter="agregarProveedores"
                              ></v-text-field>
                              <p v-for="d in editedItem.proveedoresExternos">
                                {{ "* " + d }}
                              </p>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          v-if="editedIndex === -1"
                          @click="agregarTabla"
                        >
                          Guardar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="guardarMod"
                          v-else
                        >
                          Editar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
              </template>
              <template v-slot:[`item.estrategia`]="{ item }">
                <v-chip outlined color="blue">
                  {{ item.estrategia }}
                </v-chip>
              </template>
              <template v-slot:[`item.prioridad`]="{ item }">
                <v-chip :color="getColor(item.prioridad)" dark>
                  {{ item.prioridad }}
                </v-chip>
              </template>
              <template v-slot:[`item.actividadesPrimordiales`]="{ item }">
                <p v-for="d in item.actividadesPrimordiales">
                  {{ "•" + d }}
                </p>
              </template>
              <template v-slot:[`item.recursosPrimordiales`]="{ item }">
                <p v-for="d in item.recursosPrimordiales">
                  {{ "•" + d }}
                </p>
              </template>
              <template v-slot:[`item.proveedoresExternos`]="{ item }">
                <p v-for="d in item.proveedoresExternos">
                  {{ "•" + d }}
                </p>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-row>
      <v-row align="center" justify="center" style="margin-bottom: 5px">
        <v-btn
          v-if="!flag"
          style="margin-top: 15px"
          id="btn-ingreso"
          color="secondary"
          @click="agregarEstrategia"
          >Enviar Formulario</v-btn
        >
        <v-btn
          v-else
          style="margin-top: 15px"
          id="btn-ingreso"
          color="secondary"
          @click="editarEstrategia"
          >Actualizar Formulario</v-btn
        >
      </v-row>
    </v-container>
  </v-responsive>
</template>
<script>
export default {
  data() {
    return {
      load: true,
      id: "",
      flag: true,
      headers: [
        {
          text: "Prioridad",
          align: "start",

          value: "prioridad",
        },
        { text: "Estrategia", value: "estrategia" },
        { text: "Actividades Primordiales", value: "actividadesPrimordiales" },
        { text: "Recursos Primordiales", value: "recursosPrimordiales" },
        { text: "Proveedores Externos", value: "proveedoresExternos" },
        { text: "Editar", value: "actions", sortable: false },
      ],
      actividades: "",
      recursos: "",
      proveedores: "",
      estrategias: [],
      prioridades: [
        { text: "Alta", color: "red" },
        { text: "Muy Alta", color: "light-green" },
        { text: "Media", color: "yellow" },
        { text: "Baja", color: "orange" },
        { text: "Muy Baja", color: "red" },
      ],
      editedItem: {
        prioridad: "",
        estrategia: "",
        actividadesPrimordiales: [],
        recursosPrimordiales: [],
        proveedoresExternos: [],
      },
      defaultItem: {
        prioridad: "",
        estrategia: "",
        actividadesPrimordiales: [],
        recursosPrimordiales: [],
        proveedoresExternos: [],
      },

      desserts: [],

      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },
  mounted() {
    this.obtenerEstrategia();
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (
        !this.editedItem.prioridad ||
        !this.editedItem.estrategia 
      ) {
        this.$notifier.showMessage({
          color: "warning",
          content: "Rellene todos los campos",
        });
      } else {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);

        this.close();
      }
    },
    agregarTabla() {
      if (!this.editedItem.prioridad || !this.editedItem.estrategia) {
        this.$notifier.showMessage({
          color: "warning",
          content: "Rellene todos los campos",
        });
      } else {
        this.desserts.push(this.editedItem);

        this.close();
      }
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
     
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    async obtenerEstrategia() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/estrategiascn/buscarEstrategiasPorUsuario/${user}`
        );
       

        this.desserts = res.data[0].estrategias;
        this.id = res.data[0]._id;
        this.flag = true;
      } catch (error) {
        this.flag = false;
      }
    },
    async editarEstrategia() {
      try {
        let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put(`api/sgcnegocio/estrategiascn/${this.id}`, {
          usuario: usuario,
          estrategias: this.desserts,
        });
        this.$notifier.showMessage({
          color: "success",
          content: "Se editó con éxito",
        });
      } catch (error) {}
    },
    agregarActividades() {
      this.editedItem.actividadesPrimordiales.push(this.actividades);
      this.actividades = "";
    },
    agregarRecursos() {
      this.editedItem.recursosPrimordiales.push(this.recursos);
      this.recursos = "";
    },
    agregarProveedores() {
      this.editedItem.proveedoresExternos.push(this.proveedores);
      this.proveedores = "";
    },
    async agregarEstrategia() {
      try {
        
        let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.post(`api/sgcnegocio/estrategiascn`, {
          usuario: usuario,
          estrategias: this.desserts,
        });

        this.$notifier.showMessage({
          content: "Se agregó con éxito",
          color: "success",
        });
        this.obtenerEstrategia();
      } catch (error) {}
    },
    getColor(value) {
      if (value === "Muy Alta") return "green";
      else if (value === "Alta") return "light-green";
      else if (value === "Media") return "yellow";
      else if (value === "Baja") return "orange";
      else return "red";
    },
  },
};
</script>
<style>
.imagen {
  text-align: center;
}
</style>