<template>
  <v-flex>
    <v-data-table
      :headers="headers"
      :items="miembros"
       :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
      sort-by="calories"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-col
          class="d-flex flex-column align-center justify-space-around"
          cols="12"
        >
          <img
            style="width: 50%"
            src="https://prensa.ec/wp-content/uploads/2021/04/Resoluciones-COE-Nacional-.jpg"
            alt="John"
          />
        </v-col>
        <v-toolbar flat>
          <v-toolbar-title
            >Centro de Operación de Emergencias (Miembros)
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="700px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                Nueva Operación
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-select
                        :items="items"
                        label="Función"
                        v-model="editedItem.funcion"
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-select
                        :items="departamentos"
                        label="Departamento"
                        v-model="editedItem.departamento"
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.telefono"
                        label="Teléfono"
                         :rules="[rules.required, rules.counter, rules.tel]"
                        counter
                        maxlength="10"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancelar
                </v-btn>
                <v-btn color="blue darken-1" text @click="save">
                  Guardar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >¿Estás seguro que deseas borrarlo?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancelar</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>

    <v-card flat>
      <v-container fluid>
        <v-col cols="8" md="12">
          <v-textarea
            name="criteriosMovilizacion"
            label="Criterios de Movilización"
            v-model="criteriosMovilizacion"
            hint="Detalles"
            outlined
          ></v-textarea>
        </v-col>
      </v-container>
    </v-card>

    <template>
      <v-data-table
        :headers="headers1"
        :items="lugaresEncuentro"
         :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
        sort-by="calories"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title
              >Centro de Operación de Emergencias (Lugares de
              Encuentro)</v-toolbar-title
            >
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog1" max-width="1000px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo Lugar
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle1 }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-select
                          :items="items1"
                          label="Orden de Prioridad"
                          v-model="editedItem1.prioridad"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem1.lugar"
                          label="Lugar"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem1.direccion"
                          label="Dirección"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem1.telefono1"
                          label="Teléfono"
                          :rules="[rules.required, rules.counter, rules.tel]"
                          counter
                          maxlength="10"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close1">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save1">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete1" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >Estás seguro que deseas borrarlo?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete1"
                    >Cancelar</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm1"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions1`]="{ item }">
          <v-icon small class="mr-2" @click="editItem1(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem1(item)"> mdi-delete </v-icon>
        </template>
      </v-data-table>
    </template>

    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        :disabled="miembros.length ===0 || lugaresEncuentro.length === 0"
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-flex>
</template>





<script>
export default {
  layout: "userUniversidad",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    dialog1: false,
    dialogDelete1: false,
    putp: false,
    idForm: "",
    departamentos: [],
    criteriosMovilizacion: "",

    rules: {
      required: (value) => !!value || "Campo Requerido.",
      counter: (value) => value.length == 10 || "Se requiere 10 dígitos",
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "No es un correo válido.";
      },
       tel: (value) => {
          const pattern = /^([0])+(9)+([0-9])*$/;
          return pattern.test(value) || "No es un número telefónico válido";
        },
    },
    headers: [
      {
        text: "Función",
        align: "start",
        sortable: false,
        value: "funcion",
      },
      { text: "Departamento", value: "departamento" },
      { text: "Teléfono", value: "telefono" },

      { text: "Acciones", value: "actions", sortable: false },
    ],
    items: [
      "Función",
      "Análisis y planificación",
      "Recolección de Información",
      "Operaciones in situ",
      "Relaciones Públicas",
    ],
    miembros: [],
    headers1: [
      {
        text: "Orden de Prioridad",
        align: "start",
        sortable: false,
        value: "prioridad",
      },
      { text: "Lugar", value: "lugar" },
      { text: "Dirección", value: "direccion" },
      { text: "Teléfono", value: "telefono1" },

      { text: "Acciones", value: "actions1", sortable: false },
    ],

    items1: ["1", "2", "3"],
    lugaresEncuentro: [],
    editedIndex: -1,
    rules: {
       required: (value) => !!value || "Campo Requerido.",
        counter: (value) => value.length == 10 || "Se requiere 10 dígitos",
         tel: (value) => {
          const pattern = /^([0])+(9)+([0-9])*$/;
          return pattern.test(value) || "No es un número telefónico válido";
        },
         email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "No es un correo válido.";
        },
      },
    editedItem: {
      funcion: "",
      departamento: "",
      telefono: "",
      //---------------
      prioridad: "",
      lugar: "",
      direccion: "",
      telefono1: "",
    },
    defaultItem: {
      funcion: "",
      departamento: "",
      telefono: "",
      //---------------
      prioridad: "",
      lugar: "",
      direccion: "",
      telefono1: "",
    },
    editedIndex1: -1,
    editedItem1: {
      //---------------
      prioridad: "",
      lugar: "",
      direccion: "",
      telefono1: "",
    },
    defaultItem1: {
      //---------------
      prioridad: "",
      lugar: "",
      direccion: "",
      telefono1: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Operación" : "Editar Operación";
    },
    formTitle1() {
      return this.editedIndex1 === -1 ? "Nuevo Lugar" : "Editar Lugar";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    //**************************************** */
    dialog1(val1) {
      val1 || this.close1();
    },
    dialogDelete1(val1) {
      val1 || this.closeDelete1();
    },
  },

  mounted() {
    this.initialize();
    this.obtener();
    this.recuperarDepartamentos();
  },

  methods: {
    initialize() {},

    editItem(item) {
      this.editedIndex = this.miembros.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.miembros.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.miembros.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.miembros[this.editedIndex], this.editedItem);
      } else {
        this.miembros.push(this.editedItem);
      }
      this.close();
    },
    //******************************************************* */
    editItem1(item) {
      this.editedIndex1 = this.lugaresEncuentro.indexOf(item);
      this.editedItem1 = Object.assign({}, item);
      this.dialog1 = true;
    },

    deleteItem1(item) {
      this.editedIndex1 = this.lugaresEncuentro.indexOf(item);
      this.editedItem1 = Object.assign({}, item);
      this.dialogDelete1 = true;
    },

    deleteItemConfirm1() {
      this.lugaresEncuentro.splice(this.editedIndex1, 1);
      this.closeDelete1();
    },

    close1() {
      this.dialog1 = false;
      this.$nextTick(() => {
        this.editedItem1 = Object.assign({}, this.defaultItem1);
        this.editedIndex1 = -1;
      });
    },

    closeDelete1() {
      this.dialogDelete1 = false;
      this.$nextTick(() => {
        this.editedItem1 = Object.assign({}, this.defaultItem1);
        this.editedIndex1 = -1;
      });
    },
    save1() {
      if (this.editedIndex1 > -1) {
        Object.assign(
          this.lugaresEncuentro[this.editedIndex1],
          this.editedItem1
        );
      } else {
        this.lugaresEncuentro.push(this.editedItem1);
      }
      this.close1();
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/centros/buscarCentroPorUsuario/${user}`
        );
       

        if (!res.data) {
          this.miembros = [];
          this.criteriosMovilizacion = "";
          this.lugaresEncuentro = [];
          this.putp = false;
        } else {
          this.idForm = res.data._id;
          this.miembros = res.data.miembros;
          this.criteriosMovilizacion = res.data.criteriosMovilizacion;
          this.lugaresEncuentro = res.data.lugaresEncuentro;
          this.putp = true;
        }
      } catch (err) {
        
      }
    },

    async recuperarDepartamentos() {
      this.departamentos.slice();
    
      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.$cookies.get("dataClient").organizacion
        );
        const or = response.data;
       
        or.departamentos.forEach((element) => {
         
          this.departamentos.push(`${element}`);
        });
      } catch (err) {
       
      }
    },


  async enviarForm() {
  
    if (this.putp) {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.put("api/sgcnegocio/centros/" + this.idForm, {
          usuario: user,
          miembros: this.miembros,
          criteriosMovilizacion: this.criteriosMovilizacion,
          lugaresEncuentro: this.lugaresEncuentro,
        });
        this.$notifier.showMessage({
          content: "Registro actualizado con éxito",
          color: "success",

        })
      } catch (error) {
      
        this.$notifier.showMessage({
          content: "No fue posible actualizar el registro",
          color: "error",
        });
      }
    } else {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        await this.$axios.post("api/sgcnegocio/centros", {
          usuario: user,
          miembros: this.miembros,
          criteriosMovilizacion: this.criteriosMovilizacion,
          lugaresEncuentro: this.lugaresEncuentro,
        });
        this.$notifier.showMessage({
          content: "Registro añadido con éxito",
          color: "success",          
        })
      } catch (error) {
      
        this.$notifier.showMessage({
          content: "No se pudo crear el registro",
          color: "error",
        });
      }
    }
  }
  },
};
</script>