<template>
  <v-responsive :aspect-ratio="16 / 9">
    <v-container>
      <v-row>
        <v-layout align-start>
          <v-flex>
            <center>
            <img src="https://secure.webtoolhub.com/static/resources/icons/set112/1df88523.png" width="200" />
            </center>
            <v-data-table
              :headers="headers"
              :items="desserts"
               :footer-props="{
                  'items-per-page-text': 'Filas por página',
                }"
              sort-by="calories"
              class="elevation-1"
              loading="100"
              loading-text="Cargando... Por favor espere"
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title
                    >Lista de contactos externos</v-toolbar-title
                  >
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="900px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                        elevation="5"
                        fab
                      >
                        <v-icon> mdi-plus </v-icon>
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">Ingrese un nuevo contacto</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                label="Nombre de persona o empresa"
                                v-model="editedItem.nombre"
                                :rules="[rules.required]"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                label="Teléfono"
                                v-model="editedItem.telefono"
                                :rules="[rules.required, rules.counter, rules.tel]"
                                  counter
                                  maxlength="10"
                              ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                label="Correo electrónico"
                                v-model="editedItem.correo"
                                :rules="[rules.required, rules.email]"
                                type="email"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-select
                                label="Tipo de contacto"
                                v-model="editedItem.tipoContacto"
                                :items="tipoContactos"
                              ></v-select>
                            </v-col>
                             <v-col cols="12" sm="6" md="6">
                               <v-select
                                label="Estado"
                                v-model="editedItem.estado"
                                :items="estado"
                                :rules="[rules.required]"
                              ></v-select>                               
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="enviarContacto"
                          v-if="editedIndex === -1"
                        >
                          Guardar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="actualizarContacto"
                          v-else
                        >
                          Editar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5"
                        >Estas seguro que deseas borrarlo?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="eliminarContacto"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>

              <template v-slot:[`item.estado`]="{ item }">
                  <v-chip :color="getColor(item.estado)" dark>
                    {{ item.estado }}
                  </v-chip>
                </template>

              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize"> Reset </v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-row>
    </v-container>
  </v-responsive>
</template>

<script>
export default {
  data() {
    return {
      load: true,
      rules: {
        required: (value) => !!value || "Campo Requerido.",
        counter: (value) => value.length == 10 || "Se requiere 10 dígitos",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "No es un correo válido.";
        },
        tel: (value) => {
          const pattern = /^([0])+(9)+([0-9])*$/;
          return pattern.test(value) || "No es un número telefónico válido";
        },
      },
      tipoContactos: ["Contactos Públicos", "Agencias Públicas oficinas de gobiernos locales", "Instituciones Financieras", "Clientes", "Compañía de mantenimiento de equipos", "Proveedor de materiales", "Proveedor de Servicios"],
      estado:["Activo","Inactivo"],
      headers: [
        
        { text: "Persona o empresa", value: "nombre" },
        { text: "Teléfono", value: "telefono" },
        { text: "Correo electrónico", value: "correo" },
        { text: "Tipo de contacto", value: "tipoContacto" },
        { text: "Estado", value: "estado" },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      rules: {
        required: (value) => !!value || "Campo Requerido.",
        counter: (value) => value.length == 10 || "Se requiere 10 dígitos",
         tel: (value) => {
          const pattern = /^([0])+(9)+([0-9])*$/;
          return pattern.test(value) || "No es un número telefónico válido";
        },
         email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "No es un correo válido.";
        },
      },
      editedItem: {
        nombre: "",
        telefono: "",
        correo: "",
        tipoContacto: "",
        estado: ''
      },
      defaultItem: {
        nombre: "",
        telefono: "",
        correo: "",
        tipoContacto: "",
        estado: ''
      },
      desserts: [],
     
      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    },
  },
  mounted() {
    this.obtener();
  },
  methods: {
        getColor(value) {
    if (value === "Activo") return "green";
    else if (value === "Inactivo") return "red";
  },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
   
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    agregarContacto() {
      this.desserts.push({
        estado: this.editedItem.estado,
        nombre: this.editedItem.nombre,
        telefono: this.editedItem.telefono,
        correo: this.editedItem.correo,
        tipoContacto: this.editedItem.tipoContacto,
      });
    },
    limpiar() {
      this.editedItem.estado = "";
      this.editedItem.nombre = "";
      this.editedItem.telefono = "";
      this.editedItem.correo = "";
      this.editedItem.tipoContacto = "";
    },
    async enviarContacto() {
      if (
        !this.editedItem.estado ||
        !this.editedItem.telefono ||
        !this.editedItem.nombre ||
        !this.editedItem.correo ||
        !this.editedItem.tipoContacto
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(`api/sgcnegocio/listaContactoExterno/agregarContacto`, {
            user,
            estado: this.editedItem.estado,
            nombre: this.editedItem.nombre,
            telefono: this.editedItem.telefono,
            correo: this.editedItem.correo,
            tipoContacto: this.editedItem.tipoContacto,
          });
         
          this.agregarContacto();
          this.limpiar();
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success",
          });
          this.obtener();

        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No se pudo añadir el Contacto, inténtelo de nuevo",
            color: "error",
          });
          this.limpiar();
        }
      }
      this.dialog = false;
    },
    async actualizarContacto() {
      if (
        !this.editedItem.estado ||
        !this.editedItem.telefono ||
        !this.editedItem.nombre ||
        !this.editedItem.correo ||
        !this.editedItem.tipoContacto
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
       
          await this.$axios.put(
            `api/sgcnegocio/listaContactoExterno/actualizarContacto/${this.editedItem._id}`,
            {
              user,
              estado: this.editedItem.estado,
              nombre: this.editedItem.nombre,
              telefono: this.editedItem.telefono,
              correo: this.editedItem.correo,
              tipoContacto: this.editedItem.tipoContacto,
            }
          );

          this.guardarMod();
          this.limpiar();
          this.$notifier.showMessage({
            content: "Se editó con éxito",
            color: "success",
          });
        } catch (error) {
          
          this.$notifier.showMessage({
            content: "No se pudo actualizar, intente de nuevo",
            color: "error",
          });
        }
      }
    },
    async eliminarContacto() {
      try {
      
        await this.$axios.delete(
          `api/sgcnegocio/listaContactoExterno/eliminarContacto/${this.editedItem._id}`
        );

        this.desserts.splice(this.editedIndex, 1);
        
    
        this.closeDelete();
        this.$notifier.showMessage({
          content: "El elemento se eliminó con éxito",
          color: "success",
        });
      } catch (error) {
       
        this.$notifier.showMessage({
          content: "No se pudo eliminar el elemento",
          color: "error",
        });
      }
      this.dialogDelete = false;
    },
    async obtener() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/listaContactoExterno/buscarContactosPorUser/" + usuario
        );
        this.desserts = res.data;
        this.id = resp.data._id
       
      } catch (error) {
       
      }
    },
 
  },
 
};
</script>
