<template>
<v-container>
 <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-center" style="margin-bottom:15px">
          DETALLE DE MEDIDAS FINANCIERAS
        </h2>
      </v-col>
    </v-row>
 <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="12"
        
        
      >
        <img
          style="width: 50%"
          src="https://www.enae.es/sites/default/files/imagen-blog/Nuevas_medidas_15_05_br.jpg"
          alt="John"
        />
      </v-col>


 <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
          :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
        sort-by="calories"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Medidas Financieras</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon-cb="search"
              label="Búsqueda"
              single-line
              hide-details
            >
            </v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nueva Medida
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.medidasFinancieras"
                          label="Medidas Financieras"
                        ></v-text-field>
                        
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.monto"
                          label="Monto"
                          type= "number"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.detalles"
                          label="Detalles"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="enviar" v-if="editedIndex===-1">
                    Guardar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="actualizarDat" v-else>
                    Editar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >Estas seguro que deseas borrarlo?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="eliminarDat"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
     
      </v-data-table>
    </v-flex>
  </v-layout>





</v-container>
 
</template>


<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      id: "",
      medidasFinancieras: "",
      monto: "",
      detalles: "",     
      headers: [
        {
          text: "Medidas Financieras",
          align: "start",
          sortable: false,
          value: "medidasFinancieras",
        },
        { text: "Monto", value: "monto" },
        { text: "Detalles", value: "detalles" },

        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        _id:"",
        medidasFinancieras: "",
        monto: "",
        detalles: "",
      },      
      defaultItem: {
        
        medidasFinancieras: "",
        monto: "",
        detalles: "",
      },
    };
  },
  mounted() {
    this.obtener();
    
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Medida" : "Editar Medida";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

 

  methods: {
  
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
          medidasFinancieras: this.medidasFinancieras,
          monto: this.monto,
          detalles: this.detalles,
        });
      }
      this.close();
    },

    async actualizarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          medidasFinancieras: this.editedItem.medidasFinancieras,
          monto: this.editedItem.monto,
          detalles: this.editedItem.detalles,
        };
        await this.$axios.put(
          `api/sgcnegocio/formularioMedidasFinancieras/actualizarMedidasFinancieras/${this.editedItem._id}`,
          datos
        );
        this.dialog=false;
        
        this.obtener();
          this.$notifier.showMessage({
            content:
              "Registro actualizado con éxito",
            color: "success",
          });
      } catch (err) {
      
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/formularioMedidasFinancieras/buscarMedidasFinancierasPorUser/" + user
        );
        this.id = res.data._id       
        
        this.desserts=res.data        

       
      } catch (err) {
       
      }
    },



   
    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient")._id,
     
          medidasFinancieras: this.editItem.medidasFinancieras,
          monto: this.editItem.monto,
          detalles: this.editItem.detalles,
        };
        const res = await this.$axios.delete(
          `api/sgcnegocio/formularioMedidasFinancieras/eliminarMedidasFinancieras/${this.editedItem._id}`,
          datos
        );
         this.$notifier.showMessage({
            content:
              "Registro eliminado con éxito",
            color: "success",
          });
        this.deleteItemConfirm();
      } catch (err) {
      
      }
    },


    agregarEquipo() {
      this.desserts.push({
        medidasFinancieras: this.editedItem.medidasFinancieras,
        monto: this.editedItem.monto,
        detalles: this.editedItem.detalles,
      });
    },

    async enviar() {
      try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          medidasFinancieras: this.editedItem.medidasFinancieras,
          monto: this.editedItem.monto,
          detalles: this.editedItem.detalles,
        };
        await this.$axios.post(
          "api/sgcnegocio/formularioMedidasFinancieras/agregarMedidasFinancieras",
          data
        );
        this.$notifier.showMessage({
            content:
              "Registro ingresado con éxito",
            color: "success",
          });
        this.obtener();
        (this.medidasFinancieras = ""), (this.monto = ""), (this.detalles = "");
      } catch (err) {
       
      }
        this.close();
    },
  },
};
</script>