<template>
  <row class="d-flex justify-space-around ">
    
    <v-col cols="12" sm="12" md="12">
      
        <v-icon left>
          mdi-school
        </v-icon>
        {{uni}}
    
    </v-col>
   
 
  </row>
</template>

<script>
export default {
  props: ["uni"],
  methods: {
    async eliminar () {
      console.log("https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/eliminarOrganizacion/"+this.uni)
      try {
        await this.$axios.delete("https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/eliminarOrganizacion/"+this.uni);
        this.$emit("recuperarOrganizaciones");
        console.log("exito");
      } catch (error) {
        console.log(error);
      }
      this.$emit("recuperarOrganizaciones");
     
    }
   
  }
};
</script>