<template>
  <row class="d-flex justify-space-around">
    <v-col cols="0" sm="1" md="1">
      <v-icon left> mdi-account-circle </v-icon>
    </v-col>

    <v-col cols="4" sm="4" md="4">
      <span v-if="!dep">
        {{ uni }}
      </span>

      <span v-else>
        {{ dep }}
      </span>
    </v-col>

    <v-col cols="3" sm="3" md="3" style="text-align: center">
      {{ user }}
    </v-col>
    <v-col cols="2" sm="2" md="2" style="text-align: center">
      {{ contra }}
    </v-col>


    <v-col cols="2" sm="2" md="2" style="text-align: center">
    
       <!-- <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="error" 
          dark
          v-bind="attrs"
          v-on="on"
        >
           Eliminar
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="text-h5">
          ¿Esta seguro que desea eliminar el usuario?
        </v-card-title>
        <v-card-text>Todos los formularios llenados por este usurio seran eliminados</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="eliminar"
          >
           Eliminar
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    
    </v-col>

    

  </row>
</template>

<script>
export default {
  props: ["user", "contra", "uni", "dep"],
data() {
  return {
    dialog: false,
  }
},
  mounted() {
    console.log(this.dep);
  },
  methods: {
     async eliminar () {
      console.log("https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/eliminarOrganizacion/"+this.uni)
      try {
        await this.$axios.delete("api/sgcnegocio/eliminarUsuario/"+this.user);
        this.$emit("recuperarUsuario");
          this.$notifier.showMessage({
            content: "Usuario eliminado",
            color: "success"
          });
      } catch (error) {
        console.log(error);
         this.$notifier.showMessage({
            content: "No fue posible eliminar el usuario",
            color: "success"
          });
      }
      dialog = false
     
     
    }
  },
  
};
</script>
