<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <h1 class="titlid">ALCANCE</h1>
      <img class="imagen" src="/alcance.svg" />
      <div class="container">
        <v-form ref="form" lazy-validation v-model="valid">
          <v-row align="center" justify="center" id="ingreso">
            <v-col cols="12" sm="12" md="9">
              <v-container fluid>
                <v-card-title>
                  Propósito de plan de continuidad de negocios
                </v-card-title>
                <v-row>
                  <v-col cols="3">
                    <v-subheader>Proteger al personal</v-subheader>
                  </v-col>
                  <v-col cols="9">
                    <v-text-field
                      v-model="personal"
                      :rules="[(v) => !!v || 'Este campo es requerido']"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-subheader>Proteger tu negocio</v-subheader>
                  </v-col>
                  <v-col cols="9">
                    <v-text-field
                      v-model="negocio"
                      :rules="[(v) => !!v || 'Este campo es requerido']"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-card-title> Alcance </v-card-title>
                <v-row>
                  <v-col cols="6">
                    <v-subheader
                      >Departamento de la organización a incluir en el
                      PCN</v-subheader
                    >
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="departamento"
                      :rules="[(v) => !!v || 'Este campo es requerido']"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>

              <v-btn
                v-if="!flag"
                id="btn-ingreso"
                color="secondary"
                :loading="isLoading"
                @click="enviar"
                >Agregar</v-btn
              >
               <v-btn
                v-else
                id="btn-ingreso"
                color="secondary"
                :loading="isLoading"
                @click="editar"
                >Editar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>
    </v-responsive>
  </v-card>
</template>
<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      valid: true,
      isLoading: false,
      personal: null,
      negocio: null,
      departamento: null,
      id: null,
      flag: false,
      idAlcance: ''
    };
  },
  async mounted() {
   this.loadData()
  },

  methods: {
    async loadData () {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario
       try {
        const resp = await this.$axios.get(
          `/api/sgcnegocio/formularioAlcance/buscarFormularioAlcancePorUser/${user}`
        );
        if (resp.data && resp.data._id) {
          this.personal = resp.data.personal
          this.negocio = resp.data.negocio
          this.departamento = resp.data.departamento
          this.idAlcance = resp.data._id
          this.flag = true
        }
      } catch (err) {
        console.log(err)
      }
    },
    async enviar() {
      try {
        this.isLoading = true;
        if (this.$refs.form.validate()) {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          const resp = await this.$axios.post(
            `/api/sgcnegocio/formularioAlcance/agregarAlcance`,
            {
              user,
              personal: this.personal,
              negocio: this.negocio,
              departamento: this.departamento,
            }
          );
          this.loadData()
          if (resp) {
            this.$notifier.showMessage({
              content: "Alcance añadido con éxito",
              color: "success",
            });
          }
        } else {
          this.$notifier.showMessage({
            content: "Corrija los campos del formulario para continuar",
            color: "error",
          });
        }
      } catch (err) {
        const message = err.response ? err.response.data.error : err.error;
        this.$notifier.showMessage({
          content: message,
          color: "error",
        });
      } finally {
        this.isLoading = false;
      }
    },
    async editar() {
      try {
        this.isLoading = true;
        if (this.$refs.form.validate()) {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario
          const resp = await this.$axios.put(
            `/api/sgcnegocio/formularioAlcance/actualizarAlcance/${this.idAlcance}`,{
              user,
              personal: this.personal,
              negocio: this.negocio,
              departamento: this.departamento,
            }
          );
          if (resp) {
            this.$notifier.showMessage({
              content: "Alcance modificado con éxito",
              color: "success",
            });
          }
        } else {
          this.$notifier.showMessage({
            content: "Corrija los campos del formulario para continuar",
            color: "error",
          });
        }
      } catch (err) {
        console.log(err)
        console.log(err.response)
        const message = err.response ? err.response.data.error : err.error;
        this.$notifier.showMessage({
          content: message,
          color: "error",
        });
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>
<style >
#tabla-datos {
  width: 85%;
}
#card-in {
  border: solid 2px #51a8c4;
}
#ingreso {
  margin-top: 3%;
}
#btn-ingreso {
  margin-top: 2%;
  margin-left: 40%;
}
.imagen {
  margin-left: 35%;
  width: 30%;
}
.titlid {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
</style>