<template>
  <v-responsive :aspect-ratio="16 / 9">
    <v-container>
      <v-row>
        <v-layout align-start>
          <v-flex>
            <img class="imagen" src="/revision.svg" />

            <v-data-table
              :headers="headers"
              :items="desserts"
              :footer-props="{
                'items-per-page-text': 'Filas por página',
              }"
              class="elevation-1"
              loading="100"
              loading-text="Cargando... Por favor espere"
            >
              <template v-slot:[`item.temaRevVer`]="{ item }">
                <v-btn text nuxt :to="item.link">{{ item.temaRevVer }}</v-btn>
              </template>

              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Tabla de Evaluación</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <v-spacer></v-spacer>

                  <v-dialog v-model="dialog" max-width="900px">
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                readonly
                                label="Tema a revisar y verificar"
                                v-model="editedItem.temaRevVer"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                readonly
                                label="Formularios"
                                v-model="editedItem.formulario"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                readonly
                                label="En curso"
                                v-model="editedItem.estado"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Cambios en el entorno del negocio"
                                v-model="editedItem.cambios"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Temas a revisar"
                                v-model="editedItem.temasRevisar"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          v-if="editedIndex === -1"
                        >
                          Guardar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="guardarMod"
                          v-else
                        >
                          Editar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogPDF" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h7"
                        >¿Estás seguro que deseas descargar el
                        PDF?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closePDF"
                          >Cancelar</v-btn
                        >
                        <v-btn color="blue darken-1" text @click="reporte"
                          >Aceptar</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
              </template>

              <template v-slot:[`item.departamento`]="{ item }">
                <h3>{{ item.departamento }}</h3>
              </template>

              <template v-slot:[`item.estado`]="{ item }">
                <v-chip :color="getColor(item.estado)" dark>
                  {{ item.estado }}
                </v-chip>
              </template>

              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize"> Reset </v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-row>
      <v-row>
        <v-btn
          style="margin-bottom: 20px; margin-top: 20px"
          rounded
          color="secondary"
          elevation="8"
          dark
          @click="actualizarForm"
          >Guardar Datos</v-btn
        >
        <v-btn
          style="
            margin-bottom: 20px;
            margin-top: 20px;
            position: absolute;
            right: 0;
          "
          rounded
          color="secondary"
          elevation="8"
          dark
          @click="PDFItem"
          ><v-icon>mdi-file-document-multiple-outline</v-icon> Reporte</v-btn
        >
      </v-row>
    </v-container>
  </v-responsive>
</template>

<script>
export default {
  data() {
    return {
      load: true,

      id: "",
      estado: ["Si", "No"],
      headers: [
        { text: "Paso", value: "paso" },
        { text: "Asunto a revisar y verificar", value: "temaRevVer" },
        { text: "Formularios", value: "formulario" },
        { text: "En Curso", value: "estado" },
        { text: "Cambios en el entorno del negocio", value: "cambios" },
        { text: "Temas a revisar", value: "temasRevisar" },

        { text: "Acciones", value: "actions", sortable: false },
      ],
      editedItem: {
        paso: "",
        temaRevVer: "",
        formulario: "",
        estado: "",
        cambios: "",
        temasRevisar: "",
      },
      defaultItem: {
        paso: "",
        temaRevVer: "",
        formulario: "",
        estado: "",
        cambios: "",
        temasRevisar: "",
      },

      desserts: [
        {
          temaRevVer: "",
          formulario: "",
          estado: "",
          cambios: "",
          temasRevisar: "",
        },
      ],

      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
      dialogPDF: false,
      lista: [],
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },
  mounted() {
    this.obtener();
  },
  methods: {
    PDFItem() {
      this.dialogPDF = true;
      this.dialog = false;
    },
    getColor(value) {
      if (value === "Completado") return "green";
      else if (value === "No completado") return "red";
      else return "orange";
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closePDF() {
      this.dialogPDF = false;
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
    
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    async actualizarForm() {
      try {
        const datos = {
          usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
          temas: this.desserts,
        };
        await this.$axios.put(`api/sgcnegocio/revisiones/${this.id}`, datos);
        this.dialog = false;
        this.obtener();
        this.$notifier.showMessage({
          content: "Cambios guardados",
          color: "success",
        });
      } catch (error) {}
    },
      async reporte() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(`api/sgcnegocio/revisiones/pdf/${usuario}`);
        window.location.href = `/api/sgcnegocio/revisiones/pdf/${usuario}`;
       
        this.closePDF();
      } catch (err) {
       
        this.closePDF();
      }
    },
    async obtener() {
      this.desserts.slice();
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/revisiones/buscarRevisionPorUsuario/${usuario}`
        );
       
        this.id = res.data._id;

        this.desserts = res.data.temas;
      } catch (error) {
        
      }
    },
  
  },
};
</script>
