<template>
  <v-container>
    <v-row>
      <img class="imagen" src="/costoRecuperacion.svg" />
    </v-row>

    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Costos de Recuperación</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="900px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ editedItem.nombre }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              label="Costos"
                              type="number"
                              prefix="$"
                              v-model.number="editedItem.costo"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              label="otros"
                             
                              v-model="editedItem.otros"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="guardarMod"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> No hay registros </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
     <v-row align="center" justify="center">
    <v-card id="cardTotales">
      <v-row align="center" justify="center">
        <v-col cols="7">
          <h3>Costos Totales:</h3>
        </v-col>
        <v-col cols="5" style="margin-left: 0px; padding-left: 0px">
          <p>${{ sumaTotal }}</p>
        </v-col>
      </v-row>
    </v-card>
     </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarFormulario"
        >Guardar Datos</v-btn
      >
    </v-row>
    
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      editedIndex: -1,
      totalCosto:0,
      idForm: "",
      headers: [
        {
          text: "Recursos",
          align: "start",
          value: "nombre",
        },
        { text: "Costos de recuperación", value: "costo" },
        { text: "Otros", value: "otros" },

        { text: "Acciones", value: "actions", sortable: false },
      ],

      desserts: [
       
      ],
      editedItem: {
        nombre: "",
        costo: 0,
        otros: "",
      },
      defaultItem: {
        nombre: "",
        costo: 0,
        otros: "",
      },
      dialog: false,
    };
  },

  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);

      this.editedItem = Object.assign({}, item);
   
      this.dialog = true;
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    async obtenerRec() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/costos/buscarPorUser/${user}`
        );

     
        this.idForm = res.data._id;

        this.desserts = res.data.recurso;
      } catch (error) {
        if (error.response.status == 404) {
          this.$notifier.showMessage({
            content:
              "Debe ingresar los recursos para las actividades Prioritarias en el paso 3",
            color: "warning",
          });
        } else {
          this.$notifier.showMessage({
            content: "No se pudo recuperar la información",
            color: "error",
          });
        }
       
      }
    },

    async enviarFormulario() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.put(
          `api/sgcnegocio/costos/actualizarCosto/${this.idForm}`,
          {
            _id: this.idForm,
            usuario: user,
            recurso: this.desserts,
            totalCosto: this.sumaTotal
          }
        );

        this.$notifier.showMessage({
          content: "Ingreso Exitoso",
          color: "success",
        });
      } catch (error) {
      
        this.$notifier.showMessage({
          content: "Error al enviar data",
          color: "error",
        });
      }
    },
  },
  computed: {
    sumaTotal() {
      
      let suma = 0;
      for (const i of this.desserts) {
        suma = suma + i.costo;
     
      }
      return suma;
    },
    
  },

  mounted() {
    this.obtenerRec();
  },
};
</script>
<style>
#cardTotales {
  width: 250px;
  height: 40px;
  /* margin-left: 35%; */
  margin-top: 30px;;
}
#cardTotales h3 {
  color: rgb(189, 29, 82);
  margin-bottom: 20px;
}
</style>
