<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <img
        class="imagen"
        src="https://i.pinimg.com/originals/c2/a3/c0/c2a3c044375c0a6e140dc44f07c90ddb.png"
      />
      <div class="container">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="15" md="8">
            <v-card-text class="elevation-12" id="card-in">
              <v-form ref="form" v-model="form">
                <p>Por favor ingrese nuevos datos:</p>
                <v-text-field
                  ref="producto"
                  label="Actividades Prioritarias"
                  outlined
                  rounded
                  v-model="actividades"
                  :rules="[() => !!actividades || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                >
                </v-text-field>
                <v-row
                  style="
                    border: 0.1px black solid;
                    border-radius: 100px;
                    border-color: gray;
                    height: 60px;
                  "
                >
                  <v-col cols="2">
                    <v-text-field
                      ref="tiempoIdealRecuperacion"
                     class="custom"
                     label="N°"
                     
                      v-model="tiemposRecuperacion1"
                      :rules="[
                        () => !!tiemposRecuperacion1 || 'Campo obligatorio',
                      ]"
                      type="number"
                      color="primary"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="10">
                    <v-select
                    class="custom"
                      :items="tiempos"
                      
                      v-model="tiemposRecuperacion"
                      :rules="[
                        () => !!tiemposRecuperacion || 'Campo obligatorio',
                      ]"
                      label="Tiempo ideal de Recuperación"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>

            <v-btn
              id="btn-ingreso"
              color="secondary"
              @click="enviar"
              
            >
              Agregar
            </v-btn>
          </v-col>
        </v-row>
      </div>

      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
            :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="producto"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Tiempo de Interrupción</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  class="text-xs-center"
                  v-model="search"
                  append-icon-cb="search"
                  label="Búsqueda"
                  single-line
                  hide-details
                >
                </v-text-field>
                <v-spacer></v-spacer>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <!-- <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon> -->
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay registros </v-btn>
            </template>
          </v-data-table>
          <v-dialog v-model="dialog" max-width="500px">
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.actividades"
                        label="Departamento que manneja el Producto/Servicio"
                        :rules="[
                          () => !!editedItem.actividades || 'Campo obligatorio',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.tiemposRecuperacion"
                        label="Tiempo ideal de Recuperación"
                        :rules="[
                          () =>
                            !!editedItem.tiemposRecuperacion ||
                            'Campo obligatorio',
                        ]"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancelar
                </v-btn>

                <v-btn color="blue darken-1" text @click="actualizarDat()">
                  Editar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h7"
                >¿Estás seguro que deseas borrar el registro?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancelar</v-btn
                >
                <v-btn color="blue darken-1" text @click="eliminarDat"
                  >Aceptar</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-responsive>
  </v-card>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      idDelete: "",
      id: "",
      actividades: "",
      tiemposRecuperacion: "",

tiemposRecuperacion1:"",

      headers: [
        {
          text: "Actividades prioritarias",
          align: "start",
          sortable: false,
          value: "actividades",
        },
        {
          text: "Tiempo Ideal de Recuperación",
          value: "tiemposRecuperacion",
        },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      desserts: [],
      tiempos: ["días", "semanas", "meses", "años"],
      editedIndex: -1,
      editedItem: {
        actividades: "",
        tiemposRecuperacion: "",
      },
      defaultItem: {
        producto: "",
        pmti: "",
        tiempoIdealRecuperacion: "",
      },
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.idDelete = item._id;
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
          producto: this.producto,
          tiempoRecuperacion: this.tiempoIdealRecuperacion,
        });
      }
      this.close();
    },
    async actualizarDat() {
      try {
        const datos = {
          usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
          actividades: this.editedItem.actividades,
          tiemposRecuperacion: this.editedItem.tiemposRecuperacion,
        };

        await this.$axios.put(
          `api/sgcnegocio/actividades/${this.editedItem._id}`,
          datos
        );
        this.dialog = false;
        this.obtener();
        this.$notifier.showMessage({
          content: "Elemento actualizado con éxito",
          color: "success",
        });
      } catch (err) {
        console.log(err);
      }
    },
    async obtener() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await this.$axios.get(
          "api/sgcnegocio/actividades/buscarActividadesPorUsuario/" + usuario
        );
        this.desserts = resp.data;
        this.id = resp.data._id;
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        await this.$axios.delete(`api/sgcnegocio/actividades/${this.idDelete}`);
        this.closeDelete();
        this.obtener();
        this.$notifier.showMessage({
          content: "Elemento eliminado correctamente",
          color: "success",
        });
      } catch (err) {
        console.log(err);
      }
    },
    agregarEquipo() {
      this.desserts.push({
        producto: this.producto,
        pmti: this.pmti,
        tiempoIdealRecuperacion: this.tiempoIdealRecuperacion,
      });
    },
    async enviar() {
      if(!this.tiemposRecuperacion ||
      !this.actividades || 
      !this.tiemposRecuperacion1){
   this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      }else{
      try {
        const data = {
          usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
          actividades: this.actividades,
          tiemposRecuperacion:
            this.tiemposRecuperacion1 + " " + this.tiemposRecuperacion,
        };
        await this.$axios.post(`api/sgcnegocio/actividades`, data);
        this.actividades = "";
        this.tiemposRecuperacion = "";
        this.tiemposRecuperacion1="";
        this.$refs.form.resetValidation();
        this.obtener();
        this.$notifier.showMessage({
          content: "Elemento añadido",
          color: "success",
        });
      } catch (err) {
        console.log(err);
        this.$notifier.showMessage({
          content: "No se pudo añadir ",
          color: "error",
        });
      }
      this.close();
      }
    },
    
  },
};
</script>
<style >
.imagen {
  margin-left: 35%;
  width: 30%;
}

	.custom.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none;
}
.custom.v-text-field>.v-input__control>.v-input__slot:after {
    border-style: none;
}
</style>