<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <img class="imagen" src="/tiempo.svg" />
      <div class="container">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="15" md="8">
            <v-card-text class="elevation-12" id="card-in">
              <v-form ref="form" v-model="form">
                <p>Por favor ingrese nuevos datos:</p>
                <v-autocomplete
                  ref="producto"
                  label="Departamento que maneja el Producto/Servicio"
                  outlined
                  rounded
                  v-model="producto"
                  :rules="[() => !!producto || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                  :items="departamentos"
                >
                </v-autocomplete>
                <v-row
                  style="
                    border: 0.1px black solid;
                    border-radius: 100px;
                    border-color: gray;
                    height: 60px;
                  "
                >
                  <v-col cols="3">
                    <v-text-field
                      ref="pmti"
                      label="N°"
                      class="custom"
                      v-model="pmti"
                      :rules="[() => !!pmti || 'Campo obligatorio']"
                      type="number"
                      color="primary"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="8">
                    <v-select
                      class="custom"
                      :items="tiempos"
                      v-model="pmti1"
                      :rules="[() => !!pmti1 || 'Campo obligatorio']"
                      label="Periodo Máximo Tolerable de Interrupción (PMTI)"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-row
                  style="
                    border: 0.1px black solid;
                    border-radius: 100px;
                    border-color: gray;
                    height: 60px;
                    margin-top: 30px;
                  "
                >
                  <v-col cols="3">
                    <v-text-field
                      ref="tiempoIdealRecuperacion"
                      label="N°"
                      class="custom"
                      v-model="tiempoIdealRecuperacion"
                      :rules="[
                        () => !!tiempoIdealRecuperacion || 'Campo obligatorio',
                      ]"
                      type="number"
                      color="primary"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="8">
                    <v-select
                      class="custom"
                      :items="tiempos"
                      v-model="tiempoIdealRecuperacion1"
                      :rules="[
                        () => !!tiempoIdealRecuperacion1 || 'Campo obligatorio',
                      ]"
                      label="Tiempo ideal de Recuperación"
                    ></v-select> </v-col
                ></v-row>
              </v-form>
            </v-card-text>

            <v-btn
              id="btn-ingreso"
              color="secondary"
              @click="enviar"
         
            >
              Agregar
            </v-btn>
          </v-col>
        </v-row>
      </div>

      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
             :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            sort-by="producto"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Tiempo de Interrupción</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  class="text-xs-center"
                  v-model="search"
                  append-icon-cb="search"
                  label="Búsqueda"
                  single-line
                  hide-details
                >
                </v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-autocomplete
                              v-model="editedItem.producto"
                              label="Departamento que manneja el Producto/Servicio"
                              :items="departamentos"
                              :rules="[
                                () =>
                                  !!editedItem.producto || 'Campo obligatorio',
                              ]"
                            ></v-autocomplete>
                          </v-col>
                          
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedItem.pmti"
                                :rules="[
                                  () =>
                                    !!editedItem.pmti || 'Campo obligatorio',
                                ]"
                               label="Periodo Máximo Tolerable de Interrupción (PMTI)"
                               
                              ></v-text-field>
                            </v-col>
                            <!-- <v-col cols="8">
                              <v-select
                                :items="tiempos"
                                v-model="editedItem.pmti1"
                                
                                :rules="[
                                  () =>
                                    !!editedItem.pmti1 || 'Campo obligatorio',
                                ]"
                                type="text"
                              ></v-select>
                            </v-col> -->
                        
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.tiempoIdealRecuperacion"
                             label="Tiempo ideal de Recuperación"
                              :rules="[
                                () =>
                                  !!editedItem.tiempoIdealRecuperacion ||
                                  'Campo obligatorio',
                              ]"
                            ></v-text-field>
                          </v-col>
                          <!-- <v-col cols="8">
                            <v-select
                              :items="tiempos"
                              v-model="editedItem.tiempoIdealRecuperacion1"
                              
                              :rules="[
                                () =>
                                  !!editedItem.tiempoIdealRecuperacion1 ||
                                  'Campo obligatorio',
                              ]"
                              type="text"
                            ></v-select>
                          </v-col> -->
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>

                      <v-btn color="blue darken-1" text @click="actualizarDat">
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h7"
                      >¿Estás seguro que deseas borrar el
                      registro?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="eliminarDat"
                        >Aceptar</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <!-- <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon> -->
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay registros </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-responsive>
  </v-card>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      _id: "",
      idE: "",
      producto: "",
      pmti: "",
      tiempoIdealRecuperacion: "",
      tiempoIdealRecuperacion1:"",
      pmti1:"",
      departamentos: [],
      tiempos: ["días", "semanas", "meses", "años"],

      headers: [
        {
          text: "Departamento que maneja elProducto/Servicio",
          align: "start",
          sortable: false,
          value: "producto",
        },
        {
          text: "Periódo Máximo Tolerable de Interrupción (PMTI)",
          value: "pmti",
        },
        {
          text: "Tiempo Ideal de Recuperación",
          value: "tiempoIdealRecuperacion",
        },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        producto: "",
        pmti: "",
        tiempoIdealRecuperacion: "",
      },
      defaultItem: {
        producto: "",
        pmti: "",
        tiempoIdealRecuperacion: "",
      },
    };
  },
  mounted() {
    this.obtener();
    this.obtenerDepartamentos();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
          producto: this.producto,
          pmti: this.pmti,
          
          tiempoIdealRecuperacion: this.tiempoIdealRecuperacion,
        });
      }
      this.close();
    },
    async actualizarDat() {
      if (
        !this.editedItem.producto ||
        !this.editedItem.pmti ||
      
        !this.editedItem.tiempoIdealRecuperacion 
        
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        try {
          const datos = {
            usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
            producto: this.editedItem.producto,
            pmti: this.editedItem.pmti ,
            tiempoIdealRecuperacion:
              this.editedItem.tiempoIdealRecuperacion,
          };

          await this.$axios.put(
            `api/sgcnegocio/periodos/${this.editedItem._id}`,
            datos
          );
          this.guardarMod();
          this.$notifier.showMessage({
            content: "Registro actualizado con éxito",
            color: "success",
          });
        } catch (err) {
          console.log(err);
          this.$notifier.showMessage({
            content: "No se pudo actualizar con exito, intente de nuevo",
            color: "error",
          });
        }
      }
    },
    async obtener() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await this.$axios.get(
          "api/sgcnegocio/periodos/buscarPeriodosPorUsuario/" + usuario
        );
        this.desserts = resp.data;
        this._id = resp.data._id;
      } catch (err) {
        console.log(err);
      }
    },
    async obtenerDepartamentos() {
      let depar = this.$cookies.get("dataClient").organizacion;
      try {
        const response = await this.$axios.get(
          `api/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${depar}`
        );
        response.data.forEach((element) => {
          this.departamentos.push(element.departamento);
        });
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
          producto: this.editedItem.producto,
          pmti: this.editedItem.pmti,
          tiempoIdealRecuperacion: this.editedItem.tiempoIdealRecuperacion,
        };
        const resp = await this.$axios.delete(
          `api/sgcnegocio/periodos/${this.editedItem._id}`,
          datos
        );
        this.deleteItemConfirm();
        this.$notifier.showMessage({
          content: "Registro eliminado",
          color: "success",
        });
      } catch (err) {
        console.log(err);
      }
    },
    agregarEquipo() {
      this.desserts.push({
        producto: this.producto,
        pmti: this.pmti,
        tiempoIdealRecuperacion: this.tiempoIdealRecuperacion,
      });
    },
    async enviar() {
      if (!this.producto || !this.pmti || !this.pmti1|| !this.tiempoIdealRecuperacion || !this.tiempoIdealRecuperacion1) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        try {
          const data = {
            usuario: this.$cookies.get("dataClient").usuario.nombreUsuario,
            producto: this.producto,
            pmti: this.pmti + " " + this.pmti1,
            tiempoIdealRecuperacion:
              this.tiempoIdealRecuperacion +
              " " +
              this.tiempoIdealRecuperacion1,
          };
          await this.$axios.post("api/sgcnegocio/periodos", data);

          this.producto = "";
          this.pmti = "";
          this.tiempoIdealRecuperacion = "";
          this.pmti1 = "";
          this.tiempoIdealRecuperacion1 = "";
          this.$refs.form.resetValidation();
          this.obtener();
          this.$notifier.showMessage({
            content: "Elemento añadido",
            color: "success",
          });
        } catch (err) {
          console.log(err);
          this.$notifier.showMessage({
            content: "No se pudo actualizar ",
            color: "error",
          });
        }
      }
      this.close();
    },
  },
};
</script>
<style >
.imagen {
  margin-left: 35%;
  width: 30%;
}
</style>