<template>
  <v-responsive :aspect-ratio="16 / 9">
    <v-container>
      <v-row>
        <v-layout align-start>
          <v-flex>
            <img class="imagen" src="/listaEmergencia.svg" />
            <v-form ref="form" v-model="valid">
              <v-data-table
                :headers="headers"
                :items="desserts"
                :footer-props="{
                  'items-per-page-text': 'Filas por página',
                }"
                class="elevation-1"
                loading="100"
                loading-text="Cargando... Por favor espere"
              >
                <template v-slot:top>
                  <v-toolbar flat>
                    <v-toolbar-title
                      >Lista de contactos de emergencia</v-toolbar-title
                    >
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>

                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="900px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-bind="attrs"
                          v-on="on"
                          elevation="5"
                          fab
                        >
                          <v-icon> mdi-plus </v-icon>
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">Ingrese un nuevo contacto</span>
                        </v-card-title>

                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6" md="3">
                                <v-autocomplete
                                  label="Departamento"
                                  v-model="editedItem.departamento"
                                  :rules="[rules.required]"
                                  :items="departamentos"
                                ></v-autocomplete>
                              </v-col>
                              <v-col cols="12" sm="6" md="3">
                                <v-text-field
                                  label="Nombre y Apellido"
                                  v-model="editedItem.nombrePersonal"
                                  :rules="[rules.required]"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="3">
                                <v-text-field
                                  label="Teléfono"
                                  v-model="editedItem.telefono"
                                  :rules="[rules.required, rules.counter, rules.tel]"
                                  counter
                                  maxlength="10"
                                ></v-text-field>
                              </v-col>

                              <v-col cols="12" sm="6" md="3">
                                <v-text-field
                                  label="Correo electrónico"
                                  v-model="editedItem.correo"
                                  :rules="[rules.required, rules.email]"
                                  type="email"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="3">
                                <v-select
                                  label="Estado"
                                  v-model="editedItem.status"
                                  :items="estados"
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="close">
                            Cancelar
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="enviarContacto"
                            v-if="editedIndex === -1"
                            :disabled="!valid"
                          >
                            Guardar
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="actualizarContacto"
                            v-else
                            :disabled="!valid"
                          >
                            Editar
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card>
                        <v-card-title class="text-h7"
                          >¿Está seguro que desea eliminar el registro?</v-card-title
                        >
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="closeDelete"
                            >Cancelar</v-btn
                          >
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="eliminarContacto"
                            >OK</v-btn
                          >
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                  </v-icon>
                  <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:[`item.departamento`]="{ item }">
                  <h3>{{ item.departamento }}</h3>
                </template>

                <template v-slot:[`item.status`]="{ item }">
                  <v-chip :color="getColor(item.status)" dark>
                    {{ item.status }}
                  </v-chip>
                </template>

                <template v-slot:no-data>
                  <v-btn color="primary" @click="initialize"> Reset </v-btn>
                </template>
              </v-data-table>
            </v-form>
          </v-flex>
        </v-layout>
      </v-row>
    </v-container>
  </v-responsive>
</template>

<script>
export default {
  data() {
    return {
      load: true,
      rules: {
        required: (value) => !!value || "Campo Requerido.",
        counter: (value) => value.length == 10 || "Se requiere 10 dígitos",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "No es un correo válido.";
        },
        tel: (value) => {
          const pattern = /^([0])+(9)+([0-9])*$/;
          return pattern.test(value) || "No es un número telefónico válido";
        },
      },
      estados: ["Activo", "Inactivo"],
      departamentos:[],
      headers: [
        {
          text: "Departamento",
          align: "start",

          value: "departamento",
        },
        { text: "Nombre y Apellido", value: "nombrePersonal" },
        { text: "Teléfono", value: "telefono" },
        { text: "Correo electrónico", value: "correo" },
        { text: "Estado", value: "status" },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      editedItem: {
        departamento: "",
        nombrePersonal: "",
        telefono: "",
        correo: "",
        status: "",
      },
      defaultItem: {
        departamento: "",
        nombrePersonal: "",
        telefono: "",
        correo: "",
        status: "",
      },
      desserts: [],

      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    },
  },
  mounted() {
    this.obtener();
    this.obtenerDepartamentos();
  },
  methods: {
    getColor(value) {
      if (value === "Activo") return "green";
      else if (value === "Inactivo") return "red";
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
   
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
     
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    agregarContacto() {
      this.desserts.push({
        departamento: this.editedItem.departamento,
        nombrePersonal: this.editedItem.nombrePersonal,
        telefono: this.editedItem.telefono,
        correo: this.editedItem.correo,
        status: this.editedItem.status,
      });
    },
    limpiar() {
      this.editedItem.departamento = "";
      this.editedItem.nombrePersonal = "";
      this.editedItem.telefono = "";
      this.editedItem.correo = "";
      this.editedItem.status = "";
        this.$refs.form.resetValidation()
    },
    async enviarContacto() {
      
      if (
        !this.editedItem.departamento ||
        !this.editedItem.telefono ||
        !this.editedItem.nombrePersonal ||
        !this.editedItem.correo ||
        !this.editedItem.status
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      
      } else {
        let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(`api/sgcnegocio/contactos`, {
            usuario,
            departamento: this.editedItem.departamento,
            nombrePersonal: this.editedItem.nombrePersonal,
            telefono: this.editedItem.telefono,
            correo: this.editedItem.correo,
            status: this.editedItem.status,
          });

        
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success",
          });
          this.obtener();
          this.limpiar();
          this.close()
        } catch (error) {
        

          this.$notifier.showMessage({
            content: "No se pudo añadir el Contacto, inténtelo de nuevo",
            color: "error",
          });
          this.limpiar();
        }
      }
    
    },
    async actualizarContacto() {
      if (
        !this.editedItem.departamento ||
        !this.editedItem.telefono ||
        !this.editedItem.nombrePersonal ||
        !this.editedItem.correo ||
        !this.editedItem.status
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
        
          await this.$axios.put(
            `api/sgcnegocio/contactos/${this.editedItem._id}`,
            {
              usuario,
              departamento: this.editedItem.departamento,
              nombrePersonal: this.editedItem.nombrePersonal,
              telefono: this.editedItem.telefono,
              correo: this.editedItem.correo,
              status: this.editedItem.status,
            }
          );

          this.guardarMod();
          this.limpiar();
          this.close()
          this.$notifier.showMessage({
            content: "Se editó con éxito",
            color: "success",
          });
        } catch (error) {
          
          this.$notifier.showMessage({
            content: "No se pudo actualizar, intente de nuevo",
            color: "error",
          });
        }
      }
    },
    async eliminarContacto() {
      try {
       
        await this.$axios.delete(
          `api/sgcnegocio/contactos/${this.editedItem._id}`
        );

        this.desserts.splice(this.editedIndex, 1);

       
        this.closeDelete();
        this.$notifier.showMessage({
          content: "El contacto se eliminó con éxito",
          color: "success",
        });
      } catch (error) {
        
        this.$notifier.showMessage({
          content: "No se pudo eliminar el contacto",
          color: "error",
        });
      }
      this.dialogDelete = false;
    },
    async obtener() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/contactos/buscarContactosPorUsuario/" + usuario
        );
        this.desserts = res.data;
        (this.id = resp.data._id);
      } catch (error) {
     
      }
    },
    async obtenerDepartamentos() {
      let depar = this.$cookies.get("dataClient").organizacion;
      try {
        const response = await this.$axios.get(
          `api/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${depar}`
        );
        response.data.forEach((element) => {
          this.departamentos.push(element.departamento);
        });
      } catch (err) {
       
      }
    },
  },
};
</script>
