<template>
  <v-responsive :aspect-ratio="16 / 9">
    <v-container>
      <v-row>
        <v-layout align-start>
          <v-flex>
            <img class="imagen" src="/gerencia.svg" />
            <v-data-table
              :headers="headers"
              :items="desserts"
              :footer-props="{
                'items-per-page-text': 'Filas por página',
              }"
              class="elevation-1"
              loading="100"
              loading-text="Cargando... Por favor espere"
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Revisión de la Gerencia</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="900px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                        elevation="5"
                        fab
                      >
                        <v-icon> mdi-plus </v-icon>
                      </v-btn>
                    </template>

                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                        <!-- <span class="text-h5">Ingrese un nuevo registro</span> -->
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Revisa y Verifica tus artículos"
                                v-model="editedItem.asuntoARevisaryVerificar"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-autocomplete
                                :items="usuarios"
                                label="Persona Encargada"
                                v-model="editedItem.personaACargo"
                              ></v-autocomplete>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Fecha de Vencimiento"
                                v-model="editedItem.fechaLimite"
                                type="date"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                label="Alta Gerencia"
                                v-model.number="editedItem.altaGerencia"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          v-if="editedIndex === -1"
                          @click="agregar"
                        >
                          Guardar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="editar"
                          v-else
                        >
                          Editar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h7"
                        >¿Estás seguro que deseas borrar el
                        registro?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn color="blue darken-1" text @click="eliminar"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogPDF" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h7"
                        >¿Estás seguro que deseas descargar el
                        PDF?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closePDF"
                          >Cancelar</v-btn
                        >
                        <v-btn color="blue darken-1" text @click="reporte"
                          >Aceptar</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>
            </v-data-table>
            <v-btn
              style="margin-bottom: 20px; margin-top: 20px"
              rounded
              color="secondary"
              elevation="8"
              dark
              @click="PDFItem(item)"
              ><v-icon>mdi-file-document-multiple-outline</v-icon>
              Reporte</v-btn
            >
          </v-flex>
        </v-layout>
      </v-row>
    </v-container>
  </v-responsive>
</template>

<script>
export default {
  data() {
    return {
      load: true,
      id: "",
      usuarios: [],
      headers: [
        {
          text: "Revisa y verifica tus artículos",
          align: "start",

          value: "asuntoARevisaryVerificar",
        },
        { text: "Persona Encargada", value: "personaACargo" },
        { text: "Fecha de vencimiento", value: "fechaLimite" },
        { text: "Alta Gerencia", value: "altaGerencia" },

        { text: "Acciones", value: "actions", sortable: false },
      ],
      editedItem: {
        asuntoARevisaryVerificar: "",
        personaACargo: "",
        fechaLimite: "",
        altaGerencia: "",
      },
      defaultItem: {
        asuntoARevisaryVerificar: "",
        personaACargo: "",
        fechaLimite: "",
        altaGerencia: "",
      },

      desserts: [],

      editedIndex: -1,
      dialog: false,
       dialogPDF: false,
      dialogDelete: false,
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },
  mounted() {
    this.obtener();
    this.obtenerUsuarios();
  },
  methods: {
    PDFItem(item) {
      this.dialogPDF = true;
      this.dialog = false;
    },
    closePDF() {
      this.dialogPDF = false;
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);

      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    async reporte() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await axios.get(`api/carnet/descargarCarnert/${user}`);
        window.location.href = `api/carnet/descargarCarnert/${user}`;

        this.closePDF();
      } catch (err) {
        this.closePDF();
      }
    },
    async editar() {
      if (
        !this.editedItem.asuntoARevisaryVerificar ||
        !this.editedItem.personaACargo ||
        !this.editedItem.fechaLimite ||
        !this.editedItem.altaGerencia
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.put(
            `api/sgcnegocio/hojaDeRevisionDeGerencia/actualizarHojaDeRevisionDeGerencia/${this.editedItem._id}`,
            {
              user,
              asuntoARevisaryVerificar:
                this.editedItem.asuntoARevisaryVerificar,
              fechaLimite: this.editedItem.fechaLimite,
              altaGerencia: this.editedItem.altaGerencia,
              personaACargo: this.editedItem.personaACargo,
            }
          );

          this.$notifier.showMessage({
            content: "Se editó con éxito",
            color: "success",
          });
          this.close();
          this.obtener();
        } catch (error) {
        
          this.$notifier.showMessage({
            content: "No se pudo actualizar, intente de nuevo",
            color: "error",
          });
        }
      }
    },
      async reporte() {
      let usuario = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(`api/sgcnegocio/hojaDeRevisionDeGerencia/pdf/${usuario}`);
        window.location.href = `/api/sgcnegocio/hojaDeRevisionDeGerencia/pdf/${usuario}`;
        
        this.closePDF();
      } catch (err) {
        
        this.closePDF();
      }
    },
    async agregar() {
      if (
        !this.editedItem.asuntoARevisaryVerificar ||
        !this.editedItem.personaACargo ||
        !this.editedItem.fechaLimite ||
        !this.editedItem.altaGerencia
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(
            `api/sgcnegocio/hojaDeRevisionDeGerencia/agregarHojaDeRevisionDeGerencia`,
            {
              user,
              asuntoARevisaryVerificar:
                this.editedItem.asuntoARevisaryVerificar,
              fechaLimite: this.editedItem.fechaLimite,
              altaGerencia: this.editedItem.altaGerencia,
              personaACargo: this.editedItem.personaACargo,
            }
          );
          this.close();
          this.obtener();
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success",
          });
        } catch (error) {
          this.$notifier.showMessage({
            content: "No se pudo añadir el Contacto, inténtelo de nuevo",
            color: "error",
          });
        }
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/hojaDeRevisionDeGerencia/buscarHojaDeRevisionDeGerenciaPorUser/${user}`
        );
        this.desserts = res.data;
        this.id = res.data._id;
      } catch (error) {
      
      }
    },
    async obtenerUsuarios() {
      let depar = this.$cookies.get("dataClient").organizacion;
      try {
        const response = await this.$axios.get(
          `api/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${depar}`
        );
        response.data.forEach((element) => {
          this.usuarios.push(element.nombre + " " + element.apellido);
        });
      } catch (err) {
       
      }
    },
    async eliminar() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.delete(
          `api/sgcnegocio/hojaDeRevisionDeGerencia/eliminarHojaDeRevisionDeGerencia/${this.editedItem._id}`
        );
        this.desserts.splice(this.editedIndex, 1);
        this.closeDelete();
        this.$notifier.showMessage({
          content: "El contacto se eliminó con éxito",
          color: "success",
        });
      } catch (error) {
        this.$notifier.showMessage({
          content: "No se pudo eliminar el contacto",
          color: "error",
        });
      }
      this.dialogDelete = false;
    },
  },
};
</script>
