<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-center" style="margin-bottom:15px">
          Formulario de evaluación de daños
        </h2>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" sm="6" md="6">
        <v-radio-group v-model="radios" mandatory>
          <v-radio color="red" label="Lesiones a personal" value="Uno"></v-radio>
          <v-radio
            color="red"
            label="Daños a infraestructura"
            value="Dos"
          ></v-radio>
          <v-radio
            color="red"
            label="Daños a bienes"
            value="Tres"
          ></v-radio>
          <v-radio color="red" label="Daños a servicios públicos" value="Cuatro"></v-radio>
          <v-radio color="red" label="Contingencias cercanas" value="Cinco"></v-radio>
          <v-radio color="red" label="Continuidad de Negocios" value="Seis"></v-radio>
          <v-radio color="red" label="Otros" value="Siete"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 50%"
          src="https://i.ytimg.com/vi/hQ_bSnDVv9E/maxresdefault.jpg"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
             :footer-props="{
                  'items-per-page-text': 'Filas por página',
                }"
            sort-by="nombre"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Ingreso de Localidades a Evaluar</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.nombre"
                              label="Nombre Localidad"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.contenido"
                              label="Daño"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviar"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarDat"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                        >Aceptar</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay Localidades para Evaluar Daños </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      radios: null,
      dialog: false,
      putp: false,
      idForm: "",
      dialogDelete: false,
      id: "",
      tipoRecurso: "",
      nombre: "",
      contenido: "",
    
      items: [
        "Recursos Internos",
        "Servicios Esenciales",
        "Socios de Negocios"
      ],
      headers: [
        {
          text: "Nombre Localidad",
          align: "start",
          sortable: false,
          value: "nombre"
        },

        { text: "Daño", value: "contenido" },

        { text: "Acciones", value: "actions", sortable: false }
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        nombre: "",
        contenido: ""
      
      },

      defaultItem: {
        nombre: "",
        contenido: ""
    
      },
      lesiones: [],
      infraestructura: [],
      bienes: [],
      sPublic: [],
      contingencias: [],
      negocios: [],
    
      otros: [],

      
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Localidad" : "Editar Localidad";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    radios: function(value) {
      this.desserts.slice();
      this.cambiarDessert();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.actualizarData();
      this.close();
    },

    async actualizarDat() {
      this.guardarMod();
    },

    async putpost() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/evaluacionDanos2/buscarPorUser/" + user
        );

        if (!res.data.recursos) {
          this.putp = false;
          
        } else {
          this.idForm = res.data._id;
         
          this.putp = true
         
        }
        
      } catch (err) {
    
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await this.$axios.get(
          "api/sgcnegocio/evaluacionDanos2/buscarPorUser/" + user
          
        );


        const res = resp.data[0]
       




        if (res.length === 0) {
          this.lesiones = [];
          this.infraestructura = [];
          this.bienes = [];
          this.sPublic = [];
          this.contingencias = [];
          this.negocios = [];
          this.otros = [];
          this.putp = false;
        } else {

          this.idForm = res._id;
         



        
          this.lesiones = res.recursos.LesionesPersonal;
          this.infraestructura = res.recursos.DanosInfraestructura,
            this.bienes = res.recursos.DanosBienes;
            this.sPublic = res.recursos.DanosServiciosPublicos;
            this.contingencias = res.recursos.ContingenciasCercanas;
            this.negocios = res.recursos.ContinuidadNegocios;
            this.otros = res.recursos.Otro;
            this.putp = true;
        }
        this.putp = true;
        this.cambiarDessert();
      } catch (err) {
     
      }
    },
    cambiarDessert() {
      if (this.radios === "Uno") {
        this.desserts = this.lesiones;
      } else if (this.radios === "Dos") {
        this.desserts = this.infraestructura;
      } else if (this.radios === "Tres") {
        this.desserts = this.bienes;
      } else if (this.radios === "Cuatro") {
        this.desserts = this.sPublic;
      } else if (this.radios === "Cinco") {
        this.desserts = this.contingencias;
      } else if (this.radios === "Seis") {
        this.desserts = this.negocios;
      } else {
        this.desserts = this.otros;
      }
    },

    

    agregarEquipo() {
      this.desserts.push({
        tipoRecurso: this.editedItem.tipoRecurso,
        nombre: this.editedItem.nombre,
        contenido: this.editedItem.contenido
       
      });
    },
    actualizarData() {
      if (this.radios === "Uno") {
        this.lesiones.slice();
        this.lesiones = this.desserts;
      } else if (this.radios === "Dos") {
        this.infraestructura.slice();
        this.infraestructura = this.desserts;
      } else if (this.radios === "Tres") {
        this.bienes.slice();
        this.bienes = this.desserts;
      } else if (this.radios === "Cuatro") {
        this.sPublic.slice();
        this.sPublic = this.desserts;
      } else if (this.radios === "Cinco") {
        this.contingencias.slice();
        this.contingencias = this.desserts;
      } else if (this.radios === "Seis") {
        this.negocios.slice();
        this.negocios = this.desserts;
      } else {
        this.otros.slice();
        this.otros = this.desserts;
      }
    },
    async eliminarDat() {
      try {
        
        
        await this.$axios.delete(
          `api/sgcnegocio/acopioPreparativos/eliminarlistaAcopioPreventivo/${this.idForm}`
        );
        cambiarDessert();
        this.desserts.splice(this.editedIndex, 1);
        
       
        
        this.closeDelete();
        
        this.$notifier.showMessage({
          content: "El elemento se eliminó con éxito",
          color: "success",
        });
      } catch (error) {
     
        this.$notifier.showMessage({
          content: "No se pudo eliminar el elemento",
          color: "error",
        });
      }
      this.dialogDelete = false;
      
    },
    enviar() {
      if (
        !this.editedItem.nombre ||
        !this.editedItem.contenido 
        
            ){
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });}else {
      this.desserts.push({
        nombre: this.editedItem.nombre,
        contenido: this.editedItem.contenido
      });
      this.actualizarData();
      this.close();
      (this.nombre = ""), (this.contenido = "");
    }
    },
    async enviarForm() {
     
      if (
        !this.editedItem.nombre ||
        !this.editedItem.contenido 
        
            ) 
    
      if (this.putp) {
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.put(`api/sgcnegocio/evaluacionDanos2/actualizarEvaluacion2/${this.idForm}`, {
            usuario: user,
            recursos: {
              LesionesPersonal: this.lesiones,
              DanosInfraestructura: this.infraestructura,
              DanosBienes: this.bienes,
              DanosServiciosPublicos: this.sPublic,
              ContingenciasCercanas: this.contingencias,
              ContinuidadNegocios: this.negocios,
              Otro: this.otros
            }
          });
          this.$notifier.showMessage({
            content: "Registro actualizado con éxito",
            color: "success"
          });
        } catch (error) {
        
          this.$notifier.showMessage({
            content: "No fue posible actualizar el registro",
            color: "error"
          });
        }
      } else {
         if (
        !this.editedItem.nombre ||
        !this.editedItem.contenido 
        
            )
        this.putp = true;
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.post("api/sgcnegocio/evaluacionDanos2/agregarEvaluacion2", {
            usuario: user,
            recursos: {
              LesionesPersonal: this.lesiones,
              DanosInfraestructura: this.infraestructura,
              DanosBienes: this.bienes,
              DanosServiciosPublicos: this.sPublic,
              ContingenciasCercanas: this.contingencias,
              ContinuidadNegocios: this.negocios,
              Otro: this.otros
            }
          });
          this.$notifier.showMessage({
            content: "Registro añadido con éxito",
            color: "success"
          });
          this.obtener();
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No se pudo crear el registro",
            color: "error"
          });
        }
      }
    }
  }
};
</script>