<template>
  <v-container>
    <v-row>
      <img
        class="mx-auto"
        style="width: 25%"
        src="https://www.aulafacil.com/uploads/cursos/6703/28903_contabilidad.es.jpg"
        alt="John"
      />
    </v-row>

    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            class="elevation-1"
            :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>

                <v-toolbar-title class="text-h5"
                  >Fondos Disponibles</v-toolbar-title
                >
                <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer
                ><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer
                ><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer
                ><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer
                ><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer
                ><v-spacer></v-spacer>

                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon> mdi-plus </v-icon>
                    </v-btn>
                  </template>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Nuevo Fondo Disponible</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="items"
                              label="Tipo"
                              v-model="editedItem.tipo"
                            ></v-select>
                          </v-col>

                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              label="Monto"
                              type="number"
                              prefix="$"
                              v-model.number="editedItem.monto"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.otros"
                              label="Otros"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="guardarMod"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="cambiarTabla"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary"> No Registros </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>

    <v-row>
      <v-col cols="7">
        <v-card id="cardTotales1">
          <v-row>
            <v-col cols="7">
              <h3>Total Fondos Disponibles:</h3>
            </v-col>
            <v-col cols="5" style="margin-left: 0px; padding-left: 0px">
              <p>${{ sumaTotal }}</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="5" align="right" justify="right">
        <v-btn
          v-if="!flag"
          style="margin-top: 20px; margin-right: 0px"
          rounded
          color="secondary"
          elevation="8"
          dark
          :disabled="sumaTotal == 0"
          @click="enviarFormulario"
          >Guardar Datos</v-btn
        >
        <v-btn
          v-else
          style="margin-top: 15px; margin-right: 0px"
          color="secondary"
          @click="actualizarForm"
          >Actualizar Formulario</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      editedIndex: -1,
      flag: true,
      
      idForm: "",
      items: ["Efectivo y depósitos", "Póliza de Seguros", "Otros"],
      headers: [
        {
          text: "Tipo",
          align: "start",

          value: "tipo",
        },
        { text: "Monto", value: "monto" },
        { text: "Otros", value: "otros" },

        { text: "Acciones", value: "actions", sortable: false },
      ],

      desserts: [],
      editedItem: {
        tipo: "",
        monto: 0,
        otros: "",
      },
      defaultItem: {
        tipo: "",
        monto: 0,
        otros: "",
      },
      dialog: false,
    };
  },

  methods: {
    mounted() {
      this.obtener();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);

      this.editedItem = Object.assign({}, item);

      this.dialog = true;
    },

    guardarMod() {
      if (
        !this.editedItem.tipo ||
        !this.editedItem.monto ||
        !this.editedItem.otros
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "warning",
        });
      } else {
        this.desserts.push({
          tipo: this.editedItem.tipo,
          monto: this.editedItem.monto,
          otros: this.editedItem.otros,
        });
        this.close();
      }
    },
    cambiarTabla() {
      if (
        !this.editedItem.tipo ||
        !this.editedItem.monto ||
        !this.editedItem.otros
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "warning",
        });
      } else {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
        this.close();
      }
    },
    async obtener() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/fondosDisponibles/${user}`
        );

        this.idForm = res.data._id;
        this.flag = true;
        this.desserts = res.data.fondosDistribucion;
      } catch (error) {
        this.flag = false;
      }
    },

    async enviarFormulario() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.post(`api/sgcnegocio/fondosDisponibles`, {
          usaurio: user,
          fondosDistribucion: this.desserts,
          totalFondos: this.sumaTotal,
        });

        this.$notifier.showMessage({
          content: "Ingreso Exitoso",
          color: "success",
        });
        (this.editedItem.tipo = ""),
          (this.editedItem.monto = ""),
          (this.editedItem.otros = "");
        this.obtener();
        this.close();
      } catch (error) {
      
        this.$notifier.showMessage({
          content: "Error al enviar data",
          color: "error",
        });
      }
    },
    async actualizarForm() {
      if (
        !this.editedItem.tipo ||
        !this.editedItem.monto ||
        !this.editedItem.otros
      ) {
         this.$notifier.showMessage({
            content: "Rellene todos los campos",
            color: "warning",
          });
      }else{
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          const res = await this.$axios.put(
            `api/sgcnegocio/fondosDisponibles`,
            {
              _id: this.idForm,
              usaurio: user,
              fondosDistribucion: this.desserts,
              totalFondos: this.sumaTotal,
            }
          );

          this.$notifier.showMessage({
            content: "Edición Exitosa",
            color: "success",
          });

          (this.editedItem.tipo = ""),
            (this.editedItem.monto = ""),
            (this.editedItem.otros = "");
          this.obtener();
          this.close();
        } catch (error) {
        
          this.$notifier.showMessage({
            content: "Error al enviar data",
            color: "error",
          });
        }
      }
    },
  },
  computed: {
    sumaTotal() {
      let suma = 0;
      for (const i of this.desserts) {
        suma = suma + i.monto;
      }
      return suma;
    },
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Fondo" : "Editar Fondo";
    },
  },

  mounted() {
    this.obtener();
  },
};
</script>
<style>
#cardTotales1 {
  width: 450px;
  height: 40px;

  margin-top: 30px;
}
#cardTotales1 h3 {
  color: rgb(189, 29, 82);
  margin-bottom: 20px;
}
</style>