<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <h1 class="titlid">LIDERAZGO</h1>

      <div class="container">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="5">
            <v-card-text class="elevation-12">
              <img
                src="/equiposLid.svg"
                style="
                  height: 150px;
                  padding-top: 10px;
                  margin: auto;
                  display: block;
                "
              />
              <v-list v-if="items != 0">
                <v-list-item-group v-model="selectedItem" disabled>
                  <v-list-item>
                    <v-list-item-content rounded>
                      <v-row align="center" justify="center">
                        <h3 style="color: black">Líder</h3>
                        <v-list-item
                          v-text="personal2"
                          style="border-bottom: 2px solid"
                        ></v-list-item>

                        <h3 style="color: black; padding-top: 10px">Equipo</h3>
                        <v-list-item
                          v-text="negocio2"
                          style="border-bottom: 2px solid"
                        ></v-list-item>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>

                <v-list-group no-action sub-group>
                  <template v-slot:activator>
                    <v-list-item-content>
                      <v-list-item-title>Acciones</v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <template>
                    <v-list-item @click="dialog = true">
                      <v-list-item-title>
                        <v-icon>mdi-pencil</v-icon> Editar
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item link>
                      <v-list-item-title @click="dialogDelete = true">
                        <v-icon>mdi-delete</v-icon> Eliminar
                      </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-list-group>
              </v-list>
            </v-card-text>
          </v-col>
        </v-row>
        <v-row align="center" justify="center" id="ingreso">
          <v-col cols="12" sm="8" md="7">
            <v-card-text class="elevation-12" id="card-in">
              <v-form ref="form" v-model="form">
                <p>Por favor ingrese nuevos datos:</p>
                <v-autocomplete
                  ref="personal"
                  label="Lider"
                  outlined
                  rounded
                  :disabled="items.length > 0"
                  v-model="personal"
                  :rules="[() => !!personal || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                  :items="usuarios"
                >
                </v-autocomplete>
                <v-text-field
                  ref="negocio"
                  label="Equipo por departamento"
                  outlined
                  rounded
                  :disabled="items.length > 0"
                  :rules="[() => !!negocio || 'Campo obligatorio']"
                  v-model="negocio"
                  type="text"
                  color="primary"
                >
                </v-text-field>
              </v-form>
            </v-card-text>

            <v-btn
              id="btn-ingreso"
              color="secondary"
              @click="enviar"
              :disabled="!form"
              v-if="items == 0"
              >Agregar</v-btn
            >
          </v-col>
        </v-row>
      </div>

      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-autocomplete
                    v-model="personal2"
                    label="Lider"
                    :items="usuarios"
                    :rules="[() => !!personal2 || 'Campo obligatorio']"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="negocio2"
                    label="Equipo por departamento"
                    :rules="[() => !!negocio2 || 'Campo obligatorio']"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close"> Cancelar </v-btn>
            <v-btn color="blue darken-1" text @click="actualizarDat">
              Editar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="text-h8"
            >Está seguro que desea eliminar el registro?</v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete"
              >Cancelar</v-btn
            >
            <v-btn color="blue darken-1" text @click="eliminarDat"
              >Aceptar</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-responsive>
  </v-card>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      personal: "",
      negocio: "",
      
      search: "",
      id: "",
      dialog: false,
      dialogDelete: false,

      selectedItem: 0,

      items: [],
      usuarios: [],
     
      editedItem: {
        negocio: "",
        personal: "",
      },
      personal2: "",
      negocio2: "",
    };
  },
  mounted() {
    this.obtener();
    this.obtenerUsuarios();
  },
  computed: {
    formTitle() {
      return "Editar Registro";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.items.splice(this.editedIndex, 1);
      this.closeDelete();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async actualizarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          personal: this.personal2,
          negocio: this.negocio2,
        };

        await this.$axios.put(
          `api/sgcnegocio/formularioLiderazgo/actualizarLiderazgo/${this.id}`,
          datos
        );
        this.items.slice();

        this.$notifier.showMessage({
          color: "success",
          content: "Se editó con éxito",
        });

        this.close();
      } catch (err) {
        console.log(err);
      }
    },
    async obtenerUsuarios(){
    let depar= this.$cookies.get("dataClient").organizacion
   try {
        const response = await this.$axios.get(
          `api/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${depar}`
        );
        response.data.forEach((element)=>{
           this.usuarios.push(element.nombre +" " +element.apellido)
           
          
        });
        
      
      } catch (err) {
        console.log(err);
      }
    },
    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/formularioLiderazgo/buscarPorUser/" + user
        );
        (this.id = res.data._id),
          //  this.items.slice();
          this.items.push({
            personal: res.data.personal,
            negocio: res.data.negocio,
          });
        (this.personal2 = res.data.personal),
          (this.negocio2 = res.data.negocio),
          console.log(res);
      } catch (err) {
        console.log(err);
      }
    },
    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          personal: this.personal2,
          negocio: this.negocio2,
        };

        const res = await this.$axios.delete(
          `api/sgcnegocio/formularioLiderazgo/eliminarLiderazgo/${this.id}`,
          datos
        );

        this.deleteItemConfirm();
        (this.personal2 = ""), (this.negocio2 = "");
        this.items.slice();
         this.$notifier.showMessage({
          color: "success",
          content: "Se eliminó con éxito",
        });
      } catch (err) {
        console.log(err);
      }
    },

    async enviar() {
      try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          personal: this.personal,
          negocio: this.negocio,
        };
        await this.$axios.post(
          "api/sgcnegocio/formularioLiderazgo/agregarLiderazgo",
          data
        );
        this.obtener();
        (this.personal = " "), (this.negocio = " ");
      } catch (err) {
        console.log(err);
      }
      // this.close()
    },
  },
};
</script>
<style >
#tabla-datos {
  width: 85%;
}
.v-list .v-list-item--active {
  color: white;
}
#card-in {
  border: solid 2px #51a8c4;
}
#ingreso {
  margin-top: 3%;
}
#btn-ingreso {
  margin-top: 2%;
  margin-left: 40%;
}
.imagen {
  margin-left: 35%;
  width: 30%;
}

.titlid {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
</style>
