<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-center" style="margin-bottom:15px">
          Lista de Acopio Preventivo para Desastre
        </h2>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" sm="6" md="6">
        <v-radio-group v-model="radios" mandatory>
          <v-radio color="red" label="Alimentos/Agua" value="Uno"></v-radio>
          <v-radio
            color="red"
            label="Artículos de supervivencia"
            value="Dos"
          ></v-radio>
          <v-radio
            color="red"
            label="Artículos de medicina"
            value="Tres"
          ></v-radio>
          <v-radio color="red" label="Herramientas" value="Cuatro"></v-radio>
          <v-radio color="red" label="Soportes para ayudar al personal a llegar a casa" value="Cinco"></v-radio>
          <v-radio color="red" label="Equipos para recolectar información" value="Seis"></v-radio>
          <v-radio color="red" label="Otros" value="Siete"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 50%"
          src="http://spreventiva.mx/wp-content/uploads/2019/03/prevencion_de_riesgos.png"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
             :footer-props="{
                  'items-per-page-text': 'Filas por página',
                }"
            sort-by="articulo"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Ingreso de Productos</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.articulo"
                              label="Artículo"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.numArticulos"
                              label="Número de Artículos para preparar"
                              type="number"
                             
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviar"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarDat"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                        >Aceptar</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay Artículos de Prevención </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        @click="enviarForm"
        >Guardar Datos</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      radios: null,
      dialog: false,
      putp: false,
      idForm: "",
      dialogDelete: false,
      id: "",
      tipoRecurso: "",
      articulo: "",
      numArticulos: "",
     
      items: [
        "Recursos Internos",
        "Servicios Esenciales",
        "Socios de Negocios"
      ],
      headers: [
        {
          text: "Artículo",
          align: "start",
          sortable: false,
          value: "articulo"
        },

        { text: "Número de Artículos para preparar", value: "numArticulos" },

        { text: "Acciones", value: "actions", sortable: false }
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        articulo: "",
        numArticulos: ""
     
      },

      defaultItem: {
        articulo: "",
        numArticulos: ""
      
      },
      AlimentosAgua: [],
      artículosSupervivencia: [],
      articulosMedicina: [],
      herramientas: [],
      soporte: [],
      equipos: [],
      otros: []

    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Artículo" : "Editar Artículo";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    radios: function(value) {
      this.desserts.slice();
      this.cambiarDessert();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.actualizarData();
      this.close();
    },

    async actualizarDat() {
      this.guardarMod();
    },

    async putpost() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/acopioPreparativos/buscarUsuarioListaAcopio/" + user
        );

        if (!res.data.categoria) {
          this.putp = false;
         
        } else {
          this.idForm = res.data._id;
         
          this.putp = true
        
        }
        
      } catch (err) {
        
      }
    },
     
    async obtener() {
    
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await this.$axios.get(
          "api/sgcnegocio/acopioPreparativos/buscarUsuarioListaAcopio/" + user
         
        );
        
        const res = resp.data[0]
        this.idForm = res.id
        
       
        
       
         if (res.length === 0) {
           
          this.AlimentosAgua = [];
          this.artículosSupervivencia = [];
          this.articulosMedicina = [];
          this.herramientas = [];
          this.soporte = [];
          this.equipos = [];
          this.otros = [];
          this.putp = false;
         
        } else  {
         
         
          this.idForm = res.id;
        
          
         
          this.AlimentosAgua = res.categoria.AlimentosAgua;
          this.artículosSupervivencia = res.categoria.artículosSupervivencia,
            this.articulosMedicina = res.categoria.articulosDeMedicina;
            this.herramientas = res.categoria.Herramientas;
            this.soporte = res.categoria.SoportesParaAyudarAlPersonalALlegarACasa;
            this.equipos = res.categoria.EquiposParaRecolectarInformación;
            this.otros = res.categoria.Otros;
            this.putp = true;
                    } 



      
        this.putp = true;
        this.cambiarDessert();
       
      } catch (err) {
        
      
      }
    },
    cambiarDessert() {
      if (this.radios === "Uno") {
        this.desserts = this.AlimentosAgua;
      } else if (this.radios === "Dos") {
        this.desserts = this.artículosSupervivencia;
      } else if (this.radios === "Tres") {
        this.desserts = this.articulosMedicina;
      } else if (this.radios === "Cuatro") {
        this.desserts = this.herramientas;
      } else if (this.radios === "Cinco") {
        this.desserts = this.soporte;
      } else if (this.radios === "Seis") {
        this.desserts = this.equipos;
      } else {
        this.desserts = this.otros;
      }
     
    },
async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").idForm,
     
          AlimentosAgua: this.editItem.AlimentosAgua,
          artículosSupervivencia: this.editItem.artículosSupervivencia,
          articulosMedicina: this.editItem.articulosMedicina,
          herramientas: this.editItem.herramientas,
          soporte: this.editItem.soporte,
          equipos : this.editItem.equipos ,
          otros: this.editItem.otros,

        };
        const res = await this.$axios.delete(
          `api/sgcnegocio/acopioPreparativos/eliminarlistaAcopioPreventivo/${this.idForm}`,
          datos
        );
        
        this.deleteItemConfirm();
      } catch (err) {
        
      }
    },
   

    agregarEquipo() {
      this.desserts.push({
        tipoRecurso: this.editedItem.tipoRecurso,
        articulo: this.editedItem.articulo,
        numArticulos: this.editedItem.numArticulos
       
      });
    },
    actualizarData() {
      if (this.radios === "Uno") {
        this.AlimentosAgua.slice();
        this.AlimentosAgua = this.desserts;
      } else if (this.radios === "Dos") {
        this.artículosSupervivencia.slice();
        this.artículosSupervivencia = this.desserts;
      } else if (this.radios === "Tres") {
        this.articulosMedicina.slice();
        this.articulosMedicina = this.desserts;
      } else if (this.radios === "Cuatro") {
        this.herramientas.slice();
        this.herramientas = this.desserts;
      } else if (this.radios === "Cinco") {
        this.soporte.slice();
        this.soporte = this.desserts;
      } else if (this.radios === "Seis") {
        this.equipos.slice();
        this.equipos = this.desserts;
      } else {
        this.otros.slice();
        this.otros = this.desserts;
      }
     
    },
    enviar() {
      if (
        !this.editedItem.articulo ||
        !this.editedItem.numArticulos 
        
            ){
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error",
        });}else {
      this.desserts.push({
        articulo: this.editedItem.articulo,
        numArticulos: this.editedItem.numArticulos
      })
       
      
     
      this.actualizarData();
     
      this.close();
    
      (this.articulo = ""), (this.numArticulos = "");
      
    } 
    },
    async enviarForm() {
     
          if (
        !this.editedItem.articulo ||
        !this.editedItem.numArticulos 
        
            ) 
     
      if (this.putp) {
        try {
          
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
       
          await this.$axios.put(`api/sgcnegocio/acopioPreparativos/modificarAcopioPreventivo/${this.idForm}`,{
            usuario: user,
            categoria: {
              AlimentosAgua: this.AlimentosAgua,
              artículosSupervivencia: this.artículosSupervivencia,
              articulosDeMedicina: this.articulosMedicina,
              Herramientas: this.herramientas,
              SoportesParaAyudarAlPersonalALlegarACasa: this.soporte,
              EquiposParaRecolectarInformación: this.equipos,
              Otros: this.otros
            }
          });
          this.$notifier.showMessage({
            content: "Registro actualizado con éxito",
            color: "success"
          });
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No fue posible actualizar el registro",
            color: "error"
          });
        }
      } else {
        if (
        !this.editedItem.articulo ||
        !this.editedItem.numArticulos 
        
            ) 
       this.putp = true;
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.post("api/sgcnegocio/acopioPreparativos/agregarAcopioPreventivo", {
            usuario: user,
            categoria: {
              AlimentosAgua: this.AlimentosAgua,
              artículosSupervivencia: this.artículosSupervivencia,
              articulosDeMedicina: this.articulosMedicina,
              Herramientas: this.herramientas,
              SoportesParaAyudarAlPersonalALlegarACasa: this.soporte,
              EquiposParaRecolectarInformación: this.equipos,
              Otros: this.otros
              
            }
            
          });
          this.$notifier.showMessage({
            content: "Registro añadido con éxito",
            color: "success"
            
          });
          this.obtener();
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No se pudo crear el registro",
            color: "error"
          });
        }
      }
    }
  }
};
</script>