<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <img class="imagen" src="/nivelImpacto.svg" />
      <div class="container">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="15" md="8">
            <v-card-text class="elevation-12" id="card-in">
              <v-form ref="form" v-model="form">
                <p>Por favor ingrese nuevos datos:</p>
              <v-autocomplete
                  ref="departamentoProducto"
                  label="Departamento que maneja el Producto/Servicio"
                  outlined
                  rounded
                  v-model="departamentoProducto"
                  :rules="[() => !!departamentoProducto || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                  :items="departamentos"
                >
              </v-autocomplete>
                <v-select
                  :items="items"
                  label="Impacto externo"
                  outlined
                  rounded
                  v-model="impactoExterno"
                  :rules="[() => !!impactoExterno || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                ></v-select>
                <v-select
                  :items="items"
                  label="Impacto Interno"
                  outlined
                  rounded
                  v-model="impactoInterno"
                  :rules="[() => !!impactoInterno || 'Campo obligatorio']"
                  type="text"
                  color="primary"
                ></v-select>
                  
              </v-form>
            </v-card-text>

            <v-btn
              id="btn-ingreso"
              color="secondary"
              @click="enviar"
             :disabled="!form"
            >
              Agregar
            </v-btn>
          </v-col>
        </v-row>
      </div>

      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
            :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Niveles de Impacto</v-toolbar-title>
                
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  class="text-xs-center"
                  v-model="search"
                  append-icon-cb="search"
                  label="Buscar"
                  single-line
                  hide-details
                >
                </v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-autocomplete
                              v-model="editedItem.departamentoProducto"
                              label="Departamento que maneja el Producto/Servicio"
                              :items="departamentos"
                              :rules="[
                                () =>
                                  !!editedItem.departamentoProducto ||
                                  'Campo obligatorio',
                              ]"
                            ></v-autocomplete>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="items"
                              label="Impacto Externo"
                              v-model="editedItem.impactoExterno"
                              :rules="[
                                () =>
                                  !!editedItem.impactoExterno ||
                                  'Campo obligatorio',
                              ]"
                            ></v-select>
                          </v-col>

                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              :items="items"
                              label="Impacto Interno"
                              v-model="editedItem.impactoInterno"
                              :rules="[
                                () =>
                                  !!editedItem.impactoInterno ||
                                  'Campo obligatorio',
                              ]"
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>

                      <v-btn color="blue darken-1" text @click="actualizarDat">
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h7"
                      >¿Estás seguro que deseas borrar el
                      registro?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="eliminarDat"
                        >Aceptar</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:[`item.impactoInterno`]="{ item }">
              <v-chip :color="getColor(item.impactoInterno)" dark>
                {{ item.impactoInterno }}
              </v-chip>
            </template>
            <template v-slot:[`item.impactoExterno`]="{ item }">
              <v-chip :color="getColor(item.impactoExterno)" dark>
                {{ item.impactoExterno }}
              </v-chip>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay registros </v-btn>
            </template>
         
              
            
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-responsive>
  </v-card>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      id: "",
      idE:'',
      departamentos:[],
      departamentoProducto: "",
      impactoExterno: "",
      impactoInterno: "",
      items: ["Alto", "Medio", "Bajo"],
      headers: [
        {
          text: "Departamento que maneja elProducto/Servicio",
          align: "start",
          sortable: false,
          value: "departamentoProducto",
        },
        {
          text: "Impacto Externo",
          value: "impactoExterno",
        },
        {
          text: "Impacto Interno",
          value: "impactoInterno",
        },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        departamentoProducto: "",
        impactoExterno: "",
        impactoInterno: "",
      },
      defaultItem: {
        departamentoProducto: "",
        impactoExterno: "",
        impactoInterno: "",
      },
    };
  },
  mounted() {
    this.obtener();
    this.obtenerDepartamentos();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Registro" : "Editar Registro";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
          departamentoProducto: this.editedItem.departamentoProducto,
          impactoInterno: this.editedItem.impactoInterno,
          impactoExterno: this.editedItem.impactoExterno,
        });
      }
      this.close();
    },
    async actualizarDat() {
      if(
        !this.editedItem.departamentoProducto ||
        !this.editedItem.impactoInterno ||
        !this.editedItem.impactoExterno
      ){
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
      })
      }else{
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          departamentoProducto: this.editedItem.departamentoProducto,
          impactoInterno: this.editedItem.impactoInterno,
          impactoExterno: this.editedItem.impactoExterno,
        };

        await this.$axios.put(
          `api/sgcnegocio/formularioImpactoComparativo/actualizarImpacto/${this.editedItem.id}`,
          datos
        );
        this.guardarMod();
           this.$notifier.showMessage({
            content: "Registro Actualizado con éxito",
            color: "success"
          });
      } catch (err) {
        console.log(err);
        this.$notifier.showMessage({
            content: "No se pudo actualizar con exito, intente de nuevo",
            color: "error"
          });
      }
      }
    },
        async obtenerDepartamentos(){
    let depar= this.$cookies.get("dataClient").organizacion
   try {
        const response = await this.$axios.get(
          `api/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${depar}`
        );
        response.data.forEach((element)=>{
           this.departamentos.push(element.departamento)
          
          
        });
        
      
      } catch (err) {
        console.log(err);
      }
    },
    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const resp = await this.$axios.get(
          "api/sgcnegocio/formularioImpactoComparativo/buscarFormularioImpactoPorUser/" +
            user
        );
        this.desserts = resp.data;
        this.id = resp.data._id
      
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          departamentoProducto: this.editedItem.departamentoProducto,
          impactoInterno: this.editedItem.impactoInterno,
          impactoExterno: this.editedItem.impactoExterno,
        };
        const resp = await this.$axios.delete(
          `api/sgcnegocio/formularioImpactoComparativo/eliminarImpacto/${this.editedItem.id}`,
          datos
        );
        this.deleteItemConfirm();
         this.$notifier.showMessage({
          content: "Registro eliminado",
          color: "success",
        });
      } catch (err) {
        console.log(err);
      }
    },
    agregarEquipo() {
      this.desserts.push({
        departamentoProducto: this.departamentoProducto,
        impactoInterno: this.impactoInterno,
        impactoExterno: this.impactoExterno,
      });
      this.obtener();
    },
    async enviar() {
       if(
        !this.departamentoProducto ||
        !this.impactoInterno ||
        !this.impactoExterno
      ){
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
      });
      }else{
      try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          departamentoProducto: this.departamentoProducto,
          impactoInterno: this.impactoInterno,
          impactoExterno: this.impactoExterno,
        };
        await this.$axios.post(
          "api/sgcnegocio/formularioImpactoComparativo/agregarImpacto",
          data
        );
        
        this.departamentoProducto = ''
          this.impactoExterno =''
          this.impactoInterno = ''
          this.$refs.form.resetValidation()
          this.obtener()
        this.$notifier.showMessage({
          content: "Elemento añadido",
          color: "success",
        });
      
      } catch (err) {
        console.log(err);
        this.$notifier.showMessage({
          content: "No se pudo añadir al elemento",
          color: "error",
        });
      }
      }
      this.close();
    },
    getColor(value) {
      if (value === "Alto") return "red";
      else if (value === "Medio") return "orange";
      else return "green";
    },
  },
};
</script>
<style >
.imagen {
  margin-left: 35%;
  width: 30%;
}
</style>
