<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
              :footer-props="{
              'items-per-page-text': 'Filas por página',
            }"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                
                <v-toolbar-title class="text-h5">Gastos</v-toolbar-title>
                <v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer><v-spacer></v-spacer>
                
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      
                                      >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                 
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Nuevo gasto Disponible</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" md="12">
                            <v-text-field
                              label="Gasto Corriente"
                              v-model="editedItem.gastosCorrientes"
                            ></v-text-field>
                          </v-col>
                        
                          <v-col cols="12" md="12">
                            <v-text-field
                              label="Monto"
                              type="number"
                              prefix="$"
                              v-model.number="editedItem.monto"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" md="12">
                            <v-text-field
                            
                              v-model="editedItem.otro"
                              label="Otros"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="guardarMod"
                        v-if="editedIndex === -1"
                        
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="guardarMod"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary" > No hay gastos Disponibles </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
   
     <v-row align="center" justify="center">
    <v-card id="cardTotales">
      <v-row align="center" justify="center">
        <v-col cols="7">
          <h3>Total:</h3>
        </v-col>
        <v-col cols="5" style="margin-left: 0px; padding-left: 0px">
          <p>${{ sumaTotal }}</p>
        </v-col>
      </v-row>
    </v-card>
     </v-row>
    <v-row>
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        color="secondary"
        elevation="8"
        dark
        v-if="!idForm"
        :disabled="sumaTotal==0"
        @click="enviarFormulario"
        >Guardar gastos</v-btn
      >
      <v-btn
        style="margin-bottom: 20px; margin-top: 20px"
        rounded
        v-else
        color="secondary"
        elevation="8"
        dark
        @click="edit"
        >Editar gastos</v-btn
      >
    </v-row>
    
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      editedIndex: -1,
     
      idForm: null,
      items: [
        
        "Efectivo y depositos",
        "Póliza de Seguros",
        "Otros",       
     
      ],
      headers: [
        {
          text: "Tipo",
          align: "start",
         
          value: "gastosCorrientes",
        },
        { text: "Monto", value: "monto" },
        { text: "Otros", value: "otro" },

        { text: "Acciones", value: "actions", sortable: false },
      ],

      desserts: [],
      editedItem: {
        gastosCorrientes: "",
        monto: "",
        otro: "",
      },
      defaultItem: {
        gastosCorrientes: "",
        monto: "",
        otro: "",
      },
      dialog: false,
    };
  },
mounted() {
    this.obtener();
  },
  methods: {
       
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItemE = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);

      this.editedItem = Object.assign({}, item);
     
      this.dialog = true;
    },

    guardarMod() {
       if(
        !this.editedItem.gastosCorrientes ||
        !this.editedItem.monto || 
        !this.editedItem.otro
      ){
         this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "warning",
        });
      }else{
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
        gastosCorrientes: this.editedItem.gastosCorrientes,
        monto: this.editedItem.monto,
        otro: this.editedItem.otro,
        
        });
      }

      this.close();
      }
    },
    async obtener() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `/api/sgcnegocio/gastosCorrientes/buscarUsuarioGastos/${user}`
        );

     
        this.idForm = res.data._id;

        this.desserts = res.data.gastos;
      } catch (error) {
       
      }
    },
    async edit() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.put(
          `api/sgcnegocio/gastosCorrientes/actualizarGastosCorriente/${this.idForm}`,
          {
            user,
            gastos: this.desserts,
            totalGastos: this.sumaTotal
          }
        );

        this.$notifier.showMessage({
          content: "Editado correctamente",
          color: "success",
        });
        (this.editedItem.gastosCorrientes = ""),
          (this.editedItem.monto = ""),
          (this.editedItem.otro = "")
      } catch (error) {
    
        this.$notifier.showMessage({
          content: "Error al enviar data",
          color: "error",
        });
      }
    },

    async enviarFormulario() {
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario
        const res = await this.$axios.post(
          `/api//sgcnegocio/gastosCorrientes/agregarGastosCorriente`,
          {
            user,
            gastos: this.desserts,
            totalGastos: this.sumaTotal
          }
        );

        this.$notifier.showMessage({
          content: "Ingreso Exitoso",
          color: "success",
        });
          (this.editedItem.gastosCorrientes = ""),
          (this.editedItem.monto = ""),
          (this.editedItem.otro = "")
        this.obtener()

      

      } catch (error) {
        this.$notifier.showMessage({
          content: "Error al enviar data",
          color: "error",
        });
      }
    },
  },
   computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo gasto" : "Editar gasto";
    },
    sumaTotal () {
      let total = 0
      for (const i of this.desserts) {
        total = i.monto + total
      }
      return total
    }
  },

 mounted() {
    this.obtener();
  },
};
</script>
<style>
#cardTotales {
  width: 250px;
  height: 40px;
  /* margin-left: 35%; */
  margin-top: 30px;;
}
#cardTotales h3 {
  color: rgb(189, 29, 82);
  margin-bottom: 20px;
}
</style>