<template>
  <v-card elevation="3">
    <v-container>
      <row>
        <h1 class="text-center mt-3 mb-5">
          Creacion de Usuario Representante
        </h1>
        <v-divider></v-divider>
      </row>
      <row class="d-flex flex-column align-center justify-space-around">
        <img
          style="width: 45%"
          src="https://i2.wp.com/css-tricks.com/wp-content/uploads/2018/04/react-svg-component-library-7.png?ssl=1"
          alt="John"
        />
      </row>
      <v-form>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                v-model="nombre"
                required
                label="Nombres"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                v-model="apellido"
                required
                label="Apellidos"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                value="REPRESENTANTE"
                label="Rol"
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-autocomplete
                small-chips
                v-model="organizacion"
                :items="organizaciones"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="10" sm="10" md="11">
              <v-btn
                rounded
                color="secondary"
                elevation="8"
                dark
                @click="enviar"
                >ENVIAR FORMULARIO</v-btn
              >
            </v-col>
            <v-col cols="2" sm="2" md="1">
              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                  <!-- <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                  </v-btn> -->
                  <v-btn v-bind="attrs" v-on="on" elevation="5" fab>
                    <v-icon center>
                      mdi-school
                    </v-icon></v-btn
                  >
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">Ingresar una nueva organizacion</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="creacionOrganizacion"
                            label="Nombre de la organización*"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                   
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">
                       Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="crearOrganizacoin"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <row class="d-flex justify-space-around ">
        <v-col cols="10" sm="10" md="10">
          <h2  class="mt-15 mb-5">Lista de Usuarios Creados</h2>
      
        </v-col>
      
      </row>
      <v-divider ></v-divider>
      <v-row  >
        <v-col cols="1" sm="1" md="1"></v-col>
        <v-col cols="4" sm="4" md="4" style="font-weight:500">DEPARTAMENTO</v-col>
         <v-col cols="3" sm="3" md="3" style="font-weight:500; text-align:center">USUARIO</v-col>
          <v-col cols="2" sm="2" md="2" style="font-weight:500; text-align:center">CONTRASEÑA</v-col>
          <v-col cols="2" sm="2" md="2" style="font-weight:500; text-align:center"></v-col>
        </v-row>


      <v-container>
        <div>
          <User
          @recuperarUsuario="recuperarUsuario"
          v-for="us of usuarios"
          v-bind:key="us.usuario.nombreUsuario"
          :user="us.usuario.nombreUsuario"
          :contra="us.usuario.contrasena"
          :uni="us.organizacion"
  
        ></User>
        </div>
      

        <v-divider cols="12" sm="12" md="12"></v-divider>
      </v-container>
    </v-container>
  </v-card>
</template>

<script>
import User from "../../components/listuser.vue";
import Organizacion from "../../components/listorganiz.vue";

export default {
  components: {
    User,
    Organizacion
  },
  layout: "user",
  data() {
    return {
      ok: false,
      dialog: false,
      nombre: "",
      bandera: this.$cookies.get("dataClient").departamento,
      apellido: "",
      organizacion: "",
      departamento: "",
      role: "REPRESENTANTE",
      unversidades: [],
      usuarios: [],
      organizaciones: [],
      creacionOrganizacion: ""
    };
  },

  methods: {
    async enviar() {
      if (!this.nombre || !this.apellido || !this.organizacion) {
        this.$notifier.showMessage({
            content: "Rellene todos lo campos",
            color: "error"
          });
      } else {
        console.log(this.organizacion);
        try {
          const respuesta = await this.$axios.post(
            "api/sgcnegocio/agregarUsuario",
            {
              nombre: this.nombre,
              apellido: this.apellido,
              organizacion: this.organizacion,
              departamento: "",
              usuario: { role: this.role }
            }
          );
          this.recuperarUsuario();

          if (respuesta.status == 200) {
            this.limpiar();
          } else {
            this.limpiar();
          }

          this.$notifier.showMessage({
            content: "Usuario añadido",
            color: "success"
          });

          console.log(respuesta);
        } catch (err) {
          this.$notifier.showMessage({
            content: "El usuario no pudo ser añadido",
            color: "error"
          });
          console.log(err);
        }
      }
    },
    async crearOrganizacoin() {
      if (!this.creacionOrganizacion) {
        this.$notifier.showMessage({
            content: "Rellene todos los campos",
            color: "error"
          });
      } else {
        try {
          await this.$axios.post(
            "api/sgcnegocio/organizacion/agregarOrganizacion",
            {
              organizacion: this.creacionOrganizacion,
              departamentos: ["RECURSOS HUMANOS", "DTCS", "CONTABILIDAD", "COMPRAS", "FINANCIERO", "LOGÍSTICA", "MARKETING", "COMERCIAL", "CONTROL DE GESTIÓN", "DIRECCIÓN GENERAL"],
              contacto: ""
            }
          );
          this.$notifier.showMessage({
            content: "Registro añadido",
            color: "success"
          });
           this.recuperarOrganizaciones();
        } catch (error) {
          console.log(error);
          this.$notifier.showMessage({
            content: "La organización no pudo ser ingresada",
            color: "error"
          });
        }
      
       
        this.dialog = false;
      }
    },
    prueba() {
      alert("hola");
    },
    limpiar() {
      this.nombre = "";
      this.apellido = "";
      this.organizacion = "";
    },

    async recuperarUsuario() {
      this.usuarios.slice();
      console.log("llego");
      try {
        const response = await this.$axios.get(
          "api/sgcnegocio/buscarUsuariosPorRol/REPRESENTANTE"
        );
        console.log(response)

        this.usuarios =  response.data;
        console.log(this.usuarios);
        // for(user of usuarios) {
        //     this.usuarios.push(
        //       {nombre: user.usuario.nombreUsuario,
        //       contrasena: user.usuario.contrasena,
        //       collage: user.organizacion}
        //     )
        // }

   
      } catch (err) {
        console.log(err);
      }
    },
    async recuperarOrganizaciones() {
      this.organizaciones.slice();
      try {
        const response = await this.$axios.get(
          "api/sgcnegocio/organizacion/listarOrganizaciones"
        );
        const or = response.data;

        or.forEach(element => {
          this.organizaciones.push(`${element.organizacion}`);
        });

        console.log(this.organizaciones);

        console.log(response);
      } catch (err) {
        console.log(err);
      }
    }
  },

  mounted() {
    console.log("mounted");
    this.recuperarUsuario();
    this.recuperarOrganizaciones();
  }
};
</script>

<style>
.conten {
  width: 100%;
}
</style>
