<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            sort-by="calories"
            class="elevation-1"
            loading="100"
            loading-text="Cargando... Por favor espere"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>GAP ANÁLISI</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="600px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Ingreso de nueva Pregunta</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                        label="Ingrese la nueva pregunta"
                        v-model="editedItem.pregunta"
                        :rules="[v => !!v || 'Este campo es requerido']"
                      ></v-text-field>
                          </v-col>
                          
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviarRiesgo"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarRiesgo"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancel</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="eliminarRiesgo"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            
            </template>
     
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
  </v-container>
</template>

<script>
export default {
    layout: "user",
  data() {
    return {
      load: true,
     
      headers: [
        {
          text: "Preguntas",
          align: "start",

          value: "pregunta"
        },
      

        { text: "Acciones", value: "actions", sortable: false }
      ],
      editedItem: {
        pregunta: "",
       
      },
      defaultItem: {
        pregunta: "",
      
      },
      desserts: [],
      editedIndex: -1,
      dialog: false,
      dialogDelete: false
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
   
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      console.log("que es "+ this.desserts.indexOf(item));
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    agregarRiesgo() {
      this.desserts.push({
        nombreRiesgo: this.editedItem.nombreRiesgo,
        impacto: this.editedItem.impacto,
        probabilidad: this.editedItem.probabilidad,
        prioridad: parseInt(this.editedItem.prioridad, 10)
      });
    },
  
    async enviarRiesgo() {
      if (
        !this.editedItem.pregunta
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(`api/sgcnegocio/preguntasbia`, {
            pregunta: this.editedItem.pregunta,
            
          });
          this.recuperarPreguntas();
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success"
          });
          this.close();
        
        } catch (error) {
          console.log(error);

          this.$notifier.showMessage({
            content: "No se pudo añadir la pregunta , intentelo de nuevo",
            color: "error"
          });
          this.close();
          
        }
      }
      this.dialog = false;
    },
    async actualizarRiesgo() {
      
      if (
        !this.editedItem.pregunta 
      ) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          console.log(this.editedItem._id);
          await this.$axios.put(
            `api/sgcnegocio/preguntasbia/${this.editedIndex+1}`,
            {
              _id: this.editedItem._id,
              pregunta: this.editedItem.pregunta,
            }
          );
          
          this.guardarMod();
       
          this.$notifier.showMessage({
            content: "Se edito con exito",
            color: "success"
          });
         
         
        } catch (error) {
          console.log(error);
          this.$notifier.showMessage({
            content: "No se pudo actualizar con exito, intente de nuevo",
            color: "error"
          });
        }
      }

     
    },
    async eliminarRiesgo() {
      
      try {
        console.log(this.editedItem._id);
        await this.$axios.delete(
          `api/sgcnegocio/preguntasbia/${this.editedItem._id}/${this.editedIndex+1}`
        );

        this.desserts.splice(this.editedIndex, 1);
       
        console.log(this.editedIndex);
      
        this.closeDelete();
        this.$notifier.showMessage({
          content: "El elemento se elimino con exito",
          color: "success"
        });
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "No se pudo eliminar el elemento",
          color: "error"
        });
      }
      this.dialogDelete = false;
    },
    async recuperarPreguntas() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/preguntasbia`
        );
          console.log(res);
         this.desserts = res.data;

      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "Error al recuperar la información",
          color: "error"
        });
      }
    },

  },

  mounted() {
    this.recuperarPreguntas();
  }
};
</script>