<template>
  <v-row>
    <v-container>
      <v-row>
        <v-col cols="1" sm="1" md="1">
      <p>Nombre Riesgo</p>
    </v-col>
    <v-divider class="linea"  inset vertical></v-divider>
    <v-col style="text-align:center" cols="3" sm="3" md="3">
      <v-radio-group v-model="row" row>
        <v-radio label="1" value="radio-1"></v-radio>
        <v-radio label="2" value="radio-2"></v-radio>
        <v-radio label="3" value="radio-3"></v-radio>
      </v-radio-group>
    </v-col>
    <v-divider class="linea"  inset vertical></v-divider>
    <v-col cols="1" sm="1" md="1">
      <v-text-field
        v-model="foo"
        type="number"
        label="Number"
        @click:append-outer="increment"
        @click:prepend="decrement"
      ></v-text-field>
    </v-col>
    <v-divider class="linea"  inset vertical></v-divider>
    <v-col cols="6" sm="6" md="6">
      <v-progress-linear
        style="margin-top:18px"
        v-model="foo"
        :color="color"
        height="25"
        aria-valuemax="25"
        aria-valuemin="3"
      ></v-progress-linear>
    </v-col>
    <v-divider class="linea" inset vertical></v-divider>
    <v-col cols="1" sm="1" md="1">
      <v-checkbox
        v-model="ex4"
        color="primary"
        value="primary"
        label="Y/N"
        hide-details
      ></v-checkbox>
    </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="12" md="12">
           <v-divider class="linea" style="margin-bottom:15px"></v-divider>
        </v-col>
      </v-row>

    </v-container>
    
     
  </v-row>
  
</template>

<script>
export default {
  data() {
    return {
      foo: 1,
      power: 90,
      color: ""
     
    };
  },

  methods: {
    increment() {
      this.foo = parseInt(this.foo, 10) + 1;
    },
    decrement() {
      this.foo = parseInt(this.foo, 10) - 1;
    }
  },

  watch: {
    foo:function(value){
      console.log(value)
      if(value <= 30){
        this.color = "success"
      } else if (value > 30 && value <= 60){
        this.color = "amber"
      } else {
        this.color = "warning"
      }
    }
  },
  computed: {
    color () {
      return {
        'success': this.foo <= 30,
        'amber': this.foo > 30 && this.foo <= 60,
        'warning': this.foo > 60
      }
      

    }
  }
};
</script>

<style>
  .linea{
    background: black
  }

</style>
