<template>
  <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        sort-by="nombre"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Lista de Contactos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon-cb="search"
              label="Búsqueda"
              single-line
              hide-details
            >
            </v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo Contacto
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                         <v-select
                          :items="items"
                          label="Contactos"
                          v-model="editedItem.tipoContacto"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.nombre"
                          label="Nombre"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.telefono"
                          label="Teléfono"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.correo"
                          label="Correo Electrónico"
                        ></v-text-field>
                      </v-col>
                      <v-col
                            cols="12"
                            sm="6"
                            md="4"
                          >
                            <v-text-field
                              v-model="editedItem.servicio"
                              label="Función y /o servicio"
                            ></v-text-field>
                          </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="enviar" v-if="editedIndex===-1">
                    Guardar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="actualizarDat" v-else>
                    Editar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >¿Estás seguro que deseas borrarlo?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancelar</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="eliminarDat"
                    >Aceptar</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary"> No hay contactos </v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      desserts: [],
      dialog: false,
      dialogDelete: false,
      id: "",
      tipoContacto: "",
      nombre: "",
      telefono: 0,
      correo: "",
      servicio: "",
      items: [
        "Proveedores de Servicios",
        "Compañía de mantenimiento de equipos",
        "Autoridades",
        "Instituciones financieras",
        "Docentes",
        "Servicios Públicos",
        "Estudiantes",
      ],
      headers: [
        {
          text: "Contacto",
          align: "start",
          sortable: false,
          value: "tipoContacto",
        },
        { text: "Nombre", value: "nombre" },
        { text: "Teléfono", value: "telefono" },
        { text: "Correo Electrónico", value: "correo" },
        { text: "Función y /o servicio", value: "servicio" },
        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      editedIndex: -1,
      editedItem: {
        tipoContacto: "",
        nombre: "",
        telefono: null,
        correo: "",
        servicio: "",
      },
        defaultItem: {
        tipoContacto: "",
        nombre: "",
        telefono: null,
        correo: "",
        servicio: "",
        
      },
    };
  },
   mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Contacto";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
 
  methods: {
    
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },


    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
        tipoContacto: this.tipoContacto,
        nombre: this.nombre,
        telefono: this.telefono,
        correo: this.correo,
        servicio: this.servicio,
        });
      }
      this.close();
    },
    async actualizarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          tipoContacto: this.editedItem.tipoContacto,
          nombre: this.editedItem.nombre,
          telefono: this.editedItem.telefono,
          correo: this.editedItem.correo,
          servicio: this.editedItem.servicio,
        };

        await this.$axios.put(`api/sgcnegocio/listaContacto/actualizarContacto/${this.editedItem._id}`, datos)
        this.guardarMod();
      } catch (err) {
        console.log(err);
      }
    },
     async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario
      try {
        const resp = await this.$axios.get(`api/sgcnegocio/listaContacto/buscarContactosPorUser/${user}`)
        this.desserts = resp.data
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient")._id,
          tipoContacto: this.editItem.tipoContacto,
          nombre: this.editItem.nombre,
          telefono: this.editItem.telefono,
          correo: this.editItem.correo,
          servicio: this.editItem.servicio,
        };
        const res = await this.$axios.delete(`api/sgcnegocio/listaContacto/eliminarContacto/${this.editedItem._id}`,
          datos
        )
        this.deleteItemConfirm()
      } catch (err) {
        console.log(err)
      }
    },
    agregarEquipo() {
      this.desserts.push({
        tipoContacto: this.editedItem.tipoContacto,
        nombre: this.editedItem.nombre,
        telefono: this.editedItem.telefono,
        correo: this.editedItem.correo,
        servicio: this.editedItem.servicio,
        
      })
    },
    async enviar() {
    try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          tipoContacto: this.editedItem.tipoContacto,
          nombre: this.editedItem.nombre,
          telefono: this.editedItem.telefono,
          correo: this.editedItem.correo,
          servicio: this.editedItem.servicio,
        }
        await this.$axios.post("api/sgcnegocio/listaContacto/agregarContacto", data)
        this.agregarEquipo()
        this.dialog = false
        
      } catch (err) {
        console.log(err)
      }
       
    },
  },
};
</script>