<template>
  <v-card elevation="3">
    <v-container>
      <row>
        <h1 class="text-center mt-3 mb-5">
          Creación de Usuarios y Departamentos
        </h1>
        <v-divider style="padding-bottom: 20px"></v-divider>
      </row>
      <row class="d-flex flex-column align-center justify-space-around">
        <img
          style="width: 45%"
          src="https://www.rivex.es/assets/img/illustrations/mobile%20wireframe.svg"
          alt="John"
        />
      </row>
      <v-form>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                v-model="nombre"
                required
                label="Nombres"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                v-model="apellido"
                required
                label="Apellidos"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                value="DEPARTAMENTO"
                label="Rol"
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-autocomplete
                small-chips
                v-model="departamento"
                :items="departamentos"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" sm="6" md="6">
              <v-btn
                rounded
                color="secondary"
                elevation="8"
                dark
                @click="enviar"
                >ENVIAR FORMULARIO</v-btn
              >
            </v-col>

            <v-col cols="2" sm="2" md="1">
              <v-dialog v-model="dialogPDF" max-width="500px">
                <v-card>
                  <v-card-title class="text-h7"
                    >¿Estás seguro que deseas descargar el PDF?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closePDF"
                      >Cancelar</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="reporte"
                      >Aceptar</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                  <!-- <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                  </v-btn> -->
                  <v-btn v-bind="attrs" v-on="on" elevation="5" fab>
                    <v-icon center>
                      mdi-school
                    </v-icon></v-btn
                  >
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">Ingresar un nuevo Departamento</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="ingresoDepar"
                            label="Nombre del Departamento*"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                    <small>*Campo requerido</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">
                      Cerrar
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="creacionDepar">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <row>
        <h2 class="mt-15 mb-5">{{ depar }} - Departamentos</h2>
        <v-divider></v-divider>
      </row>
      <v-row>
        <v-col cols="1" sm="1" md="1"></v-col>
        <v-col cols="4" sm="4" md="4" style="font-weight:500"
          >DEPARTAMENTO</v-col
        >
        <v-col cols="3" sm="3" md="3" style="font-weight:500; text-align:center"
          >USUARIO</v-col
        >
        <v-col cols="2" sm="2" md="2" style="font-weight:500; text-align:center"
          >CONTRASEÑA</v-col
        >
        <v-col
          cols="2"
          sm="2"
          md="2"
          style="font-weight:500; text-align:center"
        ></v-col>
      </v-row>
      <v-container>
        <User
          @recuperarUsuario="recuperarUsuario"
          v-for="us of usuarios"
          v-bind:key="us.usuario.nombreUsuario"
          :user="us.usuario.nombreUsuario"
          :contra="us.usuario.contrasena"
          :uni="us.organizacion"
          :dep="us.departamento"
        ></User>
        <v-divider cols="12" sm="12" md="12"></v-divider>

        <v-btn
          style="
                margin-top: 10px;
                 padding-bottom:2px;
                  
                "
          rounded
          color="secondary"
          elevation="8"
          dark
          @click="PDFItem"
          ><v-icon>mdi-file-document-multiple-outline</v-icon> Reporte</v-btn
        >
      </v-container>
    </v-container>
  </v-card>
</template>

<script>
import User from "../../components/listuser.vue";

export default {
  components: {
    User,
  },
  layout: "userUniversidad",
  data() {
    return {
      ingresoDepar: "",
      dialog: false,
      depar: this.$cookies.get("dataClient").organizacion,
      bandera: this.$cookies.get("dataClient").usuario.role,
      nombre: "",
      apellido: "",
      departamento: "",
      role: "DEPARTAMENTO",
      usuarios: [],
      departamentos: [],

      idO: "",
      contactoO: "",
      organizacion: ""
    };
  },

  methods: {
    PDFItem() {
      this.dialogPDF = true;
      this.dialog = false;
    },
    closePDF() {
      this.dialogPDF = false;
    },

    async enviar() {
      if (!this.nombre || !this.apellido || !this.departamento) {
        this.$notifier.showMessage({
          content: "Rellene todo los campos",
          color: "error",
        });
      } else {
        try {
          const respuesta = await this.$axios.post(
            "https://seguridad-sgcn.herokuapp.com/sgcnegocio/agregarUsuario",
            {
              nombre: this.nombre,
              apellido: this.apellido,
              organizacion: this.depar,
              departamento: this.departamento,
              usuario: { role: this.role },
            }
          );
          this.recuperarUsuario();

          if (respuesta.status == 200) {
            this.limpiar();
          } else {
            this.limpiar();
          }
          this.$notifier.showMessage({
            content: "Usuario añadido con exito",
            color: "success"
          });
          console.log(respuesta);
        } catch (err) {
          this.$notifier.showMessage({
            content: "No fue posible añadir un nuevo usuario",
            color: "error",
          });
        }
      }
    },

    async creacionDepar() {
      if (!this.ingresoDepar) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else {
        this.departamentos.push(this.ingresoDepar);
        this.ingresoDepar = "";
        try {
          const res = await this.$axios.put(
            "api/sgcnegocio/organizacion/actualizarOrganizacion",
            {
              _id: this.idO,
              organizacion: this.organizacion,
              departamentos: this.departamentos,
              contacto: this.contactoO
            }
          );
          this.$notifier.showMessage({
            content: "Departamento insertado",
            color: "success"
          });
        } catch (error) {
          this.$notifier.showMessage({
            content: "No fue posible insertar el departamento",
            color: "error"
          });
        }
        this.dialog = false;
      }
    },

    async obtenerOrg() {},

    prueba() {
      console.log(this.$cookies.get("dataClient"));
    },

    limpiar() {
      this.nombre = "";
      this.apellido = "";
      this.departamento = "";
    },

    async recuperarUsuario() {
      this.usuarios.slice();

      try {
        const response = await this.$axios.get(
          `https://seguridad-sgcn.herokuapp.com/sgcnegocio/buscarUsuariosPorRolYOrganizacion/DEPARTAMENTO/${this.depar}`
        );
        const us = response.data;
        this.usuarios = us;
      } catch (err) {}
    },
    async recuperarDepartamentos() {
      this.departamentos.slice();

      try {
        const response = await this.$axios.get(
          "https://seguridad-sgcn.herokuapp.com/sgcnegocio/organizacion/buscarOrganizacion/" +
            this.depar
        );
        console.log("ORGANIZACION?");
        console.log(response);
        const or = response.data;
        this.idO = or._id;
        this.organizacion = or.organizacion;
        this.contactoO = or.contacto;
        this.departamentos = or.departamentos;
        console.log(or);
        // or.departamentos.forEach(element => {
        //   console.log(element);
        //   this.departamentos.push(`${element}`);
        // });
      } catch (err) {
        console.log(err);
      }
    }
  },

  mounted() {
    this.recuperarDepartamentos();
    this.recuperarUsuario();
  },
};
</script>

<style>
.conten {
  width: 100%;
}
</style>
