<template>
  <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        sort-by="calories"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Proveedores de Servicios</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon-cb="search"
              label="Búsqueda"
              single-line
              hide-details
            >
            </v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo Contacto
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <!--<v-text-field
                          v-model="tipoCalidad"
                          label="Nombre"
                        ></v-text-field>-->
                        <v-select
                          :items="items"
                          label="Localidad"
                          v-model="editedItem.tipoCalidad"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.tipo"
                          label="Tipo"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.caracteristica"
                          label="Caracteristica"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="enviar" v-if="editedIndex===-1">
                    Guardar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="actualizarDat" v-else>
                    Editar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >Estas seguro que deseas borrarlo?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="eliminarDat"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>


<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      id: "",
      tipoCalidad: "",
      tipo: "",
      caracteristica: "",
      items: [
        "Bienes afectados",
        "Servicios Publicos Afectados",
        "Infraestructura Afectada",
        "Personal y/o estudiantes afectados",
        "Continuidad de negocios",
      ],
      headers: [
        {
          text: "Localidad para evaluar",
          align: "start",
          sortable: false,
          value: "tipoCalidad",
        },
        { text: "Tipo", value: "tipo" },
        { text: "Caracteristica", value: "caracteristica" },

        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        tipoCalidad: "",
        tipo: "",
        caracteristica: "",
      },      

      defaultItem: {
        tipoCalidad: "",
        tipo: "",
        caracteristica: "",
      },
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

 

  methods: {
  
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
          tipoCalidad: this.tipoCalidad,
          tipo: this.tipo,
          caracteristica: this.caracteristica,
        });
      }
      this.close();
    },

    async actualizarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          tipoCalidad: this.editedItem.tipoCalidad,
          tipo: this.editedItem.tipo,
          caracteristica: this.editedItem.caracteristica,
        };
        await this.$axios.put(
          `api/sgcnegocio/listaEvaluacion/actualizarEvaluacion/${this.editedItem._id}`,
          datos
        );

        this.guardarMod();
      } catch (err) {
        console.log(err);
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;

      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/listaEvaluacion/buscarEvaluacionPorUser/" + user
        );
        (this.id = res.data._id), this.desserts.slice();       
        
        res.data.forEach((element) => {
          console.log(element);

          this.desserts.push({
            tipoCalidad: element.tipoCalidad,
            tipo: element.tipo,
            _id: element._id,
            caracteristica: element.caracteristica,
          });
        });
         /* this.desserts.push({
          tipoCalidad: res.data.tipoCalidad,
          tipo: res.data.tipo,
          caracteristica: res.data.caracteristica,
        });*/

        console.log(res);
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient")._id,
          /* personal: this.editedItem.personal,
          negocio: this.editedItem.negocio,*/
          /*tipoCalidad: element.tipoCalidad,
          tipo: element.tipo,
          caracteristica: element.caracteristica,*/
          tipoCalidad: this.editItem.tipoCalidad,
          tipo: this.editItem.tipo,
          caracteristica: this.editItem.caracteristica,
        };
        const res = await this.$axios.delete(
          `api/sgcnegocio/listaEvaluacion/eliminarEvaluacion/${this.editedItem._id}`,
          datos
        );
        console.log(res);
        this.deleteItemConfirm();
      } catch (err) {
        console.log(err);
      }
    },

    agregarEquipo() {
      this.desserts.push({
        tipoCalidad: this.editedItem.tipoCalidad,
        tipo: this.editedItem.tipo,
        caracteristica: this.editedItem.caracteristica,
      });
    },

    async enviar() {
      try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.nombreUsuario,
          tipoCalidad: this.editedItem.tipoCalidad,
          tipo: this.editedItem.tipo,
          caracteristica: this.editedItem.caracteristica,
        };
        await this.$axios.post(
          "api/sgcnegocio/listaEvaluacion/agregarEvaluacion",
          data
        );
        this.agregarEquipo();
        (this.tipoCalidad = ""), (this.tipo = ""), (this.caracteristica = "");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>