<template>
  <v-container>
    <v-row>
      <v-col>
        <h3>Promedio Cuestionario</h3>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" sm="6" md="6">
        <RadarChart
           v-if="(loaded === 1)"
          :chartdata="chartdata"
          :options="options"
        ></RadarChart>
        <v-banner v-else-if="(loaded === 2)" single-line @click:icon="alert">
          <v-icon slot="icon" color="warning" size="36">
            mdi-wifi-strength-alert-outline
          </v-icon>
          Sin registros, no hay usuarios Departamentos
        </v-banner>

        <v-progress-circular
          v-else
          :size="70"
          :width="7"
          color="purple"
          indeterminate
        ></v-progress-circular>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        md="6"
        class="d-flex flex-column align-center justify-space-around"
      >
        <img style="width: 80%" src="/graficoCuestionario.svg" alt="John" />
      </v-col>
    </v-row>
    <v-row v-for="ques of question" v-bind:key="ques.id">
      <v-col cols="12" sm="10" md="8">
        <v-text-field
          :value="ques.pregunta"
          label="Solo"
          solo
          readonly
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row> </v-row>
  </v-container>
</template>

<script>
import RadarChart from "../../components/componentsVicente/radarChart.vue";

import { GChart } from "vue-google-charts";

export default {
  layout: "userUniversidad",
  components: { RadarChart, GChart },
  data() {
    return {
      prueba: [],
      loaded: false,
      options: {
        scale: {
          ticks: { beginAtZero: true, suggestedMin: 0, suggestedMax: 5 }
        }
      },
      chartdata: {
        labels: [],
        datasets: [
          {
            data: [],
            label: ["Promedio Departamentos"],
            backgroundColor: "rgba(33, 147, 176, 0.1)",
            borderColor: "rgba(33, 147, 176, 1)",
            borderWidth: 1
          }
        ]
      },
      chartData: [
        ["Year", "Sales", "Expenses", "Profit"],
        ["2014", 1000, 400, 200],
        ["2015", 1170, 460, 250],
        ["2016", 660, 1120, 300],
        ["2017", 1030, 540, 350]
      ],
      chartOptions: {
        chart: {
          title: "Company Performance",
          subtitle: "Sales, Expenses, and Profit: 2014-2017"
        }
      },

      question: []
     
    };
  },
  methods: {
    async recuperarData() {
      this.loaded = 3;
       this.chartdata.datasets[0].data = [];
      try {
        let user = this.$cookies.get("dataClient").organizacion;
        console.log(user);
        const res = await this.$axios
          .get(`api/sgcnegocio/BIACuestionario/promedio/${user}`)
          .then(res => {
            console.log("PROMEDIOS");
            console.log(res);
           

             if (res.data.sin_registros === 0) {
              console.log("ejecute");
              this.loaded = 2;
            } else {
              const d = res.data;
              let va = 1;
              this.question.forEach(element => {
                element.nota = d["pregunta_" + va + "_promedio"];
                console.log(element.nota);
                va++;
                this.chartdata.datasets[0].data.push(element.nota);
              });
              ("dato 1");
               this.loaded = 1;
              console.log(this.chartdata.datasets[0].data);
            }

    
          });

        // this.colocar()
      } catch (error) {
        console.log(error);
        this.question.forEach(element => {
          element.nota = 0;
        });
      }

     
    },

    async recuperaPreguntas() {
      try {
        let user = this.$cookies.get("dataClient").organizacion;
        console.log(user);
        const res = await this.$axios
          .get(`api/sgcnegocio/preguntasbia`)
          .then(res => {
            console.log(res);
            const d = res.data;
            let va = 1;
            d.forEach(element => {
              this.question.push({
                pregunta: element.pregunta,
                nota: 0,
                id: va
              });
              this.chartdata.labels.push(va + ".");
              va++;
            });
          });

        // this.colocar()
      } catch (error) {
        console.log(error);
        this.question.forEach(element => {
          element.nota = 0;
        });
      }
    },

    colocar() {
      this.question.forEach(element => {
        this.prueba.push(element.nota);
      });

      this.chartdata.datasets[0].data = this.prueba;
      console.log(this.chartdata.datasets[0].data);
    }
  },
  mounted() {
    this.recuperaPreguntas();
    this.recuperarData();
  }
};
</script>
