<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="12" sm="12">
        <h1 class="text-center" style="margin-bottom: 30px">
          Guía para Desarrollar un Plan de Continuidad del Negocio
        </h1>
      </v-col>
    </v-row>
    <v-divider style="margin-bottom: 50px"></v-divider>

    <v-row>
      <v-timeline :dense="$vuetify.breakpoint.smAndDown">
        <v-timeline-item color="purple lighten-2" fill-dot right>
          <v-card>
            <v-card-title class="purple lighten-2">
              <v-icon dark size="42" class="mr-4">
                mdi-magnify
              </v-icon>
              <h2 class="text-h5 white--text font-weight-light">
                Paso 1 - Determinar el propósito y alcance de tu PCN y
                selecciona al líder y equipo responsable de llevarlo a cabo
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  <strong>Propósito: </strong> El propósito debe ser muy claro, y explicar por qué se implementará el PCN.  <br>
<strong>Alcance: </strong> Puedes limitar el alcance de tu
PCN a sectores clave <br>
<strong>Liderazgo en el PCN: </strong> Debes nombrar un líder para el PCN, quien tendrá la iniciativa en las actividades del PCN
en toda la empresa.  <br>
                </v-col>
                <v-col class="hidden-sm-and-down text-right" md="4">
                  <img
                    style="width: 90%"
                    src="/lider.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="amber lighten-1" fill-dot left small>
          <v-card>
            <v-card-title class="amber lighten-1 justify-end">
              <h2 class="text-h4 mr-4 white--text font-weight-light">
                Paso 2 - Determinar las Actividades Prioritarias de tu Organización y los
Tiempos de Recuperación Ideales
              </h2>
              <v-icon dark size="42">
                mdi-home-outline
              </v-icon>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En el Paso 2, considerarás cuál es el producto o servicio que sustenta a tu empresa. En caso
de que un desastre u accidente afecte las operaciones de tu empresa, ¿Cuál es el producto o
servicio cuya recuperación consideras prioritaria? 
                </v-col>
                <v-col cols="12" md="4">
                 <img
                    style="width: 90%"
                    src="/paso2_time.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="cyan lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="cyan lighten-1">
              <v-icon class="mr-4" dark size="42">
                mdi-email-outline
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 3 - Determinar que necesitas para la Continuidad de tus Actividades
Prioritarias
              </h2>
            </v-card-title>
            <v-container>
             <v-row>
                <v-col cols="12" md="8">
                  Las Actividades Prioritarias (AP) dependen de diversos recursos internos y externos. En
caso de una interrupción de Negocios, se requiere que dichos recursos estén
disponibles y listos de modo que puedan reanudarse las AP.
                </v-col>
                <v-col cols="12" md="4">
                 <img
                    style="width: 90%"
                    src="/paso3_recursos.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="red lighten-1" fill-dot left small>
          <v-card>
            <v-card-title class="red lighten-1 justify-end">
              <h2 class="text-h4 mr-4 white--text font-weight-light">
                Paso 4 - Evaluación de Riesgos- Conoce tus Escenarios de Riesgos
              </h2>
              <v-icon dark size="42">
                mdi-account-multiple-outline
              </v-icon>
            </v-card-title>
            <v-container>
              <v-row>
                
                <v-col cols="12" md="8">
                  En el Paso 4, debes identificar claramente cuáles riesgos pueden amenazar seriamente tu compañía. 
Debes crear una lista de estos riesgos y analizar de cuáles deben tomar medidas con alta prioridad
para prevenir daños lo más posible
                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/nature.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="green lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="green lighten-1">
              <v-icon class="mr-4" dark size="42">
                mdi-phone-in-talk
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 5 - Protección antes del Desastre y Mitigación
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En el siguiente paso, seleccionarás los recursos que requieren
medidas de protección y mitigación, además determinar los detalles de esas medidas. Esto, con el objetivo de
prevenir que el nivel de daño sea muy grave.

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/Seguridad_paso5.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

         <v-timeline-item color="purple lighten-2" fill-dot left>
          <v-card>
            <v-card-title class="purple lighten-2">
              <v-icon dark size="42">
                mdi-home-outline
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 6 - Respuesta de emergencia ante el desastre
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                 En el Paso 6 debes considerar las medidas inmediatas a tomar cuando ocurre el incidente o
fenómeno, para prevenir que llegue a un escenario de emergencia se convierta en una situación de
desastre incontrolable. 

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/desastreM.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

          <v-timeline-item color="amber lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="amber lighten-1">
              
              <h2 class="text-h4 white--text font-weight-light">
                Paso 7 - Estrategias para Reanudar Operaciones con Prontitud
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                 En el paso 7 desarrollarás las Estrategias de Continuidad de Negocios para resumir las Actividades
Prioritarias dentro de los Tiempos Ideales de Recuperación.

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/estra.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>


          <v-timeline-item color="cyan lighten-1" fill-dot left>
          <v-card>
            <v-card-title class="cyan lighten-1">
             
              <h2 class="text-h4 white--text font-weight-light">
                Paso 8 - Estar Preparado Financieramente
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                 El objetivo del Paso 8 es reconocer las condiciones financieras de tu empresa en caso de una
emergencia y preparar las medidas necesarias con anticipación para evitar la quiebra aún cuando se
interrumpan los ingresos.

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/statusFinanciero.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>


          <v-timeline-item color="red lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="red lighten-1">
            
              <h2 class="text-h4 white--text font-weight-light">
                Paso 9 - Practicar tu plan garantiza el éxito
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En los pasos 5, 6 y 7 tu compañía hizo varios planes estratégicos para la continuidad de Negocios.
Abajo encontrarás algunas preguntas relacionadas a esos planes. Qué tanta confianza tienes de poder
contestar “Si"a las siguientes preguntas?

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/repeat.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

          <v-timeline-item color="green lighten-1" fill-dot left>
          <v-card>
            <v-card-title class="green lighten-1">
             
              <h2 class="text-h4 white--text font-weight-light">
                Paso 10 - : Revisión Continua y Mejoras

              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  Hasta el momento ya terminaste dos fases de cuatro: planear y hacer. En el paso 10, terminarás con
las fases de Revisar y Actuar.

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/check.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>


      </v-timeline>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad"
};
</script>
