<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Protección y Mitigación</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            Para resumir operaciones de forma exitosa, el daño causado a las instalaciones debe ser contenido,
de manera que pueda hacerse una reparación prematura y restauración lo antes posible.

          </p>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color:black"> Ingreso </v-tab>
            <!-- <v-tab style="color:black"> Medidas </v-tab> -->
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <!-- <v-tab-item>
          <InicioEtapa></InicioEtapa>
        </v-tab-item> -->
        <v-tab-item>
          <Mitigacion></Mitigacion>
        </v-tab-item>
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>



<script>
import Mitigacion from "../../components/componentsVicente/paso5_mitigacion.vue"
import InicioEtapa from "../../components/componentsVicente/paso5_inicioEpataTres.vue"
export default {
     layout: "userUniversidad",
     components: {Mitigacion, InicioEtapa},
     data() {
    return {
      tabs: null,
      id: "", 
    };
  },
}
</script>