<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Alcance, Liderazgo y Propósito</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
         
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color:black">Liderazgo </v-tab>
            <v-tab style="color:black">Propósito y Alcance </v-tab>
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <Liderazgo></Liderazgo>
        </v-tab-item>
        <v-tab-item>
          <PropositoA></PropositoA>
        </v-tab-item>
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>


<script>
import Liderazgo from "../../components/paso1_liderazgo.vue"
import PropositoA from "../../components/paso1_propositoAlcance.vue"
export default {
    layout: "userUniversidad",
    components: {Liderazgo, PropositoA},
    data() {
    return {
      tabs: null,
    
    };
  },
}
</script>