<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Registro de Riesgos</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            Identifique claramente cuales riesgos pueden amanezar seriamente su
            compañía
          </p>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered show-arrows>
            <v-tab style="color:black"> Escala de Impactos </v-tab>
            <v-tab style="color:black"> Fenómenos Perturbadores </v-tab>
            <v-tab style="color:black"> Tabla de Riesgos </v-tab>
            <v-tab style="color:black"> Estimación de Daños </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <EscalaRiesgo></EscalaRiesgo>
        </v-tab-item>
        <v-tab-item>
          <FenomenosPerturbadores></FenomenosPerturbadores>
        </v-tab-item>
        <v-tab-item>
          <RiesgosTabla></RiesgosTabla>
        </v-tab-item>
        <v-tab-item>
          <EstimacionRiesgo></EstimacionRiesgo>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>
import EstimacionRiesgo from "../../components/componentsVicente/paso4_Estimaciondano.vue"
import EscalaRiesgo from "../../components/componentsVicente/paso4_EscalaImpacto.vue"
import FenomenosPerturbadores from "../../components/componentsVicente/paso4_FenomenosPerturbadores.vue"
import RiesgosTabla from "../../components/componentsVicente/paso4_TablaRiesgos.vue"
export default {
  layout: "userUniversidad",
  components: { EstimacionRiesgo, EscalaRiesgo, FenomenosPerturbadores, RiesgosTabla },
  data() {
    return {
      tabs: null,
      id: "",
    };
  },
  methods: {
   
   
  },
  
};
</script>
