<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-center" style="margin-bottom:15px">
          Recursos Necesarios para las actividades prioritarias
        </h2>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="6" sm="6" md="6">
        <v-radio-group v-model="radios" mandatory>
          <v-radio color="red" label="Recursos Internos" value="Uno"></v-radio>
          <v-radio
            color="red"
            label="Servicios Escenciales"
            value="Dos"
          ></v-radio>
          <v-radio
            color="red"
            label="Servicios de Negocio"
            value="Tres"
          ></v-radio>
        </v-radio-group>
      </v-col>
      <v-col
        class="d-flex flex-column align-center justify-space-around"
        cols="6"
        sm="6"
        md="6"
      >
        <img
          style="width: 45%"
          src="https://www.drupal.org/files/project-images/undraw_warning_cyit.png"
          alt="John"
        />
      </v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
              :footer-props="{
                'items-per-page-text':'Filas por página'
              }"
            sort-by="nombre"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      elevation="5"
                      fab
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>

    
                      <span class="text-h5">Ingrese un nuevo recurso</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.nombre"
                              label="Nombre"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-text-field
                              v-model="editedItem.contenido"
                              label="Contenido"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancelar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="enviar"
                        v-if="editedIndex === -1"
                      >
                        Guardar
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="actualizarDat"
                        v-else
                      >
                        Editar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5"
                      >¿Estás seguro que deseas borrarlo?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar</v-btn
                      >
                      <v-btn color="blue darken-1" text @click="eliminarDat"
                        >Aceptar</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> No hay recursos </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
    
      <v-btn
        v-if="!flag"
        style="margin-top:15px"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="enviarForm"
        >Enviar Formulario</v-btn
      >
      <v-btn
        v-else
        style="margin-top:15px"
        id="btn-ingreso"
        color="secondary"
        :loading="isLoading"
        @click="updateForm"
        >Actualizar Formulario</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      flag: false,
      radios: null,
      dialog: false,
      putp: false,
      idForm: "",
      dialogDelete: false,
      id: "",
      tipoRecurso: "",
      nombre: "",
      contenido: "",
   
      items: [
        "Recursos Internos",
        "Servicios Esenciales",
        "Socios de Negocios"
      ],
      headers: [
        {
          text: "Tipos",
          align: "start",
          sortable: false,
          value: "nombre"
        },

        { text: "Contenido", value: "contenido" },

        { text: "Acciones", value: "actions", sortable: false }
      ],
      search: "",
      desserts: [],
      editedIndex: -1,
      editedItem: {
        nombre: "",
        contenido: ""
       
      },

      defaultItem: {
        nombre: "",
        contenido: ""
      
      },
      recursoInterno: [],
      serviciosSociales: [],
      suministros: []
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Recurso" : "Editar Recurso";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    radios: function(value) {
      this.desserts.slice();
      this.cambiarDessert();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);
      this.actualizarData();
      this.close();
    },

    async actualizarDat() {
      this.guardarMod();
    },

    async putpost() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/recursos/buscarRecursosPorUsuario/" + user
        );

        if (!res.data.recursos) {
          this.putp = false;
         
        } else {
          this.idForm = res.data._id;
         
          this.putp = true
         
        }
        
      } catch (err) {
       
      }
    },

    async obtener() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      
      try {
        const res = await this.$axios.get(
          "api/sgcnegocio/recursos/buscarRecursosPorUsuario/" + user
        );
    

        this.idForm = res.data._id;
        this.recursoInterno = res.data.recursos.RecursosInternos;
        (this.serviciosSociales = res.data.recursos.SociosNegocios),
        (this.suministros = res.data.recursos.ServiciosEscenciales);
        this.flag = true;
    
        this.cambiarDessert();
      } catch (err) {
        
         this.flag = false;
      }
    },
    cambiarDessert() {
      if (this.radios === "Uno") {
        this.desserts = this.recursoInterno;
      } else if (this.radios === "Dos") {
        this.desserts = this.suministros;
      } else {
        this.desserts = this.serviciosSociales;
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient")._id,
          
          tipoRecurso: this.editItem.tipoRecurso,
          nombre: this.editItem.nombre,
          contenido: this.editItem.contenido
         
        };
        const res = await this.$axios.delete(
          `api/sgcnegocio/recursos/${this.editedItem._id}`,
          datos
        );
       
        this.deleteItemConfirm();
        this.obtener();
      } catch (err) {
    
      }
    },

    agregarEquipo() {
      this.desserts.push({
        tipoRecurso: this.editedItem.tipoRecurso,
        nombre: this.editedItem.nombre,
        contenido: this.editedItem.contenido
     
      });
    },
    actualizarData() {
      if (this.radios === "Uno") {
        this.recursoInterno.slice();
        this.recursoInterno = this.desserts;
      } else if (this.radios === "Dos") {
        this.suministros.slice();
        this.suministros = this.desserts;
      } else {
        this.serviciosSociales.slice();
        this.serviciosSociales = this.desserts;
      }
    },
    enviar() {
      this.desserts.push({
        nombre: this.editedItem.nombre,
        contenido: this.editedItem.contenido
      });
      this.actualizarData();
      this.close();
      (this.nombre = ""), (this.contenido = "");
    },
    async enviarForm() {
     

     
  
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.post("api/sgcnegocio/recursos", {
            usuario: user,
            recursos: {
              RecursosInternos: this.recursoInterno,
              SociosNegocios: this.serviciosSociales,
              ServiciosEscenciales: this.suministros
            }
          });
          this.$notifier.showMessage({
            content: "Registro añadido con éxito",
            color: "success"
          });
          this.obtener()
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No se pudo crear el registro",
            color: "error"
          });
        }
      
    },
     async updateForm() {
     

   
     
        try {
          let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
          await this.$axios.put("api/sgcnegocio/recursos/" + this.idForm, {
            usuario: user,
            recursos: {
              RecursosInternos: this.recursoInterno,
              SociosNegocios: this.serviciosSociales,
              ServiciosEscenciales: this.suministros
            }
          });
          this.$notifier.showMessage({
            content: "Registro actualizado con éxito",
            color: "success"
          });
        } catch (error) {
         
          this.$notifier.showMessage({
            content: "No fue posible actualizar el registro",
            color: "error"
          });
        }     
    }


  }
};
</script>
