<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align: center">Revisión Continua y Mejoras</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            * Para revisar y verificar que tu PCN sea efectivo debes hacer un
            monitoreo de las actividades del mismo antes, durante y después de
            un desastre. Para esto debes hacerte las siguientes preguntas:
          </p>
          
            <li>
              Las actividades de continuidad (que fueron decididas y
              planificadas) ¿se están llevando a cabo efectivamente?
            </li>
            <li>¿Hay espacio para mejorar alguno de las actividades?</li>
            <li>
              ¿Ha habido algún cambio en las circunstancias internas o
              externas que deben ser tomadas en cuenta?
            </li>
            <li>
              ¿Hay algún area o asunto que no ha sido incluido en el PCN que
              debería serlo?
            </li>
         
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color: black"> PCN Tabla de evaluación</v-tab>
            <v-tab style="color: black">Revisión de la Gerencia</v-tab>
   
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <PCN></PCN>
           </v-tab-item>
        <v-tab-item>
          <Gerencia></Gerencia>
        </v-tab-item>
       
      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>
import PCN from "../../components/paso10_PCN";
import Gerencia from "../../components/paso10_revisionGerencia"
export default {
  layout: "userUniversidad",
  components: { PCN, Gerencia},
  data() {
    return {
      tabs: null,
      id: "",
    };
  },
  methods: {},
};
</script>
