<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align: center">Practicar tu plan garantiza el éxito</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
       
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            
            <v-tab style="color: black">Plan de Prueba</v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
    
        <v-tab-item>
          <Paso9practica></Paso9practica>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>
import Paso9teoria from "../../components/componentsVicente/paso9_Teoria.vue";
import Paso9practica from "../../components/componentsVicente/paso9_1_PlanDePrueba.vue";
export default {
  layout: "userUniversidad",
  components: { Paso9teoria, Paso9practica },
  data() {
    return {
      tabs: null,
      id: ""
    };
  },
  methods: {}
};
</script>
