<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Estar Preparado Financieramente</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            Reconocer la situación Financiera de la empresa en caso de
            emergencia y anticipar medidas necesarias para evitar la quiebra en
            caso de interrumpir los ingresos.
          </p>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" show-arrows centered>
            <v-tab style="color:black">Fondos Disponibles</v-tab>
            <v-tab style="color:black">Costos de Recuperación</v-tab>
            <v-tab style="color:black">Gastos Corrientes</v-tab>
            <v-tab style="color:black">Hoja de Estatus Financiero</v-tab>
            <v-tab v-if="pintar" style="color:black"
              >Hoja de Medidas Financieras</v-tab
            >
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <FondosDisponibles></FondosDisponibles>
        </v-tab-item>

        <v-tab-item>
          <Recuperacion></Recuperacion>
        </v-tab-item>
        <v-tab-item>
          <Gastos />
        </v-tab-item>
        <v-tab-item>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-container>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <h3>Fondos Disponibles (A)</h3>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                      <v-text-field
                        :value="fondosDisponiblesA"
                        label="Solo"
                        solo
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <h3>Costo de Recuperacion (B)</h3>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                      <v-text-field
                        :value="costoRecuperacionB"
                        label="Solo"
                        solo
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <h3>Gastos Ordinarios (C)</h3>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                      <v-text-field
                        :value="gastosOrdinariosC"
                        label="Solo"
                        solo
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-divider
                    style="background: black;margin-bottom: 25px"
                  ></v-divider>
                  <v-row>
                    <v-col cols="6" sm="6" md="6">
                      <h3>Balance = (A-B-C)</h3>
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                      <v-text-field
                        :value="balanceABC"
                        label="Solo"
                        solo
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-chip
                      v-if="balanceABC <= 0"
                      large
                      class="ma-2"
                      color="orange"
                      outlined
                    >
                      Falta de Fondos, se deben tomar medidas financieras para
                      cubrir <br />
                      esa falta
                    </v-chip>

                    <v-chip v-else class="ma-2" large color="green" outlined>
                      Se cuenta con los fondos necesarios para recuperarse de la
                      interrupción
                    </v-chip>
                  </v-row>
                </v-container>
              </v-col>
              <v-col
                md="6"
                sm="6"
                cols="12"
                class="d-flex flex-column align-center justify-space-around"
              >
                <img
                  style="width: 80%"
                  src="/statusFinanciero.svg"
                  alt="John"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>
        <v-tab-item>
          <Medidas></Medidas>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>
import FondosDisponibles from "../../components/paso8_FondosDisponibles.vue";
import Recuperacion from "../../components/paso8_CostoRecuperacion.vue";
import Gastos from "../../components/paso8-3.vue";
import FlujoCaja from "../../components/componentsVicente/paso8_StatusFinanciero.vue";
import Medidas from "../../components/financieras.vue";
export default {
  layout: "userUniversidad",
  components: { Recuperacion, FlujoCaja, FondosDisponibles, Gastos, Medidas },
  data() {
    return {
      pintar: false,
      tabs: null,
      id: "",

      result: true,
      fondosDisponiblesA: 0,
      costoRecuperacionB: 0,
      gastosOrdinariosC: 0,
      balanceABC: 0
    };
  },
  methods: {
    async recuperarStatus() {
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        const res = await this.$axios.get(
          `api/sgcnegocio/estatus/buscarEstatusPorUsuario/${user}`
        );

        this.costoRecuperacionB = res.data.costoRecuperacionB;
        this.fondosDisponiblesA = res.data.fondosDisponiblesA;
        this.gastosOrdinariosC = res.data.gastosOrdinariosC;
        this.balanceABC = res.data.balanceABC;

        if(this.balanceABC <= 0){
          this.pintar = true
         
        } else {
           this.pintar = false
        }

      } catch (error) {}
    }
  },
  mounted() {
    this.recuperarStatus();
  }
};
</script>
