<template>
    <v-card elevation="3">
      <v-responsive :aspect-ratio="16 / 9">

    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Actividades Prioritarias de la Organización</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
         
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered show-arrows>
            <v-tab style="color:black">Niveles de Impacto </v-tab>
            <v-tab style="color:black">Periodo Máximo Tolerable a Interrupción </v-tab>
            <v-tab style="color:black">Actividades Priorioritarias y tiempos ideales de Recuperación </v-tab>
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <Impacto></Impacto>
        </v-tab-item>
        <v-tab-item>
          <Tolerancia></Tolerancia>
        </v-tab-item>
        <v-tab-item>
          <Estimado></Estimado>
        </v-tab-item>
      </v-tabs-items> 
    </v-container>
      </v-responsive>
  </v-card>
</template>


<script>
import Tolerancia from "../../components/paso2_tolerancia.vue"
import Impacto from "../../components/paso2_impacto.vue"
import Estimado from "../../components/paso2_tiempoEstimado.vue"
export default {
    layout: "userUniversidad",
    components: {Tolerancia, Impacto, Estimado},
    data() {
    return {
      tabs: null,
    
    };
  },
}
</script>