<template>
  <v-layout align-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        sort-by="monto"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Fondos Disponibles</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon-cb="search"
              label="Búsqueda"
              single-line
              hide-details
            >
            </v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Insertar Nuevo Fondo
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                         <v-select
                          :items="items"
                          label="Tipo"
                          v-model="editedItem.tipo"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.monto"
                          label="Monto"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.otros"
                          label="Otros"
                        ></v-text-field>
                      </v-col>
                  <!--     <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="editedItem.correo"
                          label="Otros"
                        ></v-text-field>
                      </v-col> -->
                     <!--  <v-col
                            cols="12"
                            sm="6"
                            md="4"
                          >
                            <v-text-field
                              v-model="editedItem.servicio"
                              label="Función y /o servicio"
                            ></v-text-field>
                          </v-col> -->
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="enviar" v-if="editedIndex===-1">
                    Guardar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="actualizarDat" v-else>
                    Editar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >¿Estás seguro que deseas borrarlo?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancelar</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="eliminarDat"
                    >Aceptar</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <!-- <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon> -->
        </template>
        <template v-slot:no-data>
          <v-btn color="primary"> No hay contactos </v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      desserts: [],
      dialog: false,
      dialogDelete: false,
      id: "",
      tipo: "",
      monto: 0,
      otros: "",
      /* correo: "",
      servicio: "", */
      items: [
        "Efectivo y depositos",
        "Póliza de Seguros",
        "Otros",
        ,
     
      ],
      headers: [
        {
          text: "Tipo",
          align: "start",
          sortable: false,
          value: "tipo",
        },
        { text: "Monto", value: "monto" },
        { text: "Otros", value: "otros" },
        /* { text: "Correo Electrónico", value: "correo" },
        { text: "Función y /o servicio", value: "servicio" }, */
        { text: "Acciones", value: "actions", sortable: false },
      ],
      search: "",
      editedIndex: -1,
      editedItem: {
        tipo: "",
        monto: 0,
        otros: "",
        /* correo: "",
        servicio: "", */
      },
        defaultItem: {
        tipo: "",
        monto: 0,
        otros: "",
        /* correo: "",
        servicio: "", */
        
      },
    };
  },
   mounted() {
    this.obtener();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Fondo" : "Editar Fondo";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
 
  methods: {
    
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },


    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    guardarMod() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push({
        tipo: this.tipo,
        monto: this.monto,
        otros: this.otros,
        /* correo: this.correo,
        servicio: this.servicio, */
        });
      }
      this.close();
    },
    async actualizarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient").usuario.montoUsuario,
          tipo: this.editedItem.tipo,
          monto: this.editedItem.monto,
          otros: this.editedItem.otros,
          /* correo: this.editedItem.correo,
          servicio: this.editedItem.servicio, */
        };

        await this.$axios.put(`aapi/sgcnegocio/fondosDisponibles${this.editedItem._id}`, datos)
        this.guardarMod();
      } catch (err) {
        console.log(err);
      }
    },
     async obtener() {
      let user = this.$cookies.get("dataClient").usuario.montoUsuario
      try {
        const resp = await this.$axios.get(`api/sgcnegocio/fondosDisponibles/${user}`)
        this.desserts = resp.data.fondosDistribucion
      } catch (err) {
        console.log(err);
      }
    },

    async eliminarDat() {
      try {
        const datos = {
          user: this.$cookies.get("dataClient")._id,
          tipo: this.editItem.tipo,
          monto: this.editItem.monto,
          otros: this.editItem.otros,
          correo: this.editItem.correo,
          servicio: this.editItem.servicio,
        };
        const res = await this.$axios.delete(`api/sgcnegocio/fondosDisponibles${this.editedItem._id}`,
          datos
        )
        this.deleteItemConfirm()
      } catch (err) {
        console.log(err)
      }
    },
    agregarEquipo() {
      this.desserts.push({
        tipo: this.editedItem.tipo,
        monto: this.editedItem.monto,
        otros: this.editedItem.otros,
     /*    correo: this.editedItem.correo,
        servicio: this.editedItem.servicio, */
        
      })
    },
    async enviar() {
    try {
        const data = {
          user: this.$cookies.get("dataClient").usuario.montoUsuario,
          tipo: this.editedItem.tipo,
          monto: this.editedItem.monto,
          otros: this.editedItem.otros,
          correo: this.editedItem.correo,
          servicio: this.editedItem.servicio,
        }
        await this.$axios.post("api/sgcnegocio/fondosDisponibles", data)
        this.agregarEquipo()
        this.dialog = false
        
      } catch (err) {
        console.log(err)
      }
       
    },
  },
};
</script>