<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Respuesta de Emergencia ante el Desastre</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            Se deben identificar multiples medios de comunicación para que los empleados puedan mantenerse comunicados con la compañía
          </p>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered show-arrows>
            <v-tab style="color:black">Evaluación y plan de rescate</v-tab>
            <v-tab style="color:black">Centro de Operación de Emergencias</v-tab>
            <v-tab style="color:black"> Lista de Contactos de Emergencia </v-tab>
            <v-tab style="color:black"> Lista de Contactos Externos</v-tab>
            <v-tab style="color:black"> Lista de Acopio Preventivo para Desastre</v-tab>
            <v-tab style="color:black">Formulario de evaluación de daños</v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
       <Rescate></Rescate>
        </v-tab-item>
        <v-tab-item>
         <COE></COE>
        </v-tab-item>
        <v-tab-item>
          <Emergencia></Emergencia>
        </v-tab-item>
        <v-tab-item>
          <ContactosEmergencia />
         
        </v-tab-item>
        <v-tab-item>
<ListaAcopio></ListaAcopio>
        </v-tab-item>
        <v-tab-item>
         <EvaluacionDanos></EvaluacionDanos>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>

import Rescate from "../../components/componentsVicente/paso6_evaluacionRescate.vue"
import COE from "../../components/coe.vue"
import ContactosEmergencia from '../../components/ContactosEmergencia.vue'
import Emergencia from "../../components/paso6_listaEmergencia.vue"
import ListaAcopio from "../../components/paso6_ListaAcopio.vue"
import EvaluacionDanos from "../../components/pasoSeisSeis.vue"


export default {
  layout: "userUniversidad",
  components: {Emergencia, COE, Rescate, ContactosEmergencia, EvaluacionDanos, ListaAcopio},
  data() {
    return {
      tabs: null,
      id: "",
    };
  },
  methods: {
   
   
  },
  
};
</script>
