<template>
  <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align: center">
            Estrategias para Reanudar Operaciones con Prontitud
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          <p>
            Estrategias de Continuidad de Negocios para resumir las Actividades
            Prioritarias dentro de los Tiempos Ideales de Recuperación.
          </p>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color: black"
              >Resumen de Estrategias de Continuidad de Negocios</v-tab>
           
           
           <v-tab style="color: black"
              >Hoja de Planificación de Estrategias de Continuidad</v-tab
            > 
          </v-tabs>

        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <v-tab-item> 

       <contNegocio></contNegocio>
        
        </v-tab-item>
        <v-tab-item>
          <estrategiaContinuidad></estrategiaContinuidad>
        </v-tab-item> 

      </v-tabs-items>
    </v-container>
  </v-card>
</template>

<script>
import contNegocio from "../../components/contNegocio71.vue"
import estrategiaContinuidad from "../../components/componentsVicente/estrategia72.vue"

export default {
  layout: "userUniversidad",
    components: {contNegocio, estrategiaContinuidad},
  data: () => ({
      dialog: false,
      id:"",
      tabs: null,
    }),
};
</script>