<template>
  <v-container>
    <v-row>
      <v-layout align-start>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="desserts"
            item-key="name"
            class="elevation-1"
            :search="search"
            :custom-filter="filterOnlyCapsText"
          >
            <template v-slot:top>
              <v-text-field
                v-model="search"
                label="Buscar Termino"
                class="mx-4"
              ></v-text-field>
            </template>

            <!-- <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template> -->

            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userUniversidad",
  data() {
    return {
      load: true,
      search: "",
      headers: [
        {
          text: "Terminos",
          align: "start",

          value: "nombre"
        },
        {
          text: "Definición",
          value: "definicion"
        },

        // { text: "Acciones", value: "actions", sortable: false }
      ],
      editedItem: {
        nombre: "",
        definicion: ""
      },
      defaultItem: {
        nombre: "",
        definicion: ""
      },
      desserts: [],
      editedIndex: -1,
      dialog: false,
      dialogDelete: false
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Contacto" : "Editar Registro";
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    guardarMod() {
      Object.assign(this.desserts[this.editedIndex], this.editedItem);

      this.close();
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      console.log("que es " + this.desserts.indexOf(item));
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    agregarRiesgo() {
      this.desserts.push({
        nombreRiesgo: this.editedItem.nombreRiesgo,
        impacto: this.editedItem.impacto,
        probabilidad: this.editedItem.probabilidad,
        prioridad: parseInt(this.editedItem.prioridad, 10)
      });
    },

    async enviarRiesgo() {
      if (!this.editedItem.nombre || !this.editedItem.definicion) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          await this.$axios.post(`api/sgcnegocio/terminos`, {
            nombre: this.editedItem.nombre,
            definicion: this.editedItem.definicion
          });
          this.recuperarPreguntas();
          this.$notifier.showMessage({
            content: "Ingreso Exitoso",
            color: "success"
          });
          this.close();
        } catch (error) {
          console.log(error);

          this.$notifier.showMessage({
            content: "No se pudo añadir la pregunta , intentelo de nuevo",
            color: "error"
          });
          this.close();
        }
      }
      this.dialog = false;
    },
    async actualizarRiesgo() {
      if (!this.editedItem.nombre || !this.editedItem.definicion) {
        this.$notifier.showMessage({
          content: "Rellene todos los datos",
          color: "error"
        });
      } else {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        try {
          console.log(this.editedItem._id);
          await this.$axios.put(`api/sgcnegocio/terminos`, {
            _id: this.editedItem._id,
            nombre: this.editedItem.nombre,
            definicion: this.editedItem.definicion
          });

          this.guardarMod();

          this.$notifier.showMessage({
            content: "Se edito con exito",
            color: "success"
          });
        } catch (error) {
          console.log(error);
          this.$notifier.showMessage({
            content: "No se pudo actualizar con exito, intente de nuevo",
            color: "error"
          });
        }
      }
    },
    async eliminarRiesgo() {
      try {
        console.log(this.editedItem._id);
        await this.$axios.delete(
          `api/sgcnegocio/terminos/${this.editedItem.nombre}`
        );

        this.desserts.splice(this.editedIndex, 1);

        console.log(this.editedIndex);

        this.closeDelete();
        this.$notifier.showMessage({
          content: "El elemento se elimino con exito",
          color: "success"
        });
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "No se pudo eliminar el elemento",
          color: "error"
        });
      }
      this.dialogDelete = false;
    },
    async recuperarPreguntas() {
      this.desserts.slice();
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(`api/sgcnegocio/terminos`);
        console.log(res);
        this.desserts = res.data;
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "Error al recuperar la información",
          color: "error"
        });
      }
    }
  },

  mounted() {
    this.recuperarPreguntas();
  }
};
</script>
