<template>
  <v-snackbar v-model="snackbar" absolute top right :color="color">
    <span>{{mensaje}}</span>
    <v-icon dark>
      {{icon}}
    </v-icon>
  </v-snackbar>
</template>


<script>
export default {
    props: ['icon','mensaje','color']
}
</script>
