<template>
  <div>
    <nuxt />
    <Snackbar />
  </div>
</template>

<script>
import Snackbar from "~/components/layouts/Snackbar";

export default {
  components: {
    Snackbar
  }
};
</script>

<style scoped>
.nuxt-link-active {
  color: red;
}
</style>
