<template>
   
    <div>
    <v-simple-table dark>
       
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-center">
            Paso
          </th>
          <th class="text-center">
            Asunto por revisar y verificar
          </th>
          <th class="text-center">
            #formulario
          </th>
           <th class="text-center">
            En curso
          </th>
           <th class="text-center">
            Cambios en el entorno del negocio
          </th>
           <th class="text-center">
            Temas por revisar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in desserts"
          :key="item.name"
        >      
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.calories }}</td>
          <td>{{ item.prueba }}</td>
        </tr>
      </tbody>
    </template>
    
  </v-simple-table>
  <v-text-field id="texto" v-model="nuevotexto"></v-text-field>
  <button @click="agregarFruta">Agregar</button>
  </div>
  
  
    
</template>


<script>
export default {
  layout: "user",
  data () {
      return {
        desserts: [
          {
            id: '1',  
            name: 'Alcance',
            calories: '',
            
          },
          {
            id: '2',
            name: 'Liderazgo',
            calories: '2-1',
          },
          {
            id: '3',
            name: 'Terminos y definiciones',
            calories: '3-1',
          },
          {
            id: '4',
            name: 'Lista de contacto',
            calories: '4-1',
          },
          {
            id: '',
            name: 'Evaluacion de daños',
            calories: '4-2',
          },          
          {
            id: '5',
            name: 'Recursos',
            calories: '5-1',
          },
          {
            id: '',
            name: 'BIA Cuestionario',
            calories: '6-1',
          },
         {
            id: '',
            name: 'BIA Recursos',
            calories: '6-2',
          },
          {
            id: '6',
            name: 'BIA Estrategias',
            calories: '6-3',
          },
          {
            id: '',
            name: 'BIA Lista de amenazas',
            calories: '6-4',
          },
          {
            id: '',
            name: 'BIA Control y automatizacion',
            calories: '6-5',
          },
                   
         {
            id: '7',
            name: 'Chequeo comunicación, respuesta, recuperación, ejercicios y ensayos, monitoreo en gerencia',
            calories: '7-1',
          },
          {
            id: '',
            name: 'Chequeo comunicación, respuesta, recuperación, ejercicios y ensayos, monitoreo en proceso',
            calories: '7-2',
          },
          {
            id: '8',
            name: 'Revision',
            calories: '8-1',
          },
          {
            id: '9',
            name: 'Auditoria de la capacitación',
            calories: '9-1',
          },
          {
            id: '',
            name: 'Lista de Control SGCN',
            calories: '10-1',
          },
          {
            id: '10',
            name: 'Niveles de continuidad del Negocio',
            calories: '10-2',
          },
          {
            id: '',
            name: 'Informe de simulacros',
            calories: '10-3',
          },
        
        
        
        ],
        nuevotexto:''
      }
  
  }, 
       methods:{
            agregarFruta(){
                this.desserts.push({
                     id:0, name:'ss',calories: this.nuevotexto
                })
            }
        }   
  

};
</script>