<template>
  <v-card>
    <v-responsive :aspect-ratio="16 / 9">
      <v-card-title justify-center>EVALUACION DE DESEMPEÑO</v-card-title>

      <v-row align="center" justify="center" id="ingreso">
        <v-col cols="12" sm="10">
          <v-card-text class="elevation-12" id="card-in">
            <v-form>
              <p>
                1. Existe el plan definido del proceso de "capacitación" para
                los colaboradores:
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>
              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>

              <p>
                2. El proceso de "capacitación" contiene un diagnóstico previo
                sobre las necesidades requeridas por la organización
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>
              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>

              <p>
                3. Se realiza un seguimiento post-capacitación de los
                conocimientos adquiridos por parte de los colaboradores.
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>
              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>

              <p>
                4. El proceso de "capacitación" se orienta en base a la
                planificación estratégica.
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>
              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>

              <p>
                5. Existe un control de asistencia de los colaboradores en las
                capacitaciones ejecutadas
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>
              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>

              <p>
                6. La organización implementa programas de beneficios o
                incentivos a los colaboradores en conjunto con los resultados
                post-capacitaciones.
              </p>
              <v-card-actions>
                <v-checkbox v-model="checkbox" :label="'Si'"></v-checkbox>
                <v-checkbox v-model="checkbox" :label="'No'"></v-checkbox>
              </v-card-actions>

              <v-text-field
                label="Observaciones"
                name="lider"
                outlined
                rounded
                v-model="lider"
                type="text"
                color="primary"
              >
              </v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn id="btn-ingreso" color="secondary" @click="enviar"
              >Enviar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn id="btn-ingreso" color="secondary" @click="enviar"
              >Siguiente
            </v-btn>
          </v-card-actions>
        </v-col>
      </v-row>
      <div id="tabla-datos" class="container"></div>
    </v-responsive>
  </v-card>
</template>
<script>
export default {
  layout: "user",
};
</script>
