<template>
  <v-container class="container">
    <v-row class="d-flex flex-row align-center justify-space-around ">
      <v-col class="unr" cols="12" sm="12" md="3">
        
          <h1 >Sistema de Gestión de la Continuidad del Negocio</h1>
          <h2>Seguridad de la Información</h2>
         
      
      </v-col>
      <v-col cols="12" sm="12" md="9"  class="d-flex flex-column align-center justify-space-around">
        
            <img  style="width: 100%" src="/inicio.svg" />
    
        
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "user"
};
</script>

<style>

.unr{
  color: #000
}




</style>
