<template>
  <v-app>
    <v-content class="fondo">
      <v-container class="fill-height" fluid>
        <v-row aling="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window class="contenedor">
                <v-row class="d-flex">
                  <v-col
                    class="d-flex flex-column align-end justify-space-around order-2"
                    cols="12"
                    sm="12"
                    md="6"
                    lg="6"
                  >
                    <img
                      class="imagen"
                      src="https://bizroulette.app/static/media/undraw_unlock_24mb.9b0de180.svg"
                    />
                  </v-col>
                  <v-col cols="12" sm="12" md="6" lg="6">
                    <v-card-text
                      class="d-flex flex-column justify-space-around  "
                    >
                      <h2
                        class="
                            text-center
                            display-2
                            secondary--text
                            text--accent-3
                            mb-5
                          "
                      >
                        Iniciar Sesión
                      </h2>
                      <div class="text-center mb-5" mt-4>
                        <v-btn class="mx-2" text>
                          <v-icon>mdi-facebook</v-icon>
                        </v-btn>
                        <v-btn class="mx-2" text>
                          <v-icon>mdi-instagram</v-icon>
                        </v-btn>
                        <v-btn class="mx-2" text>
                          <v-icon>mdi-twitter</v-icon>
                        </v-btn>
                      </div>
                      <h4 class="text-center mlt-4">
                        Ingrese su correo electrónico
                      </h4>
                      <v-form>
                        <v-text-field
                          label="Usuario"
                          name="Usuario"
                          v-model="usuario"
                          type="text"
                          color="secondary"
                        />
                        <v-text-field
                          id="password"
                          label="Contraseña"
                          name="Contraseña"
                          v-model="contra"
                          type="password"
                          color="secondary"
                        />
                      </v-form>
                      <h3 class="text-center mt-3 mb-5">
                        ¿Olvidaste tu contraseña?
                      </h3>
                      <div class="text-center mt-3">
                        <v-btn
                          @click="enviar"
                          rounded
                          color="secondary"
                          elevation="13"
                          dark
                          >INGRESAR</v-btn
                        >
                      </div>
                    </v-card-text>
                  </v-col>
                </v-row>
               
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import Snackbar from '~/components/layouts/Snackbar'
export default {
  components: {
    Snackbar
  },
  layout: "login",
  data() {
    return {
      alert: false,
      usuario: "",
      contra: "",
      mensaje: "Usuario incorrecto",
      tipoAlert: "error",
      value: true
    };
  },
  methods: {
    async enviar() { 
      try {
        const respuesta = await this.$axios.post("api/sgcnegocio/iniciarSesion", {
          nombreUsuario: this.usuario,
          contrasena: this.contra
        })
        console.log(respuesta)
        if (!respuesta.data && !respuesta.data.nombre) {
          this.alert = true
          this.usuario = ''
          this.contra = ''
  
        } else {
          this.$store.commit('session/logIn', respuesta.data)
          this.alert = false
          let type = respuesta.data.usuario.role

          if(type === "ADMIN"){
            this.$router.push('/user')
          }else if(type === "DEPARTAMENTO") {
            this.$router.push('/userDepartamento')
          } else {
            this.$router.push('/userUniversidad')
          }

          
    
        }
      } catch (err) {
        console.log(err)
        console.log("entro")
         this.usuario = ''
         this.contra = ''
         this.$notifier.showMessage({
            content: "Corrija los campos del formulario para continuar",
            color: "success",
          });
      }
    }
   
  }
};
</script>

<style>
.imagen {
  width: 100%;
}
.contenedor {
  padding: 30px;
}
.fondo {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.prueba {
  background: red;
}
</style>
