<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="12" sm="12">
        <h1 class="text-center" style="margin-bottom: 30px">
          Análisis de impacto de negocio (BIA, por sus siglas en inglés)
        </h1>
      </v-col>
    </v-row>
    <v-divider style="margin-bottom: 50px"></v-divider>

    <v-row>
      <v-timeline :dense="$vuetify.breakpoint.smAndDown">
        <v-timeline-item color="purple lighten-2" fill-dot right>
          <v-card>
            <v-card-title class="purple lighten-2">
              <v-icon dark size="42" class="mr-4">
                mdi-magnify
              </v-icon>
              <h2 class="text-h5 white--text font-weight-light">
                Paso 1 - Identificar los procesos afectados por ciertos eventos.
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  <strong>RTO: </strong> Indica la rapidez con la que necesita recuperarse de un tiempo de inactividad.  <br>
<strong>RPO: </strong> Define la frecuencia con la que se necesitan hacer copias de seguridad. <br>
<strong>Procesos: </strong> Todos aquellas actividades que se ven afectadas por ciertos eventos en toda la empresa.  <br>
                </v-col>
                <v-col class="hidden-sm-and-down text-right" md="4">
                  <img
                    style="width: 90%"
                    src="/lider.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="amber lighten-1" fill-dot left small>
          <v-card>
            <v-card-title class="amber lighten-1 justify-end">
              <h2 class="text-h4 mr-4 white--text font-weight-light">
                Paso 2 - Identificar los procesos que requieren Mitigación
              </h2>
              <v-icon dark size="42">
                mdi-home-outline
              </v-icon>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En el Paso 2, considerarás cuál es el proceso que sustenta a tu empresa. En caso
de que un desastre u accidente afecte las operaciones de tu empresa, ¿Cuál es el proceso cuya recuperación consideras prioritaria? 
                </v-col>
                <v-col cols="12" md="4">
                 <img
                    style="width: 90%"
                    src="/paso2_time.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="cyan lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="cyan lighten-1">
              <v-icon class="mr-4" dark size="42">
                mdi-email-outline
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 3 - Cuestionario
              </h2>
            </v-card-title>
            <v-container>
             <v-row>
                <v-col cols="12" md="8">
                  Un cuestionario de 12 preguntas es de vital importancia para monitorear si las
funcionalidades del BIA se están cumpliendo y si cada miembro del departamento esta al tanto
de los conceptos tratados y como reaccionar ante un imprevisto que afecte a la normal
funcionalidad de la organización.
                </v-col>
                <v-col cols="12" md="4">
                 <img
                    style="width: 90%"
                    src="/paso3_recursos.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="red lighten-1" fill-dot left small>
          <v-card>
            <v-card-title class="red lighten-1 justify-end">
              <h2 class="text-h4 mr-4 white--text font-weight-light">
                Paso 4 - Estrategias
              </h2>
              <v-icon dark size="42">
                mdi-account-multiple-outline
              </v-icon>
            </v-card-title>
            <v-container>
              <v-row>
                
                <v-col cols="12" md="8">
                  En el Paso 4, debes identificar y definir las estrategias que se aplicará para el mejorarmiento del desempeño de la empresa.
                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/nature.svg"
                    alt="John"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>

        <v-timeline-item color="green lighten-1" fill-dot right>
          <v-card>
            <v-card-title class="green lighten-1">
              <v-icon class="mr-4" dark size="42">
                mdi-phone-in-talk
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 5 - Amenazas
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En este paso, seleccionarás las amenazas, que posiblemente afecten al departamento,
                  bajo una valoración de riesgo, Los tipos de amenaza pueden ser desde desastres naturales hasta de origen tecnológico industrial. 

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/Seguridad_paso5.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>
        <v-timeline-item color="red lighten-1" fill-dot left>
          <v-card>
            <v-card-title class="red lighten-1">
              <v-icon class="mr-4" dark size="42">
                mdi-phone-in-talk
              </v-icon>
              <h2 class="text-h4 white--text font-weight-light">
                Paso 6 - Controles Alineados
              </h2>
            </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12" md="8">
                  En este paso, se podrá llevar un control más personal acerca de los diferentes
                  recursos disponibles en el departamento en el que se encuentre. 

                </v-col>
                <v-col class="hidden-sm-and-down" md="4">
                  <img
                    style="width: 90%"
                    src="/Seguridad_paso5.svg"
                    alt="John"
                  />
                </v-col>

              </v-row>
            </v-container>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userDepartamento"
};
</script>