<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Controles </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color:black"> Controles alineados a los impactos </v-tab>
            <v-tab style="color:black"> Periocidad de acciones de control de recursos </v-tab>
            <v-tab style="color:black"> Automatización de controles en recursos </v-tab>
             <v-tab style="color:black"> Eficacia Basada en Controles de Recurso </v-tab>
           
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        
        <v-tab-item>
          <BiaSieteUno></BiaSieteUno>
        </v-tab-item>
         <v-tab-item>
          <BiaSieteDos></BiaSieteDos>
        </v-tab-item>
         <v-tab-item>
          <BiaSieteTres></BiaSieteTres>
        </v-tab-item>
        <v-tab-item>
          <BiaSieteCuatro></BiaSieteCuatro>
        </v-tab-item>
    
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>



<script>

import BiaSieteUno from "../../components/componentsVicente/bia_sieteUno.vue"
import BiaSieteDos from "../../components/componentsVicente/bia_sieteDos.vue"
import BiaSieteTres from "../../components/componentsVicente/bia_sieteTres.vue"
import BiaSieteCuatro from "../../components/componentsVicente/bia_sieteCuatro.vue"


export default {
     layout: "userDepartamento",
     components: {BiaSieteUno, BiaSieteDos,  BiaSieteTres, BiaSieteCuatro},
     data() {
    return {
      tabs: null,
      id: "", 
    };
  },
}
</script>