<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2>Cuestionario</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="6"
        sm="6"
        md="6"
        class="d-flex flex-column align-center justify-space-around"
      >
        <img style="width: 45%" src="/cuestionario.svg" alt="John" />
      </v-col>
      <v-col cols="0" sm="6" md="6">
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <h3>Escala</h3>
          </v-col>

          <v-col cols="6" sm="6" md="6">
            <h3></h3>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-chip color="red" text-color="black">
              <h4>1</h4>
            </v-chip>
          </v-col>

          <v-col cols="6" sm="6" md="6">
            <p>Desconozco</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-chip color="orange" text-color="black">
              <h4>2</h4>
            </v-chip>
          </v-col>

          <v-col cols="6" sm="6" md="6">
            <p>Totalmente en desacuerdo</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-chip color="yellow" text-color="black">
              <h4>3</h4>
            </v-chip>
          </v-col>

          <v-col cols="6" sm="6" md="6">
            <p>Desacuerdo</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-chip color="lead" text-color="black">
              <h4>4</h4>
            </v-chip>
          </v-col>

          <v-col cols="6" sm="6" md="6">
            <p>De acuerdo</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" sm="4" md="4">
            <v-chip color="green" text-color="black">
              <h4>5</h4>
            </v-chip>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <p>Totalmente de acuerdo</p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-divider style="margin-bottom: 20px"></v-divider>

    <v-row v-for="ques of question" v-bind:key="ques.id">
      <v-col cols="10" sm="10" md="8">
        <v-text-field
          :value="ques.pregunta"
          label="Solo"
          solo
          readonly
        ></v-text-field>
      </v-col>
      <v-col cols="2" sm="2" md="4">
        <v-slider
          v-model="ques.nota"
          :color="getColor(ques.nota)"
          label="Calificación"
          hint="Se honesto"
          min="0"
          max="5"
          thumb-label
        ></v-slider>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn
          v-if="!flag"
          id="btn-ingreso"
          color="secondary"
          :loading="isLoading"
          @click="enviar"
          >Enviar Formulario</v-btn
        >
        <v-btn v-else id="btn-ingreso" color="secondary" @click="actualizar"
          >Actualizar Formulario</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "userDepartamento",
  data() {
    return {
      flag: false,
      bandera: [],
      idForm: "",
      envioFormulario: [],
      rules: {
        age: [val => val < 4 || `I don't believe you!`]
      },
      question: []
      // {
      //   pregunta:
      //     "1 .-Se ha definido el Propósito, la Meta y el Objetivo de la Gestión de la Continuidad del Servicio.",
      //   id: 1,
      //   nota: 2
      // },
      // {
      //   pregunta:
      //     "2 .-Se ha definido el alcance de la gestión de la continuidad del servicio",
      //   id: 2,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "3 .-Se ha definido el valor de la gestión de la continuidad del servicio para el negocio.",
      //   id: 3,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "4.- Se ha definido el Propósito, la Meta y el Objetivo de la Gestión de la Continuidad del Servicio.",
      //   id: 4,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "5.- Se ha definido Políticas, Principios y conceptos básicos de Gestión de la Continuidad del Servicio.",
      //   id: 5,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "6.- Se ha definido el Propósito, la Meta y el Objetivo de la Gestión de la Continuidad del Servicio.",
      //   id: 6,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "7.- En la etapa 1 de la gestión de la continuidad del servicio: se define la iniciación",
      //   id: 7,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "8.-la etapa 2 de la gestión de la continuidad del servicio: se definen los requisitos y la estrategia",
      //   id: 8,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "9.- En la etapa 3 de la gestión de la continuidad del servicio: se define la implementación",
      //   id: 9,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "10.- En la etapa 4 de la gestión de la continuidad del servicio: se define la operación en curso",
      //   id: 10,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "11.- Se han definido KPI de gestión de la continuidad del servicio",
      //   id: 11,
      //   nota: 0
      // },
      // {
      //   pregunta:
      //     "12.- Se han definido los desafíos de la gestión de la continuidad del servicio, los factores críticos de éxito y los riesgos.",
      //   id: 12,
      //   nota: 0
      // }

      // "Se ha definido las actividades, los métodos y las técnicas del proceso de gestión de la continuidad del servicio.",
      // "En la etapa 1 de la gestión de la continuidad del servicio: se define la iniciación",
      // "En la etapa 2 de la gestión de la continuidad del servicio: se definen los requisitos y la estrategia",
      // "En la etapa 3 de la gestión de la continuidad del servicio: se define la implementación",
      // "En la etapa 4 de la gestión de la continuidad del servicio: se define la operación en curso",
      // "Se han definido KPI de gestión de la continuidad del servicio",
      // "Se han definido los informes de gestión de la información de Service Continuity Management",
    };
  },
  methods: {
    async recuperarData() {
      
      try {
        let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
        const res = await this.$axios.get(
          `api/sgcnegocio/BIACuestionario/${user}`
        );
        console.log("NOTAS");
        console.log(res);
        this.idForm = res.data._id;
        this.bandera = res.data.respuestas;

        this.question.forEach(element => {

          element.nota = res.data.respuestas[element.id - 1];
          console.log(element);
        });

        console.log("PREGUNTAS")
        console.log(this.question)
        this.flag = true;
      } catch (error) {
        console.log("error")
        console.log(error);
        this.question.forEach(element => {
          element.nota = 0;
        });
        this.flag = false;
      }
    },

    fabricar() {
      console.log("FABRICACIÓN")
      this.envioFormulario = [];
      console.log(this.question);
      console.log(this.envioFormulario);
      this.question.forEach(element => {
        this.envioFormulario.push(element.nota);
      });
    },
    async recuperaPreguntas() {
      this.question = [];
      try {
        let user = this.$cookies.get("dataClient").organizacion;
        console.log(user);
        const res = await this.$axios
          .get(`api/sgcnegocio/preguntasbia`)
          .then(res => {
            console.log(res);
            const d = res.data;
            let va = 1;
            d.forEach(element => {
              this.question.push({
                pregunta: element.pregunta,
                nota: 0,
                id: va
              });
            
              va++;
            });
          });

        // this.colocar()
      } catch (error) {
        console.log(error);
        this.question.forEach(element => {
          element.nota = 0;
        });
      }
    },

    async enviar() {
      this.fabricar();
      console.log(this.question);
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      try {
        await this.$axios.post(`api/sgcnegocio/BIACuestionario`, {
          usuario: user,
          respuestas: this.envioFormulario
        });
        this.$notifier.showMessage({
          content: "El formulario se cargo exitosamente",
          color: "success"
        });
        this.recuperarData();
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },

    async actualizar() {
      this.fabricar();
      let user = this.$cookies.get("dataClient").usuario.nombreUsuario;
      console.log(this.envioFormulario);
      console.log(this.idForm);
      console.log(user);
      try {
        await this.$axios.put(`api/sgcnegocio/BIACuestionario`, {
          _id: this.idForm,
          usuario: user,
          respuestas: this.envioFormulario
        });
        this.$notifier.showMessage({
          content: "Formulario actualizado",
          color: "success"
        });
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          content: "No fue posible enviar el formulario intente de nuevo",
          color: "error"
        });
      }
    },

    getColor(value) {
      if (value <= 2) return "red";
      else if (value >= 3 && value <= 4) return "orange";
      else return "green";
    }
  },
  mounted() {
    this.recuperaPreguntas();
    this.recuperarData();
    
  }
};
</script>
