<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Estrategias para el departamento - {{depar}}</h2>
        </v-col>
      </v-row>
      <v-row>
        <BiaEstrategia></BiaEstrategia>
      </v-row>
    </v-container>
  </v-card>
</template>



<script>
import BiaEstrategia from "../../components/bia_seisEstrategia.vue"


export default {
     layout: "userDepartamento",
     components: {BiaEstrategia},
     data() {
    return {
      tabs: null,
      depar: this.$cookies.get("dataClient").departamento,
      id: "", 
    };
  },
}
</script>
