<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Lista de Amenazas</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color:black"> Escala </v-tab>
            <v-tab style="color:black"> Procesos amenaza </v-tab>
            <v-tab style="color:black"> Valoración de amenzas </v-tab>
             <v-tab style="color:black"> Valoración de Recursos </v-tab>
            <!-- <v-tab style="color:black"> Medidas </v-tab> -->
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <!-- <v-tab-item>
          <InicioEtapa></InicioEtapa>
        </v-tab-item> -->
        <v-tab-item>
          <BiaSeisUno></BiaSeisUno>
        </v-tab-item>
        <v-tab-item>
          <BiaSeisDos></BiaSeisDos>
        </v-tab-item>
        <v-tab-item>
          <BiaSeisTres></BiaSeisTres>
        </v-tab-item>
        <v-tab-item>
          <BiaSeisCuatro></BiaSeisCuatro>
        </v-tab-item>
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>



<script>
import BiaSeisDos from "../../components/componentsVicente/bia_seisDos.vue"
import BiaSeisUno from "../../components/componentsVicente/bia_seisUno.vue"
import BiaSeisTres from "../../components/componentsVicente/bia_seisTres.vue"
import BiaSeisCuatro from "../../components/componentsVicente/bia_seisCuatro.vue"

export default {
     layout: "userDepartamento",
     components: {BiaSeisUno, BiaSeisDos, BiaSeisTres, BiaSeisCuatro},
     data() {
    return {
      tabs: null,
      id: "", 
    };
  },
}
</script>