<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Mitigación de Procesos</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            <v-tab style="color:black"> Procesos que requieren mitigación </v-tab>
           
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        
        <v-tab-item>
          <ProcesosMitigacion></ProcesosMitigacion>
        </v-tab-item>
    
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>



<script>
import ProcesosMitigacion from "../../components/componentsVicente/bia_tres.vue"
import BiaUno from "../../components/componentsVicente/bia_uno.vue"

export default {
     layout: "userDepartamento",
     components: {ProcesosMitigacion, BiaUno},
     data() {
    return {
      tabs: null,
      id: "", 
    };
  },
}
</script>