<template>
    <v-card elevation="3">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <h2 style="text-align:center">Lista de Amenazas</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" sm="1" md="1">
          <v-icon> </v-icon>
        </v-col>
        <v-col cols="11" sm="11" md="11">
          
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-toolbar color="white" dark flat style="margin-bottom: 40px">
        <template v-slot:extension>
          <v-tabs v-model="tabs" centered>
            
            <v-tab style="color:black"> Recursos Uno </v-tab>
            <v-tab style="color:black"> Recursos Dos </v-tab>
           
            <!-- <v-tab style="color:black"> Medidas </v-tab> -->
       
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tabs">
        <!-- <v-tab-item>
          <InicioEtapa></InicioEtapa>
        </v-tab-item> -->
       
        <v-tab-item>
          <BiaCuatroUno></BiaCuatroUno>
        </v-tab-item>
        <v-tab-item>
          <BiaCuatroDos></BiaCuatroDos>
        </v-tab-item>
       
      </v-tabs-items> 
    </v-container>
  </v-card>
</template>


<script>
import BiaCuatro from "../../components/componentsVicente/bia_cuatro.vue"
import BiaCuatroUno from "../../components/componentsVicente/bia_cuatroUno.vue"
import BiaCuatroDos from "../../components/componentsVicente/bia_cuatroDos.vue"

export default {
     layout: "userDepartamento",
     components: {BiaCuatro, BiaCuatroUno,BiaCuatroDos },
     data() {
    return {
      tabs: null,
      depar: this.$cookies.get("dataClient").departamento,
      id: "", 
    };
  },
}
</script>

